.activity{:id => activity.action, :class => "#{activity.trackable_type} job_#{activity.job_id}"}    
  .glyphicon.glyphicon-list
  .activity-body
    .activity-body-header
      .details
        - if activity.user.user_avatar.present?
          = image_tag activity.user.user_avatar.image.small_image, :class => 'circle', :size => "50x50"
        - else 
          .circle-img
            %img(src="/tmp/little-man.png") 
        .content 
          - if activity.trackable.taskable_type == "Candidate"
            = "#{activity.user.first_name} #{activity.user.last_name} created the task #{activity.trackable.kind} on #{activity.trackable.taskable.full_name}" 
          - if activity.trackable.taskable_type == "Job"
            = "#{activity.user.first_name} #{activity.user.last_name} created the task #{activity.trackable.kind} on #{activity.trackable.taskable.title}" 
          %br
          .time= "#{time_ago_in_words(activity.created_at)} ago" 
    .task-body
      = link_to completed_business_tasks_path(id: "#{activity.trackable.id}"), method: :post, remote: true do 
        .glyphicon.glyphicon-ok 
      .details
        .title= "#{activity.trackable.title}"
        - if activity.trackable.due_date.present?
          .due-date= "#{activity.trackable.due_date.strftime("%b %d")} by #{activity.trackable.due_time}"
    .activity-row
      .comment-body
        - if !activity.trackable.notes.present?
          .no-notes There are currently no notes for this task.
        - else
          = activity.trackable.notes 
    - if activity.trackable.users.present?
      .activity-row
        - activity.trackable.users.each do |user|
          .assigned Assigned To: 
          .user-tag
            .name= current_user.full_name 

    

    