= form_for [:business, @completed_assessment], html: {remote: true} do |f|
  .interview-scorecard-form
    .form-row-no-border
      = render 'scorecard_fields', f: f   
    
    = f.hidden_field :scorecard_id, value: @scorecard.id
    = f.hidden_field :assessment_id, value: @assessment.id
  
  .modal-footer
    = f.button "Save", class: "btn submit-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'> </i> Saving..."}
    .btn.border-button.close-modal Cancel