= form_for [:business, @completed_assessment], html: {remote: true} do |f|
  .form-radios
    %ul  
      %li.filter#overview.active Overview
      %li.filter#questions Questions
      %li.filter#scorecard Scorecard
  .overview-container.standard-padding
    %h3 Interview Overview
    .overview
      = simple_format(@assessment.preperation)

  .questions-container.standard-padding.hidden-container
    .interview-scorecard-form
      - if @completed_assessment.new_record? 
        = render 'questions_fields', f: f
      - else 
        = render 'edit_question_fields', f: f

  .scorecard-container.hidden-container.standard-padding
    .interview-scorecard-form
      = render 'scorecard_fields', f: f
      
        
    = f.hidden_field :assessment_id, value: @assessment.id
    = f.hidden_field :scorecard_id, value: @scorecard.id
  .container-footer
    = f.button "Save", class: "btn submit-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'> </i> Saving..."}
    .btn.border-button.close-modal Cancel




  