- @candidate.user.projects.each do |project|
  .project-container{id: "project_#{project.id}"}
    - if project.attachments.first.file_type.start_with? 'image'
      = link_to business_candidate_show_project_path(@candidate.id, project: project.id), remote: true do
        .project-image= image_tag project.attachments.first.file.small_image
    - elsif project.attachments.first.file_type.include?("pdf")
      = link_to business_candidate_show_project_path(@candidate.id, project: project.id), remote: true do
        .project-image= image_tag project.attachments.first.file.pdf_medium
    - elsif project.attachments.first.file_image.present?
      = link_to business_candidate_show_project_path(@candidate.id, project: project.id), remote: true do
        .project-image= image_tag project.attachments.first.file_image
    - else 
      = link_to business_candidate_show_project_path(@candidate.id, project: project.id), remote: true do
        .project-image= image_tag project.attachments.first.file.xs_images
    
    .project-body
      .project-header
        .title= link_to "#{project.title}", business_candidate_show_project_path(@candidate, project.id), remote: true
        .dropdown
          .dropdown-button
            %i.fa.fa-ellipsis-h.fa-lg
          .dropdown-content#myDropdown
            = link_to edit_job_seeker_project_path(project.id), remote: true do
              %i.fa.fa-pencil
              .action Edit
            = link_to job_seeker_project_path(project.id), remote: true, :method => :delete do  
              %i.fa.fa-trash-o
              .action Destroy     
      .description
        = project.description



.modal#show-project-modal
  .modal-dialog
    .modal-content
      .modal-body