#post-a-job
  .side-container
    = render 'business/shared/job_details_nav'
  .main-container
    #stage-header   
      %h4 Scorecard    
      - if @scorecard.present? 
        = link_to "+ Edit Scorecard", edit_business_job_scorecard_path(@job, @scorecard), remote: true
      - else 
        = link_to "+ Create Scorecard", new_business_job_scorecard_path(@job), remote: true
      / = render 'business/scorecard_sections/sections', sections: @sections 
    .job_scorecard  
      - if @job.scorecard.present?  
        = render 'business/scorecards/scorecard'
      - else 
        .not-present-container
          %p There is currently no scorecard for this job. 
          = link_to "+ Create Scorecard", new_business_job_scorecard_path(@job), remote: true
