.applicant-view
  .applicant-main-container
    .applicant-header
      .user-image
        %img.circle(src="/tmp/man.jpg")
      
      .applicant-details
        %h3 Logan Houston 
        %p.location Toronto, Ontario, CA
        %p loganh0522@gmail.com
        %p 416-806-6907 
      
    .applicant-nav-bar  
      .ul 
        .li= link_to "Profile", business_job_application_path(@job.id, @application.id)
        .li Messages 
        .li= link_to "Notes", business_job_application_comments_path(@job.id, @application.id)
        .li= link_to "Assessments", business_job_application_assessments_path(@job.id, @application.id) 
        .li= link_to "Scorecard", business_job_application_scorecards_path(@job.id, @application.id)
      
    .applicant-experience
      .header
        %h3 Scorecard
        - if @current_user_scorecard.present? 
          = link_to "My Scorecard", edit_business_job_application_application_scorecard_path(@job, @application, @current_user_scorecard), {:data => {:toggle => "modal", :target => "#edit_scorecardModal"}} 
          = render "edit_my_scorecard" 
        - else 
          = link_to "My Scorecard", new_business_job_application_application_scorecard_path(@job, @application), {:data => {:toggle => "modal", :target => "#scorecardModal"}} 
          = render "my_scorecard"
        
        
        
      .experience
        %h4 Overall Rating 
        - @sections.each do |section|
          %table.table
            %thead
              %tr
                %th(width="20%")= section.body
                %th(width="80%")
            - section.section_options.each do |criteria|
              %tbody
                %tr
                  %td= criteria.body
                  %td
                    - @application_scorecards.each do |scorecard| 
                      - scorecard.scorecard_ratings.each do |rating|
                        - if rating.rating == 1 && rating.section_option_id == criteria.id
                          %i.glyphicon.glyphicon-remove
                        - elsif rating.rating == 2 && rating.section_option_id == criteria.id
                          %i.glyphicon.glyphicon-thumbs-down
                        - elsif rating.rating == 3 && rating.section_option_id == criteria.id
                          %i.glyphicon.glyphicon-thumbs-up
                        - elsif rating.rating == 4 && rating.section_option_id == criteria.id
                          %i.glyphicon.glyphicon-star

  .applicant-side-container
    .current-stage
      %h4= "Current Stage: #{@stage.name}"

      = form_tag business_job_application_move_stages_path(@job.id, @application) do
        %input(type="submit" value="Move to Next Stage" class="btn btn-success")

      = form_tag sort_business_job_stages_path do
        %input(type="submit" value="X Reject" class="btn btn-danger")

    .add-task
      %h4 Add a Task
      %p Create a task for this applicant. Tag a team member using @name to notify them of the task.
      = form_tag do
        = text_area_tag(:q)

    .send-applicant-message
      %h4 Send a Message 
      %p Create a task for this applicant. Tag a team member using @name to notify them of the task.
      = form_tag do
        = text_area_tag(:q)

.footer