- if @job_board.cover_photo.present? 
  .job-board-header{:style => "background-image: url(#{@job_board.cover_photo.url})"}
    .intro-message
      .header= @job_board.header
      .sub-header= @job_board.subheader
- else
  .job-board-header{:style => "background-color: #EF7B2B"}
    .intro-message
      .header= @job_board.header
      .sub-header= @job_board.subheader
  

.company-job-board  
  .jobs
    %h2 Current Job Openings
    - if @jobs.count != 0  
      - @jobs.each do |job|
        .job-posting
          .header-info
            .job-detail
              .title= link_to "#{job.title}", "jobs/#{job.id}" 
            .view-job{:style => "background-color: #{@job_board.brand_color}"}= link_to "View Job", "jobs/#{job.id}", class: "btn"
          .bottom-info
            .left-side
              %img(src="/tmp/black-small-location.png") 
              = "#{job.location}"
              
              %img(src="/tmp/black-small-bar-chart.png") 
              = job.career_level
            .right-side 
              %img(src="/tmp/black-small-hammer.png") 
              = job.job_industries.first.industry.name

              %img(src="/tmp/black-small-briefcase.png") 
              = job.kind

              %img(src="/tmp/black-small-clock.png") 
              = "#{time_ago_in_words(job.created_at)} ago"
    - else 
      .not-present-container
        %p Sorry, there are currently no open job postings. 
  .footer