- if @job_board.job_board_header.background_image.present? 
  .portal-header{:style => "background: url(#{@job_board.job_board_header.background_image.file.url}) no-repeat center center fixed; background-size: cover "}
    .header-overlay{:style => "background: rgba(0,0,0,0.4)"}
      .intro-message
        .header= @job_board.job_board_header.header
        .sub-header= @job_board.job_board_header.subheader  
- else
  .portal-header{:style => "background-color: #EF7B2B"}
    .header-overlay{:style => "background: rgba(0,0,0,0.5)"}
      .intro-message
        .header= @job_board.job_board_header.header
        .sub-header= @job_board.job_board_header.subheader  


- if @sections.count != 0
  .job-board-sections
    - @sections.each do |section|
      .section
        .section-content
          - if section.kind == 'Text'
            - if "#{section.layout}" == 'float-left'
              = render 'job_board_rows/text_img_left', section: section
            - elsif "#{section.layout}" == 'float-right'
              = render 'job_board_rows/text_img_right', section: section
            - elsif "#{section.layout}" == 'center'
              = render 'job_board_rows/text_img_center', section: section
          
          - elsif section.kind == 'Video'
            = render 'job_board_rows/video_row', section: section
          
          - elsif section.kind == 'Photo'
            .header-message
              .header= section.header
              .sub-header= section.subheader
            .images-container.owl-carousel.owl-theme.owl-loaded
              - section.media_photos.each do |img|
                = image_tag img.file_name.medium_image 
              .owl-controls
                .owl-dots
                  .owl-dot.active
                    %span
                  .owl-dot
                    %span
                  .owl-dot
                    %span

.company-job-board  
  - if @company.job_board.kind == "basic"
    - if @company.logo.present?
      .logo
        = link_to root_path do
          %img(src="#{@company.logo.file.large_logo}")
    .basic-jobs
      %h2{style: "color: #67696C"} Current Job Openings
      - if @jobs.count != 0  
        - @jobs.each do |job|
          .title= link_to "#{job.title}", "jobs/#{job.id}", {style: "color: #67696C"}
      - else 
        .not-present-container
          %p Sorry, there are currently no open job postings. 
  - else 
    .jobs
      - @jobs.each do |job|
        .job-posting
          .header-info
            %img(src="#{job.company.job_board.logo}" class="logo") 
            .job-detail
              .title= link_to "#{job.title}", job_path(job)
              .company= job.company.name
            .view-job= link_to "View Job", job_path(job), class: "btn btn-primary"
          .bottom-info
            .left-side
              %img(src="/tmp/small-location.png") 
              = "#{job.location}"
              
              %img(src="/tmp/small-bar-chart.png") 
              / = job.job_career_level.first.career_level.name
            .right-side 
              %img(src="/tmp/small-hammer.png") 
              / = job.industries.first.name

              %img(src="/tmp/small-briefcase.png") 
              / = job.job_kind.first.name

              %img(src="/tmp/small-clock.png") 
              - if job.created_at.present?
                = "#{time_ago_in_words(job.created_at)} ago"
    
.footer