= render 'job_boards/advanced_portal/header'

- if @job_board.kind == 'advanced'
  - if @sections.count != 0
    .job-board-sections
      - @sections.each do |section|
        .section{id: "board_row_#{section.id}"}
          - if section.kind == 'Text-Photo'
            - if "#{section.layout}" == 'float-left'
              = render 'job_board_rows/text_img_left', section: section
            - elsif "#{section.layout}" == 'float-right'
              = render 'job_board_rows/text_img_right', section: section
            - elsif "#{section.layout}" == 'center'
              = render 'job_board_rows/text_img_center', section: section
          - elsif section.kind == 'Text'
            = render 'job_board_rows/text', section: section
          - elsif section.kind == 'Video'
            = render 'job_board_rows/video_row', section: section
          - elsif section.kind == 'Team'
            = render 'job_board_rows/team', section: section
          - elsif section.kind == 'Photo'
            = render 'job_board_rows/photos', section: section


.company-job-board  
  - if @company.job_board.kind == "basic"
    - if @company.logo.present?
      .logo
        = link_to root_path do
          %img(src="#{@company.logo.file.large_logo}")
    .basic-jobs
      %h2{style: "color: #67696C"} Current Job Openings
      - if @jobs.count != 0  
        - @jobs.each do |job|
          .title= link_to "#{job.title}", "jobs/#{job.id}", {style: "color: #67696C"}
      - else 
        .not-present-container
          %p Sorry, there are currently no open job postings. 
  - else 
    .jobs#jobs
      - @jobs.each do |job|
        .job-posting
          .header-info
            .job-detail
              .title= link_to "#{job.title}", job_path(job)
            .view-job= link_to "View Job", job_path(job), class: "btn btn-primary"
          .bottom-info
            .left-side
              = "#{job.location}"
            .right-side 
              / = job.industries.first.name
              / = job.job_kind.first.name
              = "#{time_ago_in_words(job.created_at)} ago"
    
.footer