.career-portal
  .container
    .header
      %h1= "About #{@company.name}"
    .body
      %p= simple_format(@company.job_board.description)
    .header
      %h1 Current Opportunities 
    .jobs  
      - @jobs.each do |job|
        .job
          .details
            %h4= "#{job.title}"
            %p Toronto, On, Canada
            = link_to "Apply", "jobs/#{job.id}", class: "btn btn-primary"