= bootstrap_form_for [:business, @candidate], remote: true do |f|
  .modal-body
    .experience-container 
      .header 
        .title Contact Details 

      %fieldset.work-experience
        .row
          .col-md-6
            = f.text_field :first_name, class: "form-control", hide_label: true, placeholder: "First Name"
          .col-md-6
            = f.text_field :last_name, class: "form-control", hide_label: true, placeholder:"Last Name"
        .row
          .col-md-6
            = f.text_field :email, class: "form-control", hide_label: true, placeholder: "E-mail"
          .col-md-6
            = f.text_field :phone, class: "form-control", hide_label: true, placeholder: "Phone"
 
    .experience-container
      .header
        .title Experience
      = f.fields_for :work_experiences do |q|
        = render "profiles/work_experience_fields", f: q      
      = link_to_add_fields "+ Add Work Experience", f, :work_experiences
    .experience-container
      .header
        .title Education
      = f.fields_for :educations do |q|
        = render "profiles/education_fields", f: q
      = link_to_add_fields "+ Add Education", f, :educations
    / / .experience-container
    /   .header#certification-header
    /     .title Certification
    /   = f.fields_for :user_certifications do |q|
    /     = render "user_certification_fields", f: q
    /   = link_to_add_fields "+ Add Certification", f, :user_certifications
  .modal-footer
    = f.hidden_field :company_id, value: current_company.id
    = f.hidden_field :manually_created, value: true
    = f.submit "Create Profile", class: "btn submit-button"