#all-candidates
  %h1= "All Candidates"
  .actions
    .search-field
      = form_tag business_applications_path, method: :get do   
        .form-group
          = search_field_tag :query, params[:query], placeholder: "Advanced Text Search", class: "form-control"
    = render "business/candidates/app_new_modal"
    = link_to 'Add Candidate', new_business_candidate_path, class: "btn border-button2", id: "move-applicants", remote: true

#main-container
  #job-applicants
    .application-actions
      .no-action-buttons
        .btn.border-button Add Note
        .btn.border-button Send E-mail
      .applicant-action-buttons
        = link_to 'Add Note', '#', class: "btn active-application-button", id: "move-applicants", :data => {:toggle => "modal", :target => "#add_commentModal"}
        = link_to 'Send E-mail', '#', class: "btn active-application-button", id: "move-applicants", :data => {:toggle => "modal", :target => "#send_messageModal"}
    .side-container
      = render "business/candidates/candidate_table/candidate_filters"        
    .main-container
      = render 'business/candidates/candidate_table/all_candidates_table'

  .modal#applicant-modal
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        .modal-body

  .modal#add-to-jobModal
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
          %h4.modal-title Add to Job 
        .modal-body