.page-header
  %h2 All Candidates
  .actions
    = render 'business/candidates/candidate_table/actions'
#main-container
  #padding
    .side-container
      = render "business/candidates/candidate_table/candidate_filters"        
    .main-container
      .all-candidates-table
        = render 'business/candidates/candidate_table/all_candidates_table'
      .pagination-container
        = render 'business/candidates/candidate_table/pagination'
        
/ = render "business/comments/add_comment"
/ = render "business/candidates/destroy"

.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title

= render 'business/shared/newModal'
- if @candidate.present? 
  :javascript
    $('.names a:first').trigger("click");