= form_for [:business, @client], remote: true do |f|
  .modal-body
    .form-row-no-border
      = f.label :company_name, "Company Name"
      = f.text_field :company_name, id: "company_name_Block", placeholder: "Company Name"
      %span#company_name_msgBlock
    .form-row-no-border
      = f.label :website, "Website"
      = f.text_field :website, placeholder: "Website"
    .form-row-no-border
      = f.label :address, "Address"
      = f.text_field :address, id: "geocomplete2", placeholder: "Enter the Address"
      = f.hidden_field :user_id, value: current_user.id
      = f.hidden_field :company_id, value: current_company.id
  .modal-footer
    = f.button "Save Client", class: "btn submit-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'> </i> Saving..."}
    .btn.border-button.close-modal Cancel