.job-show-header
  .header
    .details
      %h1= @client.company_name
  .change-containers-nav
    %ul 
      = link_to business_client_client_contacts_path(@client), remote: true do 
        %li Contacts
      = link_to business_client_jobs_path(@client) do 
        %li{:class => is_activated?(business_client_jobs_path(@client))} Jobs
      = link_to business_client_tasks_path(@client) do 
        %li Tasks
      = link_to business_client_comments_path(@client) do 
        %li Notes
      = link_to business_client_activities_path(@client) do 
        %li Activity

#main-container
  .all-client-contacts-container
    = render 'business/client_contacts/contact_table'

= render 'business/clients/modal'