<% if @errors.present? %>
  <% @errors.each do |error| %>
    <% if error[0].split(".").count === 2 %> 
      $("#<%= error[0].split('.').last %>_Block").each(function(){
        if ($("#<%= error[0].split('.').last %>_Block").val().length === 0) {
          if ($("#<%= error[0].split('.').last %>_Block").hasClass('has-error')){
            return
          }
          else {
            $("#<%= error[0].split('.').last %>_Block").addClass('has-error');
            $("#<%= error[0].split('.').last %>_msgBlock").append('<div class="notice"><%= escape_javascript(error[1]) %></div>');
          }
        }
        else if ($("#<%= error[0].split('.').last %>_Block").val().length > 0 ){
          $("#<%= error[0].split('.').last %>_Block").removeClass('has-error');
          $("#<%= error[0].split('.').last %>_msgBlock").hide();
        }
      });
      
    <% else %>
      if ($("#<%= error[0] %>_Block").val().length === 0) {
        if ($("#<%= error[0] %>_Block").hasClass('has-error')) {
        }
        else
          $('#<%= error[0] %>_msgBlock').append('<div class="notice"><%= escape_javascript(error[1]) %></div>');
          $('#<%= error[0] %>_Block').addClass('has-error');
      }
      else if ($("#<%= error[0] %>_Block").val().length > 0){
        $("#<%= error[0] %>_Block").removeClass('has-error');
        $("#<%= error[0] %>_msgBlock").hide();
      } 
    <% end %>
  <% end %>
<% else %>
  $('#basic-form-modal').modal('hide');
<% end %>