.container
  .sidebar
    = render 'business/shared/post_job'


  .job_scorecard 
    .header   
      %h1 Application Form

    = form_for [:business, @job, @questionairre] do |f|

      = f.fields_for :questions do |q| 
        = render 'question_fields', f: q 

      = link_to_add_fields "Add Question", f, :questions    

      = f.hidden_field :job_id, value: @job.id
      %br
      %br
      = f.submit "Create Form", class: "submit btn btn-primary"

