.contain
  .sidebar
    = render 'business/shared/post_job'

  .main-container
    .header   
      %h1 Application Form
    .body
      .job_scorecard
        = form_for [:business, @job, @questionairre] do |f|

          = f.fields_for :questions, Question.new do |q| 
            = render "question_fields", f: q

          = link_to_add_fields "+ Add Question", f, :questions    
          = f.hidden_field :job_id, value: @job.id

          .actions
            = f.submit "Create Form", class: "submit btn btn-primary"
            = link_to "Delete Form", '#', remote: true, method: :delete, class: "btn btn-default"









  