
%section.create-job.row.col-md-12
  %section.col-md-2.col-md-offset-1
    %ul.nav.nav-pills.nav-stacked
      %li
        = link_to '#' do 
          %span.glyphicon.glyphicon-plane
          Job Description
      %li= link_to 'Application Form'
      %li= link_to 'Recruitment Process'
      %li= link_to 'Hiring Team'
      %li= link_to 'Advertise Job' 
      %li= link_to 'External Recruiters' 
  

  %section.col-md-8
    .panel.panel-primary
      .panel-heading
        .panel-title Job Posting
      .panel-body 
        = render '/shared/errors', type: @job_posting
        %h4 Create the information for the job
        %br
        = bootstrap_form_for [:business, @job_posting] do |f|
          .fieldset
            .row
              .form-group.col-md-6
                = f.text_field :title, class: "form-control", label: "Job Title"
            .row
              .form-group.col-md-4
                = f.text_field :country, class: "form-control", label: "Country"
              .form-group.col-md-4
                = f.text_field :province, class: "form-control", label: "Province"
              .form-group.col-md-4
                = f.text_field :city, class: "form-control", label: "City"
            .row
              .form-group.col-md-12
                = f.text_area :description, rows: 12, class: "form-control", label: "Description"
            .row
              .form-group.col-md-12
                = f.text_area :benefits, rows: 12, class: "form-control", label: "Benefits"
            .row
              .col-md-1.col-md-offset-10
                = f.submit "Post Job", class: "btn btn-primary"

