= form_for [:business, @room], remote: true do |f|
  .modal-body
    .form-row-no-border
      = f.label :name, "Room Name"
      = f.text_field :name, placeholder: "Name", autocomplete: "off", id: "name_Block"
      %span.error#name_msgBlock
      = f.label :email, "Room E-mail Address"
      = f.text_field :email, placeholder: "E-mail", autocomplete: "off", id: "email_Block"
      %span.error#email_msgBlock
  .modal-footer
    = f.hidden_field :company_id, value: current_company.id
    = f.submit "Create Room", class: "btn submit-button"
    .btn.border-button.close-modal Cancel