 %h1 Work Experience
  = bootstrap_form_for [@user] do |f|
    .body
      .job_scorecard
        = f.fields_for :work_experiences, WorkExperience.new do |q| 
          = render "/profiles/work_experience_fields", f: q        
        = link_to_add_fields "+ Add Work Experience", f, :work_experiences
    .footer
      = f.submit "Next", class: "submit btn btn-primary"

  