.job-seeker-profile
  .background-photo
  
  .user-image
    - if current_user.user_avatar.present? 
      = link_to  '#', :data => {:toggle => "modal", :target => "#profile-picture-modal"} do
        %i.glyphicon.glyphicon-pencil
      = image_tag @avatar.image.large_image if @avatar.present?  
      = render 'job_seeker/profiles/profile_picture'
    - else      
      = link_to '#', :data => {:toggle => "modal", :target => "#profile-picture-modal"} do
        %i.glyphicon.glyphicon-pencil
      %img(src="/tmp/blank_profile_picture.png")
      = render 'job_seeker/profiles/profile_picture'
  = render 'job_seeker/users/form'
  .profile-header
    .personal-details
      = link_to '#', :data => {:toggle => "modal", :target => "#user-information"} do
        %i.glyphicon.glyphicon-pencil
      .name= "#{current_user.full_name}"
      = "#{current_user.email} | #{current_user.phone}"
      %br
      = current_user.location
      %br
      %br
      = current_user.tag_line
      
    .change-containers-nav
      %ul
        %li.change#experience.activated Experience 
        %li.change#education Education      
        %li.change#skills Certifications
        %li.change#my-apps My Applications

  .main-container#main-container
    .experience-container.showing
      .header#experience-header
        .title Experience
        .new_experience
          = link_to "+ Add Experience", new_job_seeker_profile_work_experience_path(@profile), :data => {:remote => true}, :html => {id: 'new_work_experience_button'}
      = render 'job_seeker/work_experiences/experience'
      
    .education-container
      .header#education-header
        .title Education
        .new_experience
          = link_to "+ Add Education", new_job_seeker_profile_education_path(@profile), :data => {:remote => true}, :html => {id: 'new_education_button'}
      = render 'job_seeker/educations/education_history'     
    .skills-container
      .header#certification-header
        .title Certifications
        .new_experience
          = link_to "+ Add Certification", new_job_seeker_profile_user_certification_path(@profile), :data => {:remote => true}, :html => {id: 'new_user_certification_button'}
      = render 'job_seeker/user_certifications/certifications'    
    .career-prefs-container
      = render 'job_seeker/career_preferences/career_preferences'
    .my-apps-container
      = render 'job_seeker/profiles/applications' 
                



                
     
  /       .current_experience
  /         .bold Current Role 
  /         %br
  /         .shift= "Founder - TalentWiz.com" 
  /       .current_education
  /         .bold Education 
  /         %br
  /         .shift= "Queen's - Bachelor of Commerce"
  
  
  / .main-body
  /   .sidebar
  /     .header
  /       .title Skills
  /     = render "job_seeker/user_skills/form"
  /     .sidebar-container
  /       - if current_user.user_skills.count == 0
  /         .skills-not-present
  /           %p No Skills Listed
  /       - else
  /         = render 'job_seeker/user_skills/skills'
        
  
  .modal
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
          %h4.modal-title  
        .modal-body


