.create-profile-container
  .create-profile-header
    %h1 Build your Profile
    %p Your profile is submitted to the jobs that you apply for so that you do not have to compelete a new profile every time. So please take a few minutes to complete your profile.  
  .create-profile-body
  %h3 Contact Details
    .job-seeker-profile
      = render 'job_seeker/background_images/form'
      .job-seeker-topper
        - if @background.new_record? 
          .background
            .profile-header
              .personal-details
                = render 'job_seeker/user_avatars/user_avatar'
        - else 
          .background{:style => "background: url(#{@background.file}) no-repeat center center; background-size: cover "}
            .profile-header
              .personal-details
                = render 'job_seeker/user_avatars/user_avatar'
    
    = form_for [:job_seeker, current_user] do |f| 
      .row
        .col-md-6
          = f.label "First Name"
          = f.text_field :first_name, id: "first_name_Block", class: "form-control", placeholder: "First Name"
          %span#first_name_msgBlock
        .col-md-6
          = f.label "Last Name"
          = f.text_field :last_name, id: "last_name_Block", class: "form-control", placeholder:"Last Name"
          %span#last_name_msgBlock
      .row
        .col-md-6
          = f.label "E-mail"
          = f.text_field :email, id: "email_Block", class: "form-control", placeholder: "E-mail"
          %span#email_msgBlock
        .col-md-6
          = f.label "Cell Phone"
          = f.text_field :phone, class: "form-control", hide_label: true, placeholder: "Phone"
      .row
        = f.label "Location"
        = f.text_field :location, class: "form-control", id: "geocomplete", label: "Location", autocomplete: "off"
      
      .row
        .header
          .title Social Media    
          = link_to_add_fields "+ Link", f, :social_links
          = f.fields_for :social_links, class: "options" do |a|
            = render 'social_link_fields', f: a




    / = form_for @profile do |f|
    /   .experience-container
    /     .header
    /       .title Experience
    /     = f.fields_for :work_experiences do |q|
    /       = render "work_experience_fields", f: q      
    /     = link_to_add_fields "+ Add Work Experience", f, :work_experiences
    /   .experience-container
    /     .header
    /       .title Education
    /     = f.fields_for :educations do |q|
    /       = render "education_fields", f: q
    /     = link_to_add_fields "+ Add Education", f, :educations
    /   / .experience-container
    /   /   .header#certification-header
    /   /     .title Certification
    /   /   = f.fields_for :user_certifications do |q|
    /   /     = render "user_certification_fields", f: q
    /   /   = link_to_add_fields "+ Add Certification", f, :user_certifications
    /   .footer
    /     = f.hidden_field :user_id, value: current_user.id
    /     = f.submit "Create Profile", class: "job-seeker-btn"

.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        .modal-title
      .modal-body

.modal#userProfilePictureModal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title Edit Profile Picture