= form_for [:business, @customer], html: {id: "payment-form"} do |f|
  %fieldset.credit_card
    %span.payment-errors
    .row
      .form-group.col-sm-10
        %label.control-label(for="credit-card-number") Credit Card Number
        %input.form-control#credit-card-number(type="text" data-stripe="number")
    .row
      .form-group.col-sm-10
        %label.control-label(for="security-code") Security Code
        %input.form-control#security-code(type="text" data-stripe="cvc")
    .row
      %label.control-label.col-sm-2 Expiration
    .row
      .col-sm-6
        = select_month(Date.today, {add_month_numbers: true},  class: 'form-control', data: {stripe: "exp-month"})
      .col-sm-6 
        = select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'form-control', data: {stripe: "exp-year"})
  %fieldset.form-group.action
  = f.submit @company.customer.present? ? "Update Payment Details" : "Add Payment Details" , class: "btn btn-primary" 
  - if @company.customer.present? 
    = link_to "Cancel", business_customers_path, class: "btn"