= form_tag create_plan_business_customers_path, html: {id: "payment-form"} do
  %span.payment-errors
  %table.table
    %thead
      %tr
        %th(width="20%") Name 
        %th(width="20%") Open Positions
        %th(width="25%") Monthly Plan
        %th(width="25%") Yearly Plan
      %tr
        %td
          .plan Start-up
        %td
          .open-jobs 1 Active Jobs
        %td
          = radio_button_tag(:plan, "start_up_month", (@customer.plan == 'start_up_month' ? {checked: true} : false))
          = label_tag "plan_start_up_month", value: "start_up_month" , for: 'plan_start_up_month', class: 'border-button interview-type' do
            $19 / month
        %td
          = radio_button_tag(:plan, "start_up_year", (@customer.plan == 'start_up_year' ? {checked: true} : false)) 
          = label_tag "plan_start_up_year", value: "start_up_year" , for: 'plan_start_up_year', class: 'border-button interview-type' do
            $199 / year   
      %tr
        %td
          .plan Basic
        %td
          .open-jobs 5 Active Jobs
        %td
          = radio_button_tag(:plan, "basic_month", (@customer.plan == 'basic_month' ? {checked: true} : false))
          = label_tag "plan_basic_month", value: "basic_month" , for: 'plan_basic_month', class: 'border-button interview-type' do
            $49 / month
        %td
          = radio_button_tag(:plan, "basic_year", (@customer.plan == 'basic_year' ? {checked: true} : false))
          = label_tag "plan_basic_year", value: "basic_year" , for: 'plan_basic_year', class: 'border-button interview-type' do
            $499 / year
      %tr
        %td
          .plan Team
        %td
          .open-jobs 10 Active Jobs
        %td
          = radio_button_tag(:plan, "team_month", (@customer.plan == 'team_month' ? {checked: true} : false))
          = label_tag "plan_team_year", value: "team_month" , for: 'plan_team_month', class: 'border-button interview-type' do
            $99 / month
        %td
          = radio_button_tag(:plan, "team_year", (@customer.plan == 'team_year' ? {checked: true} : false))
          = label_tag "plan_team_year", value: "team_year" , for: 'plan_team_year', class: 'border-button interview-type' do
            $999 / year 
      %tr
        %td
          .plan Plus
        %td
          .open-jobs 20 Active Jobs
        %td
          = radio_button_tag(:plan, "plus_month", (@customer.plan == 'plus_month' ? {checked: true} : false))
          = label_tag "plan_plus_month", value: "plus_month" , for: 'plan_plus_month', class: 'border-button interview-type' do
            $199 / Month
        %td
          = radio_button_tag(:plan, "plus_year", (@customer.plan == 'plus_year' ? {checked: true} : false))
          = label_tag "plan_plus_year", value: "plus_year" , for: 'plan_plus_year', class: 'border-button interview-type' do
            $1999 / year
  .container-footer
    = submit_tag "Select Plan", class: "btn border-button"
      