= form_tag update_plan_business_customers_path, html: {id: "payment-form"}  do
  %span.payment-errors
  %table.table
    %thead
      %tr
        %th(width="20%") Name 
        %th(width="20%") Open Positions
        %th(width="25%") Monthly Plan
        %th(width="25%") Yearly Plan
        %th(width="10%") 
      %tr
        %td
          .plan Start-up
        %td
          .open-jobs 1 Active Jobs
        %td
          .select-cost= radio_button_tag(:plan, "start_up_month", (@customer.plan == 'start_up_month' ? {checked: true} : false))
          .cost $19 / month

        %td
          .select-cost= radio_button_tag(:plan, "start_up_year", (@customer.plan == 'start_up_year' ? {checked: true} : false))
          .cost $190 / year
      %tr
        %td
          .plan Basic
        %td
          .open-jobs 5 Active Jobs
        %td
          .select-cost= radio_button_tag(:plan, "basic_month", (@customer.plan == 'basic_month' ? {checked: true} : false))
          .cost $49 / month
        %td
          .select-cost= radio_button_tag(:plan, "basic_year", (@customer.plan == 'basic_year' ? {checked: true} : false))
          .cost $490 / year
      %tr
        %td
          .plan Team
        %td
          .open-jobs 10 Active Jobs
        %td
          .select-cost= radio_button_tag(:plan, "team_month", (@customer.plan == 'team_month' ? {checked: true} : false))
          .cost $99 / month
        %td
          .select-cost= radio_button_tag(:plan, "team_year", (@customer.plan == 'team_year' ? {checked: true} : false))
          .cost $990 / year
      %tr
        %td
          .plan Plus
        %td
          .open-jobs 20 Active Jobs
        %td
          .select-cost= radio_button_tag(:plan, "plus_month", (@customer.plan == 'plus_month' ? {checked: true} : false))
          .cost $199 / month
        %td
          = radio_button_tag(:plan, "plus_year", (@customer.plan == 'plus_year' ? {checked: true} : false))
          = label_tag "plan_plus_year", value: "plus_year" , for: 'plan_plus_year', class: 'border-button interview-type' do
            Plus
            $1990 / year
            20 Active Jobs $1990 / year

  .container-footer
    = link_to "Cancel your subscription", cancel_business_customers_path 
    = submit_tag "Change Plan", confirm: "Are you sure you want to change your plan?", class: "btn border-button"