.page-header
  %h2 Admin 
  .admin-nav
    %ul
      %li= link_to "Career Portal", business_job_board_path(current_company.job_board.id)
      %li= link_to "Templates", business_email_templates_path
      %li= link_to "Settings", business_company_path(current_company), class: 'active'

.company-settings
  .side-container#job-nav
    = render 'business/shared/admin_sidebar'
  .main-container 
    .standard-header
      %h3 Billing Information
    .standard-body
      / = render 'business/customers/form'
      = render 'business/customers/cus_details'
    - if current_company.customer.present?
      .container-footer
        = link_to 'Update Billing Information', edit_business_customer_path(current_company.customer.id), class: 'btn border-button', remote: true

  .main-container
    .standard-header
      %h4 Transactions
    .standard-body
      %table.table
        %thead
          %tr
            %th(width="25%") Name 
            %th(width="15%") Amount
            %th(width="25%") Card
            %th(width="30%") Date Issued
            %th(width="5%") Receipt
        %tbody
          - if @orders.present?
            - @orders.each do |order|
              %tr
                %td= order.title
                %td= number_to_currency(order.total / 100)
                %td= "**** **** **** #{order.last_four}"
                %td= order.created_at.strftime("%A, %B %e, %Y")
                %td= order.id
          - else 
            .not-present-container
              %p There are currently no transactions



