.page-header
  %h2 Admin 
  .admin-nav
    %ul
      %li= link_to "Career Portal", business_job_board_path(current_company.job_board.id)
      %li= link_to "Templates", business_email_templates_path
      %li= link_to "Settings", business_company_path(current_company), class: 'active'

.company-settings
  .side-container#job-nav
    = render 'business/shared/admin_sidebar'
  .main-container 
    .standard-header
      %h3 Billing Information
    .cus_details
      = render 'business/customers/cus_details'
    .container-footer
      = link_to 'Update Billing Information', edit_business_customer_path(current_company.customer.id), class: 'btn border-button', remote: true


.modal#createBillingDetails
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title Billing Details
      = render 'business/customers/form'


<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
Stripe.setPublishableKey("#{ENV['STRIPE_PUBLISHABLE_KEY']}");
</script>
= javascript_include_tag 'payment'