<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
Stripe.setPublishableKey("#{ENV['STRIPE_PUBLISHABLE_KEY']}");
</script>

= javascript_include_tag 'payment'

.company-settings
  .side-container
    = render 'business/shared/admin_sidebar'
  .main-container
    .standard-header
      %h2 Billing Information
    .billing
      .body
        .billing
          - if current_company.customer == nil 
            = render "no_billing_plan"
          - elsif current_company.customer.plan == nil
            = render "no_plan"
          - else
            = render "update_plan"

