.activity{:id => notification.action, :class => "#{notification.trackable_type} "}      
  .icon
    .glyphicon.glyphicon-edit
  .comment-header
    .commenting-user
      - if current_user.user_avatar.present?
        = image_tag activity.user.user_avatar.image.small_image, :class => 'circle', :size => "50x50"
      - else
        .circle-img= activity.user.first_name.first.capitalize
      %span= "#{notification.user.full_name}"
      finished their scorecard 
      .time= "#{time_ago_in_words(notification.created_at)} ago" 
