.modal-body
  .form-row-no-border
    .new-user
      %h3 First Time User
      %br
      %p 1. Create a re-usable Career Portfolio 
      %p 2. Apply to Job 
      %p 3. Track Applications 
      %p 4. Get Hired 

      
      = link_to "Create Profile", new_user_path, class: "btn submit-button", :style => "background-color: #{@job_board.brand_color}", remote: true
    
    .sign-in 
      %h3 Already Have an Account? 
      %br
      = form_tag url: '/login' do |f|
        %fieldset
          = email_field_tag :email, '', placeholder: "E-mail", hide_label: true
          = password_field_tag :password, '', placeholder: "Password", hide_label: true
          
          %input(type="submit" value="Log In" class="btn submit-button" style = "background-color: #{@job_board.brand_color}")
      .forgot-password
        = link_to 'Forgot Password', '/forgot_password'
.modal-footer
  .power
    .powered-by Powered by
    %img(src="/tmp/logo.jpg")