.business-registration
  = form_tag url: '/login' do |f|
    .standard-header
      %img.logo(src="/tmp/logo.jpg")
      %h2 Login to TalentWiz
    .body
      .form-row-no-border
        = label_tag "E-mail"
        .field
          = email_field_tag :email, "", placeholder: "E-mail"
      .form-row-no-border
        = label_tag "Password"
        .field  
          = password_field_tag :password, "", placeholder: "Password"
    .container-footer
      .have-account
        Forgot your password? 
        %br
        = link_to 'Reset Password', '/forgot_password'
      = submit_tag "Sign In", class: "btn submit-button"

