.change-containers-nav
  %ul
    = link_to business_candidate_path(@candidate), remote: true do
      %li.change#profile.activated Profile
    
    = link_to business_candidate_messages_path(@candidate), remote: true do
      %li.change#messages Messages 
    = link_to business_candidate_comments_path(@candidate), remote: true do
      %li.change#notes Notes

    = link_to business_candidate_application_form_path(@candidate), remote: true do
      %li.change#assessments Assessments
    
    = link_to business_candidate_application_scorecards_path(@candidate), remote: true do
      %li.change#scorecards Scorecards
    
/     %li.change#activity
/       Activity
