.profile-container
  .change-containers-nav
    %ul 
      = link_to business_candidate_path(@candidate), remote: true do
        %li.change#profile-link.activated Profile
      - if @candidate.resumes.present?
        = link_to business_candidate_resume_path(@candidate.id, @candidate.resumes.first.id), remote: true do 
          %li.change#resume-link Resume
      - else 
        = link_to new_business_candidate_resume_path(@candidate.id), remote: true do 
          %li.change#resume-link Resume
  .experience-container
    = render 'business/shared_manual_candidate/work_experience'
    = render 'business/shared_manual_candidate/education'
    

  
