.change-containers
  %ul
    = link_to business_candidate_path(@candidate), remote: true do
      %li.change#profile.activated Profile
    
    = link_to scorecards_business_candidate_path(@candidate), remote: true do
      %li.change#scorecards Scorecards

    = link_to business_candidate_application_form_path(@candidate), remote: true do
      %li.change#assessments Assessments

    = link_to business_candidate_messages_path(@candidate), remote: true do
      %li.change#messages Messages 

    = link_to business_candidate_tasks_path(@candidate), remote: true do
      %li.change#tasks Tasks
      
    = link_to business_candidate_comments_path(@candidate), remote: true do
      %li.change#notes Notes

    = link_to business_candidate_activities_path(@candidate), remote: true do 
      %li.change#activity Activity

.bottom-row
  = link_to new_business_candidate_task_path(@candidate), id: "add-task", remote: true do 
    .glyphicon Task

  = link_to new_business_candidate_comment_path(@candidate), id: "add-note", remote: true do
    .glyphicon.glyphicon-pencil Note

  = link_to new_business_candidate_interview_invitation_path(@candidate), id: "add-invitation", remote: true do 
    .glyphicon.glyphicon-calendar Schedule Interview

  = link_to new_business_candidate_message_path(@candidate), id: "add-message", remote: true do 
    .glyphicon.glyphicon-envelope E-mail

  .hide-can-form Hide
  / .stage
  /   = link_to business_candidate_path(@candidate), :method => :delete, remote: true do 
  /     .glyphicon.glyphicon-trash