- if @candidate.manually_created == true
  .user-image
    .profile_picture
      %img(src="/tmp/blank_profile_picture.png")
  .applicant-details
    .name-rating
      .name= "#{@candidate.full_name.capitalize}"
      / = render 'business/ratings/form', application: @candidate.applications.first
    .current-position
  .actions
    .dropdown
      .dropdown-button.border-button
        Actions
        .caret
      .dropdown-content#myDropdown
        = link_to edit_business_candidate_path(@candidate), remote: true do
          %i.fa.fa-pencil
          .action Edit
        = link_to business_candidate_path(@candidate), remote: true, :method => :delete do  
          %i.fa.fa-trash-o
          .action Destroy 
     
- else
  .user-image
    .profile_picture
      - if @candidate.user.user_avatar.present?
        = image_tag @candidate.user.user_avatar.image.large_image 
      - else 
        %img(src="/tmp/blank_profile_picture.png")
  .applicant-details
    .name-rating
      .name= "#{@candidate.user.full_name}"
      = link_to edit_business_candidate_path(@candidate), remote: true do 
        .glyphicon.glyphicon-pencil
      / = render 'business/ratings/form', application: @candidate.applications.first
    / .current-position
    /   - if @candidate.user.current_jobs.present?
    /     = "#{@candidate.user.current_jobs.first.title}  #{@candidate.user.current_jobs.first.company_name} "
  .actions
    .dropdown
      .dropdown-button.border-button
        Actions
        .caret
      .dropdown-content#myDropdown
        = link_to edit_business_candidate_path(@candidate), remote: true do
          %i.fa.fa-pencil
          .action Edit
        = link_to business_candidate_path(@candidate), remote: true, :method => :delete do  
          %i.fa.fa-trash-o
          .action Destroy 


    .contact-details
      .glyphicon.glyphicon-earphone 
        = "#{@candidate.user.phone}"
      %br
      .glyphicon.glyphicon-envelope
        = "#{@candidate.user.email}"
      %br
      .glyphicon.glyphicon-map-marker
        = "#{@candidate.user.location}"