.side-sections
  .side-section
    .header
      %h4 Tasks
      .toggle-actions
        = form_tag search_business_tasks_path, :method => 'get', id: "search-form" do 
          = radio_button_tag "task", "all", true, class: 'filter'
          = label_tag "task_all", "Active", :value => "all", class: 'filter'
          = radio_button_tag "task", "complete", false, class: 'filter'
          = label_tag "task_complete", "Complete", :value => "open", class: 'filter'
    = render 'business/tasks/candidate_tasks'
  .side-section
    .header
      %h4 Schedule 
    / = render 'business/interviews/candidate_interviews'
  .side-section
    .header
      %h4 Tags
      = render 'business/tags/form'
    .tags
      = render "business/tags/tags"   
  .side-section
    .header
      %h4 All Applications
    - @candidate.applications.each do |application| 
      .title= application.job.title
    = link_to 'Add to Job', new_business_candidate_application_path(@candidate), remote: true

