- if @interviews.present? 
  - @interviews.each do |interview|
    - if interview.start_time > Time.now
      .candidate-interview
        .header
          .title= interview.title
          .type= interview.kind
        .date-time
          %i.fa.fa-clock-o
          .date-time-container
            .date= "#{interview.start_time.strftime('%A %B %e')}"
            .time= "#{interview.start_time.strftime('%I:%M %p')} - #{interview.end_time.strftime('%I:%M %p')}"
        .date-time
          %i.fa.fa-map-marker
          .date-time-container
            .date= "#{interview.location}"
            .time= "#{interview.room}" 

        .details
          .contain-50
            = link_to "Interview Kit", new_business_interview_scorecard_path(interview: interview), remote: true
          .contain-50
            .box-row
              .title Interviewers:
              .content
                - interview.users.each do |user|   
                  .user-tag= user.full_name
    - else
      .not-present-container
        %p No Events Scheduled
- else
  .not-present-container
    %p No Events Scheduled


        
