- if @interviews.present? 
  - @interviews.each do |interview|
    - if local_time(interview.start_time) > local_time(Time.now)
      .candidate-interview
        .header
          .title= interview.title
          .date-time
            %i.fa.fa-clock-o
            .time= "#{interview.start_time.strftime('%A %B %e')}  @  #{interview.start_time.strftime('%I:%M %p')} - #{interview.end_time.strftime('%I:%M %p')}"
          .date-time
            %i.fa.fa-clipboard
            .time
              - if interview.assessment.present?
                = link_to "Interview Kit", business_interview_kit_path(interview.assessment)
          .date-time
            %i.fa.fa-map-marker
            .time= "#{interview.location}"
            
        .body
          .title Interviewers:
          .content
            - interview.users.each do |user|   
              .user-tag= user.full_name

        / 
        /   .date-time-container
        /     
        
        / .date-time
        /   %i.fa.fa-map-marker
        /   .date-time-container
        /     .date= "#{interview.location}"
        /     .time= "#{interview.room}" 
        /   .type= interview.kind
        / .details
        /   .contain-50
        /     = link_to "Interview Kit", new_business_completed_assessment_path(interview: interview)
        /   .contain-50
            
- else
  .not-present-container
    %p No Events Scheduled


        
