= form_tag search_business_interviews_path, :method => 'get', id: "search-form" do
  .filter-radios 
    = radio_button_tag "owner", "company", true, class: 'filter'
    = label_tag "owner_company", "All", :value => "company", class: 'filter'
    = radio_button_tag "owner", "user", false, class: 'filter'
    = label_tag "owner_user", "My Interviews", :value => "my-tasks", class: 'filter'

  = render 'filter_links'
  .filter-container
    .filter-header
      %h4 Interview Type
      .glyphicon.glyphicon-minus
      .glyphicon.glyphicon-plus
    .filter-body
      %ul
        %li 
          = check_box_tag "", false, false, class: 'filter'
          .filter-title Phone Interview
        %li
          = check_box_tag "", false, false, class: 'filter'
          .filter-title In-person Interview
        %li
          = check_box_tag "", false, false, class: 'filter'
          .filter-title Skype
        / %li.activity  
        /  .applicant-filter-checkbox{:data => {:id => "archived", :filter => 'JobStatus'}}
        /    = check_box_tag "", false, false, class: 'filter-checkbox'
        /    .filter-title Team Meeting
  .filter-container
    .filter-header
      %h4 Active Jobs
      .glyphicon.glyphicon-minus
      .glyphicon.glyphicon-plus
    .filter-body 
      %ul
        - current_company.company_jobs.each do |job| 
          %li
            = check_box_tag "job_title[]", "#{job}", false, class: 'filter'
            .filter-title #{job}