= form_for [:business, @interview], html: {remote: true} do |f|
  .modal-body
    .column-6
      .form-row-no-border 
        .contain-3
          = f.label "Title"
          = f.text_field :title, id: "title_Block", placeholder: "Event Title"
          %span#title_msgBlock.help-block
        .contain-3
          = f.label "Location"
          = f.text_field :location, id: "geocomplete2", label: "Address", autocomplete: "off", placeholder: "Enter the Address"
        .contain-3
          = f.label "Type of Meeting"
          = f.select :kind, options_for_select(["Phone Interview", "Skype", "In-person Interview"]), id: "kind_Block"
          %span#kind_msgBlock.help-block
      .form-row-no-border 
        .contain-3
          = f.label "Date"
          = f.text_field :date, id: "dueDate", placeholder: "Date"
          %span#date_msgBlock.help-block
        .contain-3
          = f.label "Start Time"
          = f.text_field :start_time, id: "timepicker", placeholder: "Start Time"
          %span#start_time_msgBlock.help-block
        .contain-3
          = f.label "End Time"
          = f.text_field :end_time, id: "timepicker2", placeholder: "End Time"
          %span#end_time_msgBlock.help-block
      .form-row-no-border 
        .contain-100
          = f.label "Notes"
          = f.text_area :notes, placeholder: "Add additional details for the candidate(ex. floor number)"
    .column-4
      .form-row-no-border
        = f.label :candidate, "Add Team Members"
        = render 'business/users/users_autocomplete'
        = f.hidden_field :user_ids, value: current_user.id, id: "user_ids"
        
      .form-row-no-border
        = f.label :candidate, "Add Candidate"
        #candidate_id_Block
          = render 'business/candidates/single_auto'
          %span#candidate_id_msgBlock.help-block
        - if @candidate.present?
          = f.hidden_field :candidate_id, value: @candidate.id 
        - else 
          = f.hidden_field :candidate_id, value: '', id: 'candidate_id'

    
    = f.hidden_field :company_id, value: current_company.id
    = f.hidden_field :job_id, value: @job.id if @job.present?
    
  .modal-footer
    = f.submit @interview.new_record? ? "Create" : "Update", class: "btn submit-button"
    .btn.border-button{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel
    


