#interview
  .date
    .event-day= interview.day
    .event-month= interview.month
  .details
    .box-row
      .title= "#{interview.kind} with" #{interview.candidate.full_name} for"
      .time= "#{interview.start_time} - #{interview.end_time}"
    .box-row
      .title Interviewers:
      .content
        - interview.users.each do |user|   
          .user-tag= user.full_name
      
    
      
