%section.admin-header.col-md-12.row
  .admin-items.col-md-offset-1
    %ul
      %li.company-name TalentWiz
      %li.dropdown
        %button(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle btn btn-default" data-target="#")
          Subsidiaries
          %b.caret
        %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
          - @subsidiaries.each do |subsidiary| 
            %li= link_to subsidiary.name, business_subsidiary_locations_path(subsidiary)
      %li.new-sub
        = link_to "New Subsidiary", new_business_subsidiary_path, class: 'btn btn-primary'
  
.row.col-md-12
  %section.col-md-2.col-md-offset-1
    %ul.nav.nav-pills.nav-stacked
      %li
        = link_to '#' do 
          %span.glyphicon.glyphicon-plane
          Company Profile
      %li= link_to 'Company Structure'
      %li= link_to 'Hiring Team'
      %li= link_to 'Templates' 
      %li= link_to 'Subscription' 
      %li= link_to 'Billing'
  
  %section.locations.col-md-8
    .panel.panel-primary
      .panel-heading
        .panel-title #{@company.name} Locations
        = link_to "New Location", new_business_location_path, class: 'btn btn-default'
      %table.table
        %thead
          %tr
            %th User Name
            %th User Email 
            %th User Level 
            %th 
            %th
        %tbody
          %tr
            %td
              %p Logan Houston
            %td
              %p Loganh@talentwiz.com
            %td
              %p Super Admin
          %tr
            %td
              %p Georgia Banks
            %td
              %p gbanks@talentwiz.com
            %td
              %p Location Manager