.email-template-area
  = form_for [:business, @email_template], html: {remote: true, class: 'invite'} do |f|
    .subject
      .sender= f.text_field :title, placeholder: "Title", id: "message-subject"
    .subject
      .sender= f.text_field :subject, id: "message-subject", placeholder: "Subject"
    .email-variables
      Insert:
      = select_tag "insert-fluid-variable", options_for_select([ "Applicant First Name", "Applicant Last Name", "Applicant Full Name", "Job Title", "Company Name" ] ), :include_blank => true, id: "insert-fluid-variable"
    = f.text_area :body, :class => "tinymce", id: "message-body", rows: 12, cols: 12
    = tinymce_assets        
    = tinymce :alternate
    .email-footer
      %fieldset
      = hidden_field_tag :user_id, current_user.id
      = hidden_field_tag :company_id, current_company.id
      %br
      = f.submit "Save Template", class: "btn submit-button"
      - if !@email_template.new_record?
        .close-form#edit-form.btn.btn-default     
          Close
      - else
        .close-form#new-form.btn.btn-default     
          Close
            