.activity{:id => activity.action, :class => "#{activity.trackable_type} job_#{activity.job_id}"}      
  .icon
    .glyphicon.glyphicon-edit
  .activity-body
    .activity-body-header
      .details
        - if activity.user.user_avatar.present?
          = image_tag activity.user.user_avatar.image.small_image, :class => 'circle', :size => "50x50"
        - else
          .circle-img
            %img(src="/tmp/little-man.png") 
        .content 
          - if activity.candidate.manually_created == true
            .title= "#{activity.user.full_name} finished their scorecard for #{activity.candidate.full_name} application for #{activity.job.title}"
          - else 
            .title= "#{activity.user.full_name} finished their scorecard for #{activity.candidate.user.full_name} application for #{activity.job.title}"
          %br
          .time= "#{time_ago_in_words(activity.created_at)} ago" 