%div{:class => "work-experience", id: "user_certification_#{certification.id}"}
  .job-position
    .experience-header 
      .company= certification.name
      .edit
        = link_to "Edit", edit_job_seeker_profile_user_certification_path(@profile,certification.id), :data => {:remote => true} 
    .experience-position
      .title= certification.agency
      - if certification.expires == 1
        .date= "#{certification.start_month} #{certification.start_year} - Present"
      - else    
        .date= "#{certification.start_month} #{certification.start_year} - #{certification.end_month} #{certification.end_year}"    
    .experience-body 
      %p.description= certification.description