
= bootstrap_form_for [:job_seeker, @work_experience], html: {remote: true, class: 'profile-form'} do |f|
  .fieldset
    .row
      .col-md-12
        = f.text_field :title, class: "form-control", label: "Job Title"
    .row
      .col-md-12
        = f.text_field :company_name, class: "form-control", label: "Company Name"
    .row
      .col-md-12
        = f.text_field :city, class: "form-control", id: "geocomplete", label: "Location", autocomplete: "off"
    .row
      .col-md-6
        = f.collection_select(:industry_ids, Industry.all, :id, :name, label: "Industry")
      .col-md-6
        = f.collection_select(:function_ids, Function.all, :id, :name, label: "Job Function")
    .row
      .col-md-3
        = f.select :start_month, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'Novemeber', 'December'], include_blank: "Select a Month"
      .col-md-3
        = f.text_field :start_year
      .col-md-3
        = f.select :end_month, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'Novemeber', 'December'], include_blank: "Select a Month"
      .col-md-3
        = f.text_field :end_year
    .row 
      .col-sm-6.col-md-offset-6
        = f.check_box :current_position, checked_value: 1, unchecked_value: 0
    .row
      .col-md-12
        = f.text_area :description, rows: 12, class: "form-control", label: "Description"
    = f.submit @work_experience.new_record? ? "Add Work Experience" : "Update", class: "submit btn btn-primary"
    
    - if !@work_experience.new_record?
      .close-form#edit-form.btn.btn-default     
        Close
    - else
      .close-form#new-form.btn.btn-default     
        Close
    - if !@work_experience.new_record?
      = link_to "Remove Work Experience", job_seeker_user_certification_path(@work_experience), remote: true, method: :delete
