
= bootstrap_form_for [:job_seeker, @profile, @work_experience], html: {remote: true, class: 'profile-form'} do |f|
  .modal-body
    .fieldset
      .row
        .col-md-6
          = f.text_field :title, placeholder: "Job Title", hide_label: true
          %span#title_Block.help-block
        .col-md-6
          = f.text_field :company_name, placeholder: "Company Name", hide_label: true
          %span#company_name_Block.help-block
      .row
        .col-md-6
          = f.collection_select(:industry_ids, Industry.all, :id, :name, hide_label: true, prompt: "Select Industry")
          %span#industry_ids_Block.help-block
        .col-md-6
          = f.collection_select(:function_ids, Function.all, :id, :name, hide_label: true, prompt: "Select Job Function")
          %span#function_ids_Block.help-block
      .row
        .col-md-3.col-xs-6.col-sm-6
          = f.select :start_month, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'Novemeber', 'December'], include_blank: "Select a Month"
          %span#start_month_Block.help-block
        .col-md-3.col-xs-6.col-sm-6
          = f.select(:start_year, 1960..2020)
          %span#start_year_Block.help-block
        .col-md-3.col-xs-6.col-sm-6
          = f.select :end_month, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'Novemeber', 'December'], include_blank: "Select a Month"
          %span#end_year_Block.help-block
        .col-md-3.col-xs-6.col-sm-6
          = f.select(:end_year, 1960..2020)
          %span#end_month_Block.help-block
      .row 
        .col-sm-6.col-md-offset-6
          = f.check_box :current_position, checked_value: 1, unchecked_value: 0
          %span#current_position_Block.help-block
      .row
        .col-md-12
          = f.text_area :description, rows: 5, hide_label: true, placeholder: "Description"
          %span#description_Block.help-block
  .modal-footer
    = f.submit @work_experience.new_record? ? "Add Work Experience" : "Update", class: "submit btn btn-primary"
    .close-form#edit-form.btn.btn-default{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel


