= bootstrap_form_for [:job_seeker, @work_experience], html: {remote: true, class: 'invite'} do |f|
  .fieldset
    .row
      .form-group.col-md-12
        = f.text_field :title, class: "form-control", label: "Job Title"
    .row
      .form-group.col-md-12
        = f.text_field :company_name, class: "form-control", label: "Company Name"
    .row
      .form-group.col-md-6
        = f.collection_select(:industry_ids, Industry.all, :id, :name, label: "Industry")
      .form-group.col-md-6
        = f.collection_select(:function_ids, Function.all, :id, :name, label: "Job Function")
    .row
      .form-group.col-md-4
        = f.collection_select(:country_ids, Country.all, :id, :name, label: "Country")
      .form-group.col-md-4
        = f.grouped_collection_select(:state_ids, Country.order(:name), :states, :name, :id, :name, include_blank: true)
      .form-group.col-md-4
        = f.text_field :city, class: "form-control", label: "City"
    .row
      .form-group.col-md-3
        = f.select :start_month, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'Novemeber', 'December']
      .form-group.col-md-3
        = f.text_field :start_year
      .form-group.col-md-3
        = f.select :end_month, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'Novemeber', 'December']
      .form-group.col-md-3
        = f.text_field :end_year
    .row 
      .col-sm-6.col-md-offset-6
        = f.check_box :current_position, checked_value: 1, unchecked_value: 0
      
    .row
      .form-group.col-md-12
        = f.text_area :description, rows: 12, class: "form-control", label: "Description"
    = f.submit "Add Experience", class: "submit btn btn-primary"
