= form_for [:job_seeker, @work_experience], remote: true do |f|
  .modal-body
    .column-6
      .form-row-no-border
        .contain-50
          = f.label "Title"
          = f.text_field :title, id: "title_Block", placeholder: "Job Title", hide_label: true
          %span#title_msgBlock
        .contain-50
          = f.label "Company"
          = f.text_field :company_name, id: "company_name_Block", placeholder: "Company Name", hide_label: true
          %span#company_name_msgBlock
      .form-row-no-border
        .contain-50
          = f.label "Industry"
          = f.collection_select(:industry, Industry.all, :id, :name, hide_label: true, prompt: "Select Industry", :selected => @work_experience.new_record? ? nil : @work_experience.industry)
          %span#industry_msgBlock
        .contain-50
          = f.label "Job Function"
          = f.collection_select(:function, Function.all, :id, :name, hide_label: true, prompt: "Select Job Function", :selected => @work_experience.new_record? ? nil : @work_experience.function)
          %span#function_msgBlock
      .form-row-no-border
        .contain-25
          = f.label "Start Date"
          = f.select :start_month, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'Novemeber', 'December'], include_blank: "Select a Month", id: "start_month_Block"
          %span#start_month_msgBlock
          = f.check_box :current_position, checked_value: 1, unchecked_value: 0
          = f.label :current_position, "Current Position"
        .contain-25
          = f.label "Year"
          = f.text_field :start_year, id: "start_year_Block"
          %span#start_year_msgBlock
        .contain-25
          = f.label :end_month, "End Date"
          = f.select :end_month, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'Novemeber', 'December'], include_blank: "Select a Month", id: "end_month_Block"
          %span#end_year_msgBlock
        .contain-25
          = f.label :end_year, "Year"
          = f.text_field :end_year, id: "end_year_Block"
          %span#end_month_msgBlock
          
      .form-row-no-border
        = f.label "Description"
        = f.text_area :description, rows: 5, placeholder: "Description", id: "description_Block"
        %span#description_msgBlock
    .column-4
      .column-container
        .header
          .title Accomplishments
        = link_to_add_fields_after "+ Add", f, :accomplishments
        = f.fields_for :accomplishments do |a|
          = render 'accomplishment_fields', f: a 
      .column-container
        .header
          .title Skills Used
        .body
          = text_field_tag '', '', :class => 'ui-autocomplete-input user_skills', :placeholder => 'Add a Skill', id: "skills", hide_label: true
          #search-results-user_skills 
          = hidden_field_tag :user_skills, '', id: 'user-skills-field'
          .btn.submit-button#add-skills Add
          #add-tags
            = render 'job_seeker/user_skills/project_skills', position: @work_experience

  .modal-footer
    = f.submit @work_experience.new_record? ? "Add Experience" : "Update", class: "btn submit-button"
    .btn.border-button.close-modal Cancel


