%div{:class => "work-experience", id: "work_experience_#{position.id}"}
  .job-position
    .job-position-header
      .job-position-header-content
        .experience-header 
          .company= position.company_name
          .edit
            = link_to "Edit", edit_job_seeker_work_experience_path(position.id), :data => {:remote => true}     
            = link_to job_seeker_work_experience_path(position.id), remote: true, :method => :delete, data:{:confirm => "Are You Sure? You can not undo this action."}  do
              .glyphicon.glyphicon-trash  
        .experience-position
          .title= position.title 
          - if position.current_position == 1
            .date= "#{position.start_month} #{position.start_year} - Present"
          - else
            .date= "#{position.start_month} #{position.start_year} - #{position.start_month} #{position.end_year}"
    .job-position-body
      .job-position-body-content
        .experience-body 
          .description
            = position.description
          .skills
            = render 'job_seeker/user_skills/skills', position: position
    - if position.accomplishments.present?
      .job-position-body
        .job-position-body-content
          .experience-body 
            .accomplishments
              %div{id: "work_accomplishments_#{position.id}"}
                = render "job_seeker/accomplishments/all_accomplishments", position: position
    .actions
      %ul
        %li
          = link_to "+ Add Accomplishment", new_job_seeker_work_experience_accomplishment_path( position.id), :data => {:remote => true}, class: 'add-accomplishment'
        %li
          = link_to "+ Add Skills", new_job_seeker_work_experience_user_skill_path(position.id), :data => {:remote => true}, class: 'add-accomplishment'
        / %li
        /   = link_to "+ Get a Reference", new_job_seeker_work_experience_path, :data => {:toggle => "modal", :target => "#work-experience-modal"}


