.page-header
  .custom-select#subsidiary-admin-select
    = select_tag :start_month, options_for_select(current_company.subsidiaries.collect{ |u| [u.subsidiary.name, u.id] } + [current_company.name]), include_blank: "#{current_company.name}" 
  .admin-nav
    %ul
      %li= link_to "Career Portal", business_job_board_path(current_company.job_board.id)
      %li= link_to "Templates", business_email_templates_path
      %li= link_to "Settings", business_company_path(current_company), class: 'active'
.company-settings
  .side-container#job-nav
    = render 'business/shared/admin_sidebar'
  .main-container
    .standard-header
      %h3 Hiring Defaults
    .standard-body
      .contain-45 
        .standard-body-header
          %h4 Rejection Reasons
          = link_to "Create Reason", new_business_rejection_reason_path, :data => {:remote => true }, class: "btn border-button"
        .templates-body#reasons
          = render "business/rejection_reasons/rejection_reasons", rejection_reasons: @rejection_reasons
      .contain-45-right
        .standard-body-header
          %h4 Tags
          = link_to "Add Tag", new_business_tag_path(tag: "company"), class: "btn border-button", :data => {:remote => true }
        .tags
          - @tags.each do |tag|
            %div{id: "tag_#{tag.id}", class: "tag"}
              .name= "#" + tag.name
              = link_to business_tag_path(tag), remote: true, :method => :delete do 
                .delete-can-tag &times

