<% if @errors.present? %>
  <% @errors.each do |error| %>
    if (!$('#<%= error[0] %>_Block').hasClass('has-error'))
      $('#<%= error[0] %>_msgBlock').append('<div class="notice"><%= escape_javascript(error[1]) %></div>');
      $('#<%= error[0] %>_Block').addClass('has-error');    
  <% end %>
<% else %>
  $('.smallModal').hide();
  $('#rejection_reason_<%= @reason.id %>').replaceWith('<%= j render (@reason), reason: @reason %>');
<% end %>


