.assessment
  .header
    %h4= "#{assessment.name} Scorecard"
    .my-scorecard
    - if !current_user.completed_assessments.present? 
      - if assessment.kind == "scorecard"
        = link_to "Create Scorecard", new_business_completed_assessment_path(assessment: assessment), remote: true 
      - else
        = link_to "Interview Kit", business_interview_kit_path(assessment), target: :_blank
  
  .body
    - if assessment.completed_assessments.present? 
      - assessment.completed_assessments.each do |assessment| 
        .scorecard-complete
          = user_avatar(assessment.user)
          .details
            .name= assessment.user.full_name
            .overall= card_overall_rating(assessment.overall)
            .links 
              = link_to "edit", edit_business_completed_assessment_path(assessment), remote: true
              = link_to "view", business_completed_assessment_path(assessment), remote: true
     
    - elsif assessment.pending.present?    
      Pending Interview Scorecard 
      - assessment.pending.each do |user|
        .scorecard-complete  
          = user_avatar(user)
          .details
            .name= user.full_name
            - if user == current_user
              .links
                = link_to "Finish Scorecard", new_business_completed_assessment_path(assessment: assessment), remote: true
            - else
              .links
                .name
                  Pending
                  = link_to "(Send Reminder)", new_business_completed_assessment_path(), remote: true
    - else 
      .not-present-container
        %p No completed assessments 
        .add-object= link_to "Complete Assessment", new_business_completed_assessment_path(assessment: assessment), class: 'btn hover-button', remote: true



    