.toggle-actions 
  = radio_button_tag "scorecard", "summary", true, class: 'filter'
  = label_tag "scorecard_summary", "Summary", :value => "all", class: 'filter'
  
  = radio_button_tag "scorecard", "all", false, class: 'filter'
  = label_tag "scorecard_all", "All", :value => "open", class: 'filter'

  = radio_button_tag "scorecard", "pending", false, class: 'filter'
  = label_tag "scorecard_pending", "Pending", :value => "closed", class: 'filter'



.dropdown
  .dropdown-button
    .btn.hover-button + Scorecard
  .dropdown-content#myDropdown
    = link_to new_business_assessment_path, remote: true  do
      .action Scorecard
    = link_to new_business_assessment_path(kind: 'kit'), remote: true do  
      .action Interview Kit

- if @assessments.present? 
  - @assessments.each do |assessment| 
    = render 'business/assessments/assessment', assessment: assessment

- else 
  .assessment
    .not-present-container
      %p No Scorecards have been added for the Candidate
      .add-object= link_to "+ Assessment", new_business_assessment_path, class: 'btn hover-button', remote: true