.assessment
  .header
    %h4= "#{assessment.name} Scorecard"
    .my-scorecard
    .links
      - if assessment.kind == "scorecard"
        = link_to "Create Scorecard", new_business_completed_assessment_path(assessment: assessment), remote: true 

  .body
    - if assessment.completed_assessments.present? 
      - assessment.completed_assessments.each do |assessment| 
        .scorecard-complete
          = user_avatar(assessment.user)
          .details
            .name= assessment.user.full_name
            .overall= card_overall_rating(assessment.overall)
            .links 
              = link_to "edit", edit_business_completed_assessment_path(assessment), remote: true
              = link_to "view", business_completed_assessment_path(assessment), remote: true
     
    - elsif assessment.pending.present?  
      .standard-padding  
        Pending Interview Scorecard 
      - assessment.pending.each do |user|
        .scorecard-complete  
          = user_avatar(user)
          .details
            .name= user.full_name
            - if user == current_user
              
              - if assessment.kind == "scorecard"
                .links
                  = link_to "Finish Scorecard", new_business_completed_assessment_path(assessment: assessment), remote: true
              - else
                .links
                  = link_to "Interview Kit", business_interview_kit_path(assessment), target: :_blank
              
            - else
              .links
                .name
                  Pending
                  = link_to "(Send Reminder)", new_business_completed_assessment_path(), remote: true
    - else 
      .not-present-container
        %p No completed assessments 
        - if assessment.kind == "scorecard"
          .add-object= link_to "Complete Scorecard", new_business_completed_assessment_path(assessment: assessment), remote: true , class: 'btn hover-button'
        - else
          .add-object= link_to "Interview Kit", business_interview_kit_path(assessment), target: :_blank, class: 'btn hover-button'

    