= form_for [:business, @assessment], remote: true do |f|
  .standard-header
    = f.label :name, "Interview Kit Name"
    = f.text_field :name, placeholder: "Interview Kit Name"
  .assign-to-row
    .assign-user#user_ids_Block
      .show-hidden-search-box
        .add-button-search
          .glyphicon.glyphicon-plus
        #multiple-users
          
      .hidden-search-box
        .search-area-content
          %i.fa.fa-search.fa-stack-2x
          = text_field_tag "", "", :placeholder => 'Type a users name to assign', id: "users", autocomplete: "off", class: "autocompleteCustom"
        .auto-users#add-multiple
          = render "business/users/users_auto"
  .form-radios
    %ul  
      %li.filter#overview.active Overview
      %li.filter#questions Questions
      %li.filter#scorecard Scorecard   
  .overview-container.standard-padding
    %h4 Interview Prep Details
    = f.label :preperation, "Interview Prep Details"
    = f.trix_editor :preperation
  
  .questions-container.hidden-container
    %h4 Questions
    %ul#nested-attributes
      = f.fields_for :questions, Question.new do |a|
        = render 'question_fields', f: a
      = link_to_add_fields("+ Add Question", f, :questions)
  
  .scorecard-container.standard-padding.hidden-container
    %h4 Scorecard
    = f.fields_for :scorecard, @scorecard do |s| 
      #scorecard-form
        #nested-sections
          %ul#scorecard-sections
            - if @assessment.new_record?
              = s.fields_for :section_options, SectionOption.new do |a|
                = render 'section_option_fields', f: a  
            - else 
              = s.fields_for :scorecard_sections do |a|
                = render 'section_option_fields', f: a   
            = link_to_add_fields "+ Add Criteria", s, :section_options 
  .container-footer
    = f.hidden_field :application_id, value: @application.id if @application.present?
    = f.hidden_field :candidate_id, value: @candidate.id
    = f.hidden_field :assigned_to, value: "", id: "user_id"
    = f.hidden_field :user_ids,  id: "user_ids"
    = f.submit "Save", class: "btn hover-button"
    .btn.border-button.close-modal Cancel