= form_for [:business, @email], remote: true do |f|
  .modal-body
    .email-area     
      .subject
        .title Subject
        .sender= f.text_field :subject, id: "subject_Block", placeholder: "Type Subject Here", autocomplete: false
        %span#subject_msgBlock
      .email-variables
        .tokens
          = select_tag "insert-fluid-variable", options_for_select([ "Applicant First Name", "Applicant Last Name", "Applicant Full Name", "Job Title", "Company Name" ] ), :prompt => "Insert Token..."
      %fieldset
      .email-content
        = text_area_tag :body, " ", :class => "tinymce", id: "message-body", cols: 20, data: {behaviour: 'comment-body'}
        = tinymce_assets        
        = tinymce 
  .modal-footer
    = submit_tag "Send E-mail", class: "btn submit-button"
    .btn.border-button2{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel