.filter-radios 
  = radio_button_tag "owner", "company", true, class: 'filter'
  = label_tag "owner_company", "All Tasks", :value => "company", class: 'filter'
  
  = radio_button_tag "owner", "user", false, class: 'filter'
  = label_tag "owner_user", "My Tasks", :value => "my-tasks", class: 'filter'

= text_field_tag "query", nil, placeholder: "Search Tasks", class: "search-field", autocomplete: "off"
= render 'filter_links'
.filter-container
  .filter-header
    %h4 Assigned To
    .glyphicon.glyphicon-minus
    .glyphicon.glyphicon-plus
  .filter-body 
    = check_box_tag "status[]", "To-do", false, class: 'filter'
    .filter-title To-Do
.filter-container
  .filter-header
    %h4 Kind
    .glyphicon.glyphicon-minus
    .glyphicon.glyphicon-plus
  .filter-body 
    = check_box_tag "kind[]", "To-do", false, class: 'filter'
    .filter-title To-Do
    = check_box_tag "kind[]", "Email", false, class: 'filter'
    .filter-title Email
    = check_box_tag "kind[]", "Schedule Interview", false, class: 'filter'
    .filter-title Schedule Interview
    = check_box_tag "kind[]", "Send Assesment", false, class: 'filter'
    .filter-title Send Assessment



