.filter-radios 
  = radio_button_tag "owner", "company", true, class: 'filter'
  = label_tag "owner_company", "All Tasks", :value => "company", class: 'filter'
  
  = radio_button_tag "owner", "user", false, class: 'filter'
  = label_tag "owner_user", "My Tasks", :value => "my-tasks", class: 'filter'

= text_field_tag "query", nil, placeholder: "Search Tasks", class: "search-field", autocomplete: "off"

#filter-links
  %ul  
    %li
      = radio_button_tag "status", "active", false, class: 'filter', checked: true
      = label_tag "status_active", "Open Tasks", :value => "my-tasks", class: 'filter'
    %li
      = radio_button_tag "status", "today", false, class: 'filter'
      = label_tag "status_today", "Due Today", :value => "my-tasks", class: 'filter'
    %li
      = radio_button_tag "status", "overdue", false, class: 'filter'
      = label_tag "status_overdue", "Overdue", :value => "my-tasks", class: 'filter'
    %li
      = radio_button_tag "status", "complete", false, class: 'filter'
      = label_tag "status_complete", "Complete", :value => "my-tasks", class: 'filter'

.filter-container
  .filter-header
    %h4 Assigned To
    .glyphicon.glyphicon-minus
    .glyphicon.glyphicon-plus
  .filter-body
    %ul
      - current_company.users.each do |user|
        %li
          = check_box_tag "assigned_to[]", "#{user.id}", false, class: 'filter'
          .filter-title= user.full_name

.filter-container
  .filter-header
    %h4 Task Type
    .glyphicon.glyphicon-minus
    .glyphicon.glyphicon-plus
  .filter-body
    %ul
      %li
        = check_box_tag "kind[]", "To-do", false, class: 'filter'
        .filter-title To-Do
      %li
        = check_box_tag "kind[]", "Email", false, class: 'filter'
        .filter-title Email
      %li
        = check_box_tag "kind[]", "Schedule Interview", false, class: 'filter'
        .filter-title Schedule Interview
      %li
        = check_box_tag "kind[]", "Send Assesment", false, class: 'filter'
        .filter-title Send Assessment
