.task-form
  = form_for [:business, @taskable, @task], html: {remote: true} do |f|
    .form-row-3
      .contain-1
        = f.text_field :title, id: "task-title", placeholder: 'Enter Task'
    .form-row-4
      .contain-2
        = f.text_field :due_date, placeholder: "Due Date"
      .contain-2
        = f.text_field :due_time, id: "timepicker", placeholder: "Add Time"
      .contain-2
        = f.select :kind, options_for_select(["Schedule Interview", "To-do", "Send Assesment", "Finish Assessment"]), :prompt => "Type of Task...", id: "select-kind" 
    = f.text_area :notes, id: "comment-body", placeholder: "Notes"  
    .form-row-2
      .assign_to_row
        .assign-user
          .title Assign Users (Team)
          = text_field_tag "", "", :class => 'ui-autocomplete-input users', :placeholder => 'Type a users name to assign', id: "search-form"
          %div#search-results
        .assigned-users
          .title Assigned Users: 

      = hidden_field_tag :users_ids
      = f.hidden_field :user_id, value: current_user.id
      = f.hidden_field :company_id, value: current_company.id
      = f.hidden_field :status, value: "active"
    .comment-area-footer
      = f.submit @task.new_record? ? "+ Create Task" : "Update Task", class: "btn submit-button", id: "submit-comment-btn"
      - if !@task.new_record? 
        = link_to "Cancel", "#", remote: true, class: 'btn border-button2', id: 'cancel'
