.task-form
  = form_for [:business, @taskable, @task], html: {remote: true} do |f|
    .form-row-1
      .contain-1
        = f.text_field :title, id: "title_Block", placeholder: 'Enter Task', autocomplete: 'off'
        %span#title_msgBlock
    .form-row-4
      .contain-2
        = f.text_field :due_date, placeholder: "Due Date"
      .contain-2
        = f.text_field :due_time, id: "timepicker", placeholder: "Add Time"
      .contain-2
        = f.select :kind, options_for_select(["Schedule Interview", "To-do", "Send Assessment", "Finish Assessment"]), :prompt => "Type of Task...", id: "select-kind" 
        %span#title_msgBlock
    = f.text_area :notes, id: "comment-body", placeholder: "Notes"  
    - if @taskable.class != Application
      .form-row-2
        .assign_to_row#candidate_ids_block
          .assign-user
            .title Add Candidates
            = text_field_tag "", "", :class => 'ui-autocomplete-input candidates', :placeholder => 'Type a users name to assign', id: "search-form"
            %div#search-results
          .assigned-candidates
            .title Candidates:     
      .form-row-2
        .assign_to_row
          .assign-user
            .title Job
            = text_field_tag "", "", :class => 'ui-autocomplete-input jobs', :placeholder => 'Type a users name to assign', id: "search-form" 
            %div#search-results
          .assigned-jobs
            .title Job: 
    .form-row-2
      .assign_to_row
        .assign-user
          .title Assign Users (Team)
          = text_field_tag "", "", :class => 'ui-autocomplete-input users', :placeholder => 'Type a users name to assign', id: "search-form"
          %div#search-results
        .assigned-users
          .title Assigned Users: 
      = f.hidden_field :user_ids, id: "user_ids"
      = f.hidden_field :candidate_ids, id: "candidate_ids"
      = hidden_field_tag :job_id, value: '', id: "job_ids"
      = f.hidden_field :user_id, value: current_user.id
      = f.hidden_field :company_id, value: current_company.id
      = f.hidden_field :status, value: "active"
    .comment-area-footer
      / = link_to "Delete", business_task_path(@task), remote: true, :method => :delete, class: 'btn border-button2'
      = f.submit @task.new_record? ? "+ Create Task" : "Update Task", class: "btn submit-button", id: "submit-comment-btn"
      .btn.border-button2{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel


