.task-area
  = form_for [:business, @taskable, @task], html: {remote: true} do |f|
    = f.text_field :title, id: "task-title", placeholder: 'Enter Task'
    = f.text_area :notes, id: "comment-body", placeholder: "Notes"
    .comment-area-footer
      = f.submit @task.new_record? ? "+ Create Task" : "Update Task", class: "btn submit-button", id: "submit-comment-btn"
      = link_to "Cancel", "#", remote: true, class: 'btn border-button2'
      = f.hidden_field :user_id, value: current_user.id