.application-actions
  - if can? :create, Task
    = link_to "Create Task", new_business_task_path,  data: {:turbolinks => "false"}, remote: true, class: "btn hover-button", id: "client-action"
  .toggle-actions#task-layout
    = radio_button_tag "task", "list", true
    = label_tag "task_list", "List", :value => "list", id: 'list'
    
    = radio_button_tag "task", "table", false
    = label_tag "task_table", "Table", :value => "table", id: 'table'



  / .applicant-action-buttons
  /   = link_to '#', id: "destroy_candidates", class: "move-applicants", :data => {:toggle => "modal", :target => "#destroy_candidatesModal"} do
  /     %i.fa.fa-trash-o
  /     .action Destroy
  /   = link_to "Mark All as Complete", completed_business_tasks_path, method: :post, remote: true 