.applicants
  .applicant-table-body
    %table.table
      %thead
        %tr
          %th(width="1%")
            #select_all= check_box_tag 'Select All', class: 'select_all_applicants'
          %th(width="10%")
          %th(width="20%") Title 
          %th(width="20%") Kind
          %th(width="20%") Assigned To
          %th(width="15%") Task For
          %th(width="14%") Due Date
        %tbody
          .spinner
          .all_applicants_data
            - @tasks.each do |task|
              %tr
                %td
                  .applicant-checkbox{:data => {:id => task.id}}
                    = check_box_tag "task_id[]", task.id
                %td
                  #completed
                    = link_to completed_business_tasks_path(id: task.id), method: :post, remote: true do 
                      .glyphicon.glyphicon-ok
                %td.names
                  = task.title 
                %td
                  = task.kind
                %td
                  - task.users.each do |user|
                    .tag= user.full_name
                %td
                  = "#{time_ago_in_words(task.created_at)} ago"
                %td
                  = task.due_date

