.task{:id => "task_#{task.id}"}
  .edit-delete-actions
    = link_to edit_business_task_path(task), remote: true do
      .glyphicon.glyphicon-pencil
  .body
    = link_to business_task_path(task, status: "complete"), method: :put, remote: true do 
      .glyphicon.glyphicon-ok 
    .title= task.title
    / = link_to "#{task.taskable.candidate.first_name}'s application", business_job_application_path(task.taskable.application.job.id, task.taskable.application.id), remote: true
  .task-row
    .tags
      Assigned To: 
      - task.users.each do |user|
        .tag= user.full_name
    .due= " Due: #{task.due_date}"
    .candidate

