.task{:id => "task_#{task.id}"}
  .body
    = link_to completed_business_tasks_path(id: task.id), method: :post, remote: true do 
      .glyphicon.glyphicon-ok 
    .details
      .title= task.title
      = "Due Date: #{ task.due_date}"
  .task-row
    .detail
      .assigned Assigned to: 
      - task.users.each do |user|
        .tag= user.full_name
    .detail
      .assigned= "Created by: #{task.user.full_name} "

