.task{:id => "task_#{task.id}"}
  .task-header  
    .title= "#{task.title}"
    .actions
      = link_to "Edit |", edit_business_task_path(task), remote: true
      = link_to "Delete", business_task_path(task), remote: true, :method => :delete
  .task-row
    .title= "#{task.title}"
    .due= task.due_date
  .task-body
    = task.notes