.task{:id => "task_#{task.id}"}    
  .task-header
    - if task.status == "complete"
      #completed
        = link_to completed_business_tasks_path(id: task.id), method: :post, remote: true do 
          .glyphicon.glyphicon-ok
    - else
      = link_to completed_business_tasks_path(id: task.id), method: :post, remote: true do 
        .glyphicon.glyphicon-ok
    .title= task.title
   
    .dropdown
      .dropdown-button
        %i.fa.fa-ellipsis-h.fa-lg
      .dropdown-content#myDropdown
        = link_to edit_business_task_path(task), remote: true  do
          %i.fa.fa-pencil
          .action Edit
        = link_to business_task_path(task.id), remote: true, :method => :delete, data: {:confirm => "Are You Sure? You can not undo this action."}  do  
          %i.fa.fa-trash-o
          .action Destroy

  .task-row
    .detail
      %i.fa.fa-clock-o
      - if task.due_date.present?
        = task.due_date
      - else 
        No Due Date
    .detail
      %i.fa.fa-user-o
      - task.users.each do |user|
        = user.full_name
    .detail
      = "#{task.kind}"

    .detail 
      - if task.taskable_type == 'Candidate' && !task.job_id.present?
        .title= link_to task.taskable.full_name, business_candidate_path(task.taskable) 
      - elsif task.taskable_type == 'Job'
        .title= link_to task.taskable.title, business_job_tasks_path(task.taskable)

