.task{:id => "task_#{task.id}"}
  .task-header  
    .created_by= "#{task.user.full_name} assigned a task to #{task.users.first.full_name}"
    .actions
      = link_to "Edit |", edit_business_task_path(task), remote: true
      = link_to "Delete", business_task_path(task), remote: true, :method => :delete
  .task-row
    .title= "#{task.title}"
    .due= task.due_date
  .task-row
    = task.notes
  .task-row
    - task.users.each do |user|
      .tag= user.full_name
      