<% if @errors.present? %> 
  <% @errors.each do |error| %>
    $('#<%= error[0] %>_msgBlock').append('<div class="notice"><%= escape_javascript(error[1]) %></div>');
    $('#<%= error[0] %>_Block').addClass('has-error');
  <% end %>
<% elsif @taskable.class == Candidate %> 
  $('.applicant-nav').find('.activated').removeClass('activated');
  $('.applicant-nav').find('#tasks').addClass('activated');
  $('.action-area').children().remove();
  $('.active-button').removeClass('active-button');
  $(".display-applicant-details").find(".tasks").html('<%= j render "business/tasks/tasks", tasks: @tasks %>');
<% elsif @taskable.class == Job %> 
  $('.tasks').html('<%= j render "business/tasks/tasks", tasks: @tasks %>');
  $('#basic-form-modal').modal("toggle");
<% else %> 
  $('#task-container').html('<%= j render "business/tasks/tasks", tasks: @tasks %>');
  $('#basic-form-modal').modal("toggle");
<% end %>


