.page-header
  %h2 Tasks
  .actions
    = render 'business/tasks/mass_actions'

#main-container
  #padding
    .side-container
      = form_tag search_business_tasks_path, :method => 'get', id: "search-form" do
        = render 'business/tasks/all_tasks/filters'
    .main-container
      #task-container
        = render 'business/tasks/tasks'
      .pagination-container
        = render 'business/tasks/pagination'

