= render 'business/applications/top_container'

#main-container
  #padding
    .side-container
      = form_tag search_business_tasks_path, :method => 'get', id: "search-form" do
        = hidden_field_tag :job_id, @job.id
        = render 'business/tasks/job_filters'
    .main-container
      .actions
        .application-actions
          - if can? :create, Task
            = link_to "Create Task", new_business_job_task_path(@job), data: {:turbolinks => "false"}, remote: true, class: "btn hover-button", id: 'client-action'
          .toggle-actions#job-task-layout
            = radio_button_tag "task", "list", true
            = label_tag "task_list", "List", :value => "list", id: 'list', :data => {job: @job.id}
            
            = radio_button_tag "task", "table", false
            = label_tag "task_table", "Table", :value => "table", id: 'table', :data => {job: @job.id}
                       
      #task-container
        = render 'business/tasks/tasks'
      .pagination-container
        = render 'business/tasks/pagination'

