= render 'business/applications/top_container'

#main-container
  #padding
    .side-container
      = form_tag search_business_tasks_path, :method => 'get', id: "search-form" do
        = hidden_field_tag :job_id, @job.id
        = render 'business/tasks/job_filters'
    .main-container
      .actions
        .application-actions
          = link_to "Create Task", new_business_job_task_path(@job), data: {:turbolinks => "false"}, remote: true, class: "btn border-button", id: 'client-action'
          .toggle-actions 
            = link_to business_job_tasks_path(@job, view: "list"), remote: true do
              .btn.border-button.toggle-show#list List
            = link_to business_job_tasks_path(@job, view: "table"), remote: true do 
              .btn.border-button.toggle-show#table.toggle-showing Table 
      #task-container
        = render 'business/tasks/table'
      .pagination-container
        = render 'business/tasks/pagination'

