= render 'business/applications/top_container'
#main-container
  #padding
    .side-container
      = form_tag business_job_tasks_path(@job), :method => 'get', id: "search-form" do
        = render 'business/tasks/job_filters'
    .main-container#task-container
      = link_to "Create Task", new_business_job_task_path(@job),  data: {:turbolinks => "false"}, remote: true, class: "btn border-button"
      = render 'business/tasks/tasks'

.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title