= render 'business/applications/top_container'

#main-container
  #job-applicants
    .side-container
      = render 'business/tasks/filters'
    .main-container#task-container
      .calendar-nav-actions
        .change-containers-nav
          %ul  
            = link_to business_job_tasks_path(@taskable), remote: true do 
              %li#open-tasks.activated Open Tasks
            = link_to business_job_tasks_path(@taskable, status: 'complete'), remote: true do 
              %li#closed-tasks Completed Tasks
      .tasks
        - if @tasks.present?
          - @tasks.each do |task|
            = render 'business/tasks/task', task: task
        - else  
          .not-present-container
            %p There are currently no tasks.