.header
  .title Applications
.body
  - if !current_user.applications.nil?        
    - @current_user.applications.each do |application| 
      %div{:class => "work-experience", id: "user_certification_#{application.id}"}
        .job-position
          .experience-header 
            .company= application.company.name      
          .experience-position
            .title= application.apps.title
            .date= "Applied: #{application.created_at}" 

  - else 
    .not-present-container
      %p You currently do not have any applications in progress.