.job-seeker-profile
  .background
    .profile-header
      = render 'job_seeker/user_avatars/user_avatar'

      .personal-details
        = link_to edit_job_seeker_user_path(current_user), remote: true do
          %i.glyphicon.glyphicon-pencil
        .name= "#{current_user.full_name}"
        .contact-details= "#{current_user.email} | #{current_user.phone}"
        .location= current_user.location
        .social-links
          - @social_links.each do |link|
            = link_to link.url, target: :_blank do 
              %span.fa-stack
                %i.fa.fa-square-o.fa-stack-2x
                %i{class: "fa fa-#{link.kind.downcase} fa-stack-1x"}

      .user-summary
        = current_user.tag_line
        
      .change-containers-nav
        %ul
          %li.change#experience.activated Profile
          %li.change#portfolio Portfolio   
          %li.change#my-apps Applications

  .main-container
    .experience-container.showing
      .header#experience-header
        .title Experience
        .new_experience
          = link_to "+ Add Experience", new_job_seeker_profile_work_experience_path(@profile), :data => {:remote => true}, :html => {id: 'new_work_experience_button'}
      = render 'job_seeker/work_experiences/experience'
      
      
  .side-container
    = render 'job_seeker/educations/index'
    .skills-container
      .header#certification-header
        .title Certifications
        .new_experience
          = link_to "+ Add Certification", new_job_seeker_profile_user_certification_path(@profile), :data => {:remote => true}, :html => {id: 'new_user_certification_button'}
      = render 'job_seeker/user_certifications/certifications'    

                
     
  
  / .main-body
  /   .sidebar
  /     .header
  /       .title Skills
  /     = render "job_seeker/user_skills/form"
  /     .sidebar-container
  /       - if current_user.user_skills.count == 0
  /         .skills-not-present
  /           %p No Skills Listed
  /       - else
  /         = render 'job_seeker/user_skills/skills'


  
.modal#right-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        .modal-title 

.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        .modal-title
        
      .modal-body
 

   

= render 'job_seeker/user_avatars/picture_modal'  


