.user-general-info
  .user-image
    %img(src="/tmp/man.jpg")
  .info 
    %h3 Logan Houston
    %h4 CEO Talent Wiz 
    %h5 Toronto, On
  .contact-info 
    %h3 Contact Info
    %h5 E-mail: loganh0522@gmail.com
    %h5 Mobile: 416-806-6907
    %h5 Skype: logz.houston

.main-container
  .header
    %h1 Experience
    .new_experience
      = link_to "+ Add Work Experience", '#', :data => {:toggle => "modal", :target => "#work-experience-modal"}
      = render 'job_seeker/work_experiences/form'
      = render 'job_seeker/accomplishments/form', :locals => {@exp_id => params[:id]}
      
  .body
    - if current_user.work_experiences.nil? 
      .not-present-container
        %p You currently do not have any listed work experiences. 
        = link_to "+ Add Work Experience", '#', :data => {:toggle => "modal", :target => "#work-experience-modal"}, class: "add-object"
    - else
      = render 'experience'



            





