.job-seeker
  .top-container
    .user-image
      - if current_user.user_avatar.present? 
        = image_tag @avatar.image.large_image if @avatar.present?
        = link_to  '#', :data => {:toggle => "modal", :target => "#profile-picture-modal"} do
          .edit-photo Edit Profile Picture
        = render 'profile_picture'
      - else      
        = link_to '#', :data => {:toggle => "modal", :target => "#profile-picture-modal"} do
          %img(src="/tmp/blank_profile_picture.png")
          .add-photo Add Profile Picture
        = render 'profile_picture'
      

    .personal-details
      .main-details
        %h1
          .name= "#{current_user.first_name.upcase} #{current_user.last_name.upcase}"
          .icons
            = link_to "#", :data => {:remote => true} do
              %i.glyphicon.glyphicon-pencil
        .tag-line
          = current_user.tag_line
          .icons
            = link_to "#", :data => {:remote => true} do
              %i.glyphicon.glyphicon-pencil
        
      .side-details
        .current_location
          .bold Location
          %br
          .shift= "#{current_user.city}, #{current_user.countries.first.name}"
      
        .current_experience
          .bold Current Role 
          %br
          .shift= "Founder - TalentWiz.com" 
        .current_education
          .bold Education 
          %br
          .shift= "Queen's - Bachelor of Commerce"

  .main-body
    .sidebar
      .user-profile-nav
        %ul
          %li.experience-tab.active Experience 
          %li.education-tab Education      
          %li.skills-tab Skills & Certifications
          %li.career-prefs-tab Career Preferences
          %li.my-apps-tab My Applications
    .main-container
      .experience-container#showing
        .header
          %h1 Experience
          .new_experience
            = link_to "+ Add Experience", new_job_seeker_work_experience_path, :data => {:remote => true}, :html => {id: 'new_work_exp'}
        .body
          - if current_user.work_experiences.nil? 
            .not-present-container
              %p You currently do not have any listed work experiences. 
              = link_to "+ Add Work Experience", new_job_seeker_work_experience_path, :data => {:remote => true}
          - else
            = render 'job_seeker/work_experiences/experience'

      .education-container
        .header
          %h1 Education
          .new_experience
            = link_to "+ Add Education", new_job_seeker_education_path, :data => {:remote => true}
        .body
          - if current_user.educations.nil? 
            .not-present-container
              %p You currently do not have any listed work experiences. 
              = link_to "+ Add Education", new_job_seeker_education_path, :data => {:remote => true}, class: 'add-object'               
          - else 
            = render 'job_seeker/educations/education_history'
           
      .skills-container
        .header
          %h1 Skills
          / .new_experience
          /   = link_to "+ Add Skills", job_seeker_user_add_skills_path(@user.id), :data => {:remote => true}

        .body#skill-body
          - if current_user.user_skills.count == 0
            = render 'job_seeker/user_skills/form'
            .not-present-container#skill-not-present
              %p You currently do not have any skills listed. 
          - else 
            = render 'job_seeker/user_skills/form'
            = render 'job_seeker/user_skills/skills'

        .header
          %h1 Certifications
          .new_experience
            = link_to "+ Add Certification", new_job_seeker_user_certification_path, :data => {:remote => true} 
        .body#certification-body
          - if @certifications.count == 0
            .not-present-container#not-present
              %p You currently do not have any certifications listed. 
              = link_to "+ Add Certification", new_job_seeker_user_certification_path, :data => {:remote => true} , class: 'add-object'
          - else 
            = render 'job_seeker/user_certifications/certifications'
               



      .career-prefs-container
        .header
          %h1 Career Preferences
        .body
          - if current_user.educations.nil?        
            
          - else 
            .not-present-container
              %p You currently do not have any career preferences. 
              = link_to "+ Add Preferences", new_job_seeker_education_path, :data => {:remote =>  true}, class: 'add-object'
      
      .my-apps-container
        .header
          %h1 Applications
        .body
          - if current_user.educations.nil?        
            
          - else 
            .not-present-container
              %p You currently do not have any applications in progress. 
                  
    
    .modal
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
            %h4.modal-title  
          .modal-body




