.sections
  - if @sections.present? 
    %ul{:id => 'sections'}
      - sections.each do |section| 
        .row 
          %li
            .section{:id => "section_#{section.id}"}
              .section-header
                %h4= section.body
                .icons
                  = link_to edit_business_job_scorecard_scorecard_section_path(@job.id, @scorecard.id, section.id), :data => {:remote => true} do
                    %i.glyphicon.glyphicon-pencil
                  = link_to business_job_scorecard_scorecard_section_path(@job.id, @scorecard.id, section.id), remote: true, :method => :delete do
                    %i.glyphicon.glyphicon-remove
              .section-body
                %ul 
                  - section.section_options.each do |option| 
                    %li
                      = option.body

  - else    
    .not-present-container
      %p There currently are currently no parameters for the scorecard. 
      = link_to "+ Add Section", new_business_job_scorecard_scorecard_section_path(@job.id, @scorecard.id), :data => {:remote => true}