- if @application.candidate.manually_created == true
  .user-image
    .profile_picture
      %img(src="/tmp/blank_profile_picture.png")
  .applicant-details
    .name-rating
      .name= "#{@application.candidate.full_name.capitalize}"
      
    .current-position
  .actions
    .dropdown
      .dropdown-button.border-button
        Actions
        .caret
      .dropdown-content#action-dropdown
        = link_to edit_business_candidate_path(@application.candidate.id), remote: true do
          %i.fa.fa-pencil
          .action Edit
        = link_to business_application_path(@application.id), remote: true, :method => :delete do  
          %i.fa.fa-reply
          .action Remove From Job
        = link_to business_candidate_path(@application.candidate.id), remote: true, :method => :delete do  
          %i.fa.fa-trash-o
          .action Destroy Candidate

- else
  .user-image
    .profile_picture
      - if @application.candidate.user.user_avatar.present?
        = image_tag @application.candidate.user.user_avatar.image.large_image 
      - else 
        %img(src="/tmp/blank_profile_picture.png")
  .applicant-details
    .name-rating
      .name= "#{@application.candidate.user.full_name}"
    
  .actions
    .dropdown
      .dropdown-button.border-button
        Actions
        .caret
      .dropdown-content#myDropdown
        = link_to edit_business_candidate_path(@application.candidate.id), remote: true do
          %i.fa.fa-pencil
          .action Edit
        = link_to business_candidate_path(@application.candidate.id), remote: true, :method => :delete do  
          %i.fa.fa-trash-o
          .action Destroy 