%ul
  = link_to stage_business_application_path(@application), remote: true do
    %li.change#process.activated Stage

  = link_to business_job_application_path(@job, @application), remote: true do
    %li.change#profile Profile

  = link_to scorecards_business_application_path(@application), remote: true do
    %li.change#scorecards Scorecards

  = link_to evaluations_business_application_path(@application), remote: true do
    %li.change#assessments Assessments

  = link_to business_candidate_messages_path(@candidate, job: @job), remote: true do
    %li.change#messages Messages 
    
  = link_to business_candidate_comments_path(@candidate, job: @job), remote: true do
    %li.change#notes Notes
  
  = link_to business_candidate_activities_path(@candidate, job: @job), remote: true do
    %li.change#activity Activity

.bottom-row
  = link_to new_business_candidate_comment_path(@candidate, job: @job), class: 'can-action', id: "add-note", remote: true do
    + Note

  = link_to new_business_candidate_message_path(@candidate), class: 'can-action', id: "add-message",  remote: true do 
    .glyphicon.glyphicon-envelope E-mail

  = link_to new_business_candidate_task_path(@candidate, job: @job), class: 'can-action add-task', id: "client-action", remote: true do 
    + Task  
    
  .dropdown.can-action
    .dropdown-button
      .glyphicon.glyphicon-calendar Interview
    .dropdown-content
      = link_to new_business_candidate_interview_path(@candidate, application: @application), remote: true, id: 'client-action' do
        %i.fa.fa-calendar
        .action Schedule Interview
      = link_to new_business_candidate_interview_invitation_path(@candidate, application: @application.id), remote: true do 
        %i.fa.fa-paper-plane-o
        .action Interview Invitation
    


  .hide-can-form Hide 
