.application-stages
  .app-stage
    .app-stage-header
      .body
        Applied
      %i.fa.fa-angle-down.toggle
    .app-stage-body
      = render 'business/applications/process/application_form'

  
  - @stages.each do |stage|
    - if stage == @application.stage
      .app-stage.current-stage
        .app-stage-header
          .body
            = "#{stage.name}    (Current Stage) "
          %i.fa.fa-angle-up.toggle
        .app-stage-body.current-stage
          = render 'business/applications/show_application/stage_actions', stage: stage
    - else
      .app-stage{:id => "stage_#{stage.id}"}
        .app-stage-header
          .body
            = stage.name
          %i.fa.fa-angle-down.toggle
        .app-stage-body
          = render 'business/applications/show_application/stage_actions', stage: stage

  .app-stage
    .app-stage-header
      .body
        Hired
      %i.fa.fa-angle-down.toggle
    .app-stage-body
      
  .app-stage
    .app-stage-header
      .body
        Rejected
      %i.fa.fa-angle-down.toggle
    .app-stage-body