.side-section
  %h4 Tags
  .tags
    = render "business/tags/tags"
  .add_tag
    = link_to "+ Add Tag", new_business_candidate_tag_path(@candidate), remote: true, id: 'add_tag'

.side-section
  %h4 Tasks 
  .tasks 
    - @application.tasks.each do |task| 
      .task{id: "task_#{task.id}"}
        .edit-delete-actions
          = link_to edit_business_application_task_path(@application, task), remote: true do
            .glyphicon.glyphicon-pencil
        .body
          = link_to business_application_task_path(@application, task, status: "complete"), method: :put, remote: true do 
            .glyphicon.glyphicon-ok 
          .title= task.title

            
          / .action
            
          / .notes= task.notes

   

