.side-section
  .tag-container
    .tag-header
      %h4 Stage
    = render 'business/applications/show_application/header_actions'
.side-section
  .tag-container
    .tag-header
      %h4 Tags
      = render 'business/tags/form'
    .tags
      = render "business/tags/tags"

.side-section
  .tag-container
    .tag-header
      %h4 Contact Details
    .tags
      .contact-details
        .glyphicon.glyphicon-earphone 
          = "#{@candidate.phone}"
        %br
        .glyphicon.glyphicon-envelope
          = "#{@application.candidate.email}"
        %br
        - if @application.candidate.location.present?
          .glyphicon.glyphicon-map-marker
            = "#{@application.candidate.location}"



   

