#applicant-stage
  = render 'business/applications/show_application/application_stage'

.side-sections
  .side-section
    .header
      %h4 Tags
      = render 'business/tags/form'
    .tags
      = render "business/tags/tags"  
  .side-section
    .header
      %h4 Tasks
      .toggle-actions
        = form_tag search_business_tasks_path, :method => 'get', id: "search-form" do 
          = hidden_field_tag :candidate_id, @candidate.id
          = hidden_field_tag :job_id, @job.id
          
          = radio_button_tag "status", "active", true, class: 'filter'
          = label_tag "status_active", "Active", :value => "all", class: 'filter'
          = radio_button_tag "status", "complete", false, class: 'filter'
          = label_tag "status_complete", "Complete", :value => "open", class: 'filter'

          
    .side-tasks#task-container
      = render 'business/tasks/candidate_tasks'
  .side-section
    .header
      %h4 Schedule
    .side-interviews 
      = render 'business/interviews/candidate_interviews'
   

     

