.side-section#applicant-stage
  = render 'business/applications/show_application/application_stage'
.side-section
  .tag-container
    .tag-header
      %h4 Tags
      = render 'business/tags/form'
    .tags
      = render "business/tags/tags"

.side-section
  .tag-container
    .tag-header
      %h4 Tasks
    = render 'business/tasks/candidate_tasks'

.side-section
  .tag-container
    .tag-header
      %h4 Schedule 
    .tasks
    = render 'business/interviews/candidate_interviews'
      

   

