.team-member-contain{id: "team_member_#{f.object.id}"}
  = image_tag f.object.file.xs_image
  = f.text_field :name, autocomplete: 'off'
  = f.text_field :position, autocomplete: 'off'
  = f.text_area :details
  = link_to "Destroy", business_team_member_path(f.object.id), method: :delete, remote: true
