= form_for @interview, url: '/schedule_interview/' + @invitation.token, remote: true do |f|
  .standard-body
    .email-field
      = f.label :email, "E-mail"
      = text_field_tag :email, "", placeholder: "E-mail", required: true
    - @times.each do |time|   
      = radio_button_tag "time", time.id, false, id: "time_#{time.id}"
      = label_tag "time_#{time.id}", "#{time.start_time.strftime('%A %B %e @ %I:%M %p')} - #{time.end_time.strftime('%I:%M %p')}", :value => "#{time.id}", class: 'dateTime time-container'

    = radio_button_tag "time", "n/a", false, id: "n_a"
    = label_tag "n/a", "None of these times work for me.", :value => "n/a", class: 'dateTime time-container'
    .email-field
      = text_area_tag :response, "", placeholder: "Let us know some times that work."
    
    = f.hidden_field :company_id, value: @company.id

  .container-footer
    = f.submit "Schedule", class: "btn border-button"