= form_for @interview do |f|
  = text_field_tag :email, "", placeholder: "E-mail"
  - @times.each do |time|   
    = radio_button_tag "time", time.id, false, id: "time_#{time.id}"
    = label_tag "time_#{time.id}", "#{time.date.to_time.strftime('%A %B %e')} @ #{time.time}", :value => "#{time.id}", class: 'dateTime time-container'

  = radio_button_tag "time", "n/a", false, id: "n_a"
  = label_tag "n/a", "None of these times work for me.", :value => "n/a", class: 'dateTime time-container'

  = text_area_tag :response, "", placeholder: "Let us know some times that work."
  = f.hidden_field :user_ids, value: @user_ids
  = f.hidden_field :company_id, value: @company.id
  = f.hidden_field :kind, value: @invitation.kind
  = f.hidden_field :location, value: @invitation.location
  = f.hidden_field :title, value: @invitation.title
  = f.submit "Schedule", class: "btn submit-button"