.header
  %h4 Scorecard
  - if @scorecard.present?
    .my-scorecard
      - if @current_user_scorecard.present? 
        = link_to "My Scorecard", edit_business_job_application_application_scorecard_path(@job, @application, @current_user_scorecard), {:data => {:toggle => "modal", :target => "#edit_scorecardModal"}} 
        = render "business/application_scorecards/edit_my_scorecard" 
      - else 
        = link_to "My Scorecard", new_business_job_application_application_scorecard_path(@job, @application), {:data => {:toggle => "modal", :target => "#scorecardModal"}} 
        = render "business/application_scorecards/my_scorecard" 
- if @scorecard.present?  
  .scorecard
    %h4 Overall Rating 

    .overall-rating 
      %table.table
        %tbody
          %tr
            %td(width="30%") Recommended 
            %td(width="70%")
              =image_tag @bar_chart_1, class: 'chart1'
          %tr
            %td(width="30%") Good
            %td(width="70%")
              =image_tag @bar_chart_2, class: 'chart2'
          %tr
            %td(width="30%") Bad
            %td(width="70%")
              =image_tag @bar_chart_3, class: 'chart3'
          %tr
            %td(width="30%") Do not Recommend 
            %td(width="70%")
              =image_tag @bar_chart_4, class: 'chart4'

    %h4 Scorecard 
    .sections
      - @sections.each do |section|
        %p= section.body
        %table.table
          %tbody
            - section.section_options.each do |criteria|
              %tr
                %td(width="30%")= criteria.body
                %td(width="70%")
                  - @application_scorecards.each do |scorecard| 
                    - scorecard.scorecard_ratings.each do |rating|
                      - if rating.rating == 1 && rating.section_option_id == criteria.id
                        %i.glyphicon.glyphicon-remove
                      - elsif rating.rating == 2 && rating.section_option_id == criteria.id
                        %i.glyphicon.glyphicon-thumbs-down
                      - elsif rating.rating == 3 && rating.section_option_id == criteria.id
                        %i.glyphicon.glyphicon-thumbs-up
                      - elsif rating.rating == 4 && rating.section_option_id == criteria.id
                        %i.glyphicon.glyphicon-star
- else 
  .not-present-container
    %p There are currently no notes for this applicant.