= form_for [:business, @job, @application, @current_user_scorecard], html: {remote: true} do |f|
  .scorecard-details
    .sections
      - @sections.each do |section|
        %h4= section.body
        %table.table
          - section.section_options.each do |criteria|
            %tbody   
              %tr
                %td.title= criteria.body
                %td  
                  - if criteria.scorecard_ratings.present?
                    - criteria.scorecard_ratings.each do |rating|
                      - scorecard = ApplicationScorecard.find(rating.application_scorecard_id)
                      - if scorecard.application_id == @application.id && scorecard.user_id == current_user.id
                        = f.fields_for :scorecard_ratings, rating do |q| 
                          = q.hidden_field :section_option_id, value: criteria.id
                          = q.hidden_field :user_id, value: current_user.id
                          .scorecard-inputs
                            = q.radio_button :rating, 1, class: 'application-scorecard-rating', id: "rating_#{criteria.id}_1"
                            %label.glyphicon.glyphicon-remove{:for => "rating_#{criteria.id}_1"}
                            = q.radio_button :rating, 2, class: 'application-scorecard-rating', id: "rating_#{criteria.id}_2"
                            %label.glyphicon.glyphicon-thumbs-down{:for => "rating_#{criteria.id}_2"}

                            = q.radio_button :rating, 3, class: 'application-scorecard-rating', id: "rating_#{criteria.id}_3"
                            %label.glyphicon.glyphicon-thumbs-up{:for => "rating_#{criteria.id}_3"}

                            = q.radio_button :rating, 4, class: 'application-scorecard-rating', id: "rating_#{criteria.id}_4"
                            %label.glyphicon.glyphicon-star{:for => "rating_#{criteria.id}_4"}
                  - else
                    = f.fields_for :scorecard_ratings, ScorecardRating.new do |q| 
                      = q.hidden_field :section_option_id, value: criteria.id
                      = q.hidden_field :user_id, value: current_user.id
                      .scorecard-inputs
                        = q.radio_button :rating, 1, class: 'application-scorecard-rating', id: "rating_#{criteria.id}_1"
                        %label.glyphicon.glyphicon-remove{:for => "rating_#{criteria.id}_1"}
    
                        = q.radio_button :rating, 2, class: 'application-scorecard-rating', id: "rating_#{criteria.id}_2"
                        %label.glyphicon.glyphicon-thumbs-down{:for => "rating_#{criteria.id}_2"}

                        = q.radio_button :rating, 3, class: 'application-scorecard-rating', id: "rating_#{criteria.id}_3"
                        %label.glyphicon.glyphicon-thumbs-up{:for => "rating_#{criteria.id}_3"}

                        = q.radio_button :rating, 4, class: 'application-scorecard-rating', id: "rating_#{criteria.id}_4"
                        %label.glyphicon.glyphicon-star{:for => "rating_#{criteria.id}_4"}
        = f.hidden_field :application_id, value: @application.id
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :scorecard_id, value: @scorecard.id
    .scorecard-footer
      = f.submit "Submit", class: "btn submit-button"
      = link_to "Cancel", '#', class: "remove_form btn border-button2"