.modal#edit_scorecardModal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h3.modal-title My Scorecard
      
      .modal-body 
        = form_for [:business, @job, @application, @current_user_scorecard] do |f|

          = f.fields_for :overall_ratings do |k|
            %table.table
              %thead
                %tr
                  %th Overall Rating
                %tr
                  %label 
                    %td Recommened
                    %td
                      = k.radio_button :rating, 1 
                %tr              
                  %label
                    %td Looks Good
                    %td
                      = k.radio_button :rating, 2 
                %tr              
                  %label
                    %td Not Great 
                    %td
                      = k.radio_button :rating, 3 
                %tr             
                  %label 
                    %td Do not Recommend 
                    %td
                      = k.radio_button :rating, 4

          - @sections.each do |section|
            %table.table
              %thead
                %tr
                  %th(width="20%")= section.body
                  %th(width="80%")  
                  - section.section_options.each do |criteria|
                    %tbody   
                      %tr
                        %td= criteria.body
                        %td  
                          - criteria.scorecard_ratings.each do |rating|
                            - scorecard = ApplicationScorecard.find(rating.application_scorecard_id)
                            - if scorecard.application_id == @application.id && scorecard.user_id == current_user.id
                              = f.fields_for :scorecard_ratings, rating do |q| 
                                = q.hidden_field :section_option_id, value: criteria.id
                                = q.hidden_field :user_id, value: current_user.id
                                %label 
                                  = q.radio_button :rating, 1
                                  %i.glyphicon.glyphicon-remove
                                %label 
                                  = q.radio_button :rating, 2
                                  %i.glyphicon.glyphicon-thumbs-down
                                %label 
                                  = q.radio_button :rating, 3
                                  %i.glyphicon.glyphicon-thumbs-up
                                %label 
                                  = q.radio_button :rating, 4
                                  %i.glyphicon.glyphicon-star

              = f.hidden_field :application_id, value: @application.id
              = f.hidden_field :user_id, value: current_user.id
              = f.hidden_field :scorecard_id, value: @scorecard.id
          = f.submit "Submit", class: "btn btn-primary"