- if @job_board.job_board_header.cover_photo.present? 
  .portal-header{:style => "background: url(#{@job_board.job_board_header.cover_photo.url}) no-repeat center center fixed; background-size: cover "}
    .header-overlay{:style => "background: rgba(0,0,0,0.4)"}
      .intro-message
        .header= @job.title
        .sub-header= @job.location
- else
  .portal-header{:style => "background-color: #EF7B2B"}
    .header-overlay{:style => "background: rgba(0,0,0,0.4)"}
      .intro-message
        .header= @job.title
        .sub-header= @job.location
      
.career-portal-job-container
  .application-form
    .application-header
      %h1 Application Form
      %p Please finish the following questions to apply to this job.
    .application-body
      = render 'form'