.other-jobs
  .header
    %h3= "Jobs at #{@job.company.name}"
  .jobs
    - @job.company.published_jobs.each do |job| 
      = link_to job_path(job) do
        .job-container
          = job.title

.profile-job-description
  .job-header
    .details
      %h2= @job.title
    .actions
      = render "apply_method"
      / .share-job-details
      /   .type Share On
      /   = link_to "https://www.facebook.com/sharer/sharer.php?u=" + @job.url, target: :blank, class: "popup" do 
      /     %i.fa.fa-facebook-square.fa-stack-2x
      /   = link_to "https://www.linkedin.com/shareArticle?mini=true&url=" + @job.url, :target => :blank, :popup => true do 
      /     %i.fa.fa-linkedin-square.fa-stack-2x
      /   = link_to "https://www.twitter.com/intent/tweet" + @job.url, :target => :blank, :popup => true do
      /     %i.fa.fa-twitter-square.fa-stack-2x
  .job-body
    = simple_format(@job.description, {}, sanitize: false)

  = render "apply_method"

