= form_for [:business, @department], remote: true do |f|
  .modal-body
    .email-area
      .choose-stage
        = f.text_field :name, class: "form-control", id: "name_Block", placeholder: "Name", autocomplete: 'off'
        %span.error#name_msgBlock
  .modal-footer
    = f.hidden_field :company_id, value: current_company.id
    = f.hidden_field :location_id, value: nil
    = f.hidden_field :subsidiary, value: nil

    = f.button @department.new_record? ? "Create Stage" : "Update", class: "btn submit-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'> </i> Saving..."}
    .btn.border-button.close-modal Cancel