- @hiring_teams.each do |member|
  .user{:id => "user_#{member.id}" }
    - if member.user.user_avatar.present? 
      = image_tag member.user.user_avatar.image.small_image, :class => 'circle', :size => "50x50" 
    - else
      .circle-img= member.user.first_name.first.capitalize
    .name= "#{member.user.first_name} #{member.user.last_name}"
    = link_to business_hiring_team_path(member.id), :method => :delete, remote: true do
      %i.glyphicon.glyphicon-remove
    .permissions= member.user.role


        