/ - @users.each do |user|
/   %tr{:id => "user_#{user.id}" }
/     %td
/       - if user.user_avatar.present? 
/         = image_tag user.user_avatar.image.small_image, :class => 'circle', :size => "50x50" 
/       - else
/         .circle-img
/           %img(src="/tmp/little-man.png") 
/     %td
/       %p.name= "#{user.first_name.capitalize} #{user.last_name.capitalize}"
/       %p.email= user.email
/     %td
/       %p.permissions Hiring Manager
/     %td
/       = link_to business_job_hiring_team_path(@job.id, user.id), remote: true, :method => :delete do
/         %i.glyphicon.glyphicon-remove

.user-list
  - @users.each do |user|
    .user{:id => "user_#{user.id}" }
      - if user.user_avatar.present? 
        = image_tag user.user_avatar.image.small_image, :class => 'circle', :size => "50x50" 
      - else
        .circle-img= user.first_name.first.capitalize
      .name= "#{user.first_name} #{user.last_name}"
      = link_to business_job_hiring_team_path(@job.id, user.id), remote: true, :method => :delete do
        %i.glyphicon.glyphicon-remove
      .permissions Hiring Manager
        