.page-header
  %h2 Create a Job
#main-container-padding
  .side-container
    = render 'business/shared/post_job'
  .main-container#create-job-container
    .standard-header
      %h2 Hiring Team
      = link_to "+ Invite New User", new_business_invitation_path(job: @job), class: 'btn border-button', remote: true
      = link_to "Add Team Member", new_business_hiring_team_path(job: @job), class: 'btn border-button', remote: true    
      .hidden-search-box
        = text_field_tag "", "", :class => 'ui-autocomplete-input users', :placeholder => 'Type a users name to assign', id: "autocomplete"
        #search-results-users
        / .users
        /   - @users.each do |user|
        /     .name= user.full_name


    .user-list
      = render "hiring_team"

.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title  
