.page-header
  %h1 Create a Job
#post-a-job
  .side-container
    = render 'business/shared/post_job'
  .main-container 
    .stage-header
      %h4 Add Team Members
      = render "business/hiring_teams/hiring_team_form"  
    .invitation
      = link_to "+ Invite New User", new_business_invitation_path, {:class => "invite", :data => {:toggle => "modal", :target => "#invitationModal"}} 
    .user-list
      %table
        %thead
          %tr
            %th(width="1%")
            %th(width="20%")
            %th(width="20%")
            %th.delete(width="20%")
        %tbody.hiring_team
          = render "hiring_team"
= render "invitation_form"