.container
  .sidebar
    %ul
      %li{:class => is_active?(edit_business_job_path(@job))}
        = link_to "Job Details", edit_business_job_path(@job)
      %li{:class => is_active?(new_business_job_hiring_team_path(@job))}
        = link_to "Hiring Team", new_business_job_hiring_team_path(@job)
      %li{:class => is_active?(new_business_job_stage_path(@job))}
        = link_to "Recruitment Process", new_business_job_stage_path(@job)
      %li{:class => is_active?(@job.questionairre.present? ? edit_business_job_questionairre_path(@job, @questionairre.id) : new_business_job_questionairre_path(@job.id))}
        = link_to "Questionairre", @job.questionairre.present? ? edit_business_job_questionairre_path(@job, @questionairre.id) : new_business_job_questionairre_path(@job.id)
      %li Scorecard
      %li Post Job 


  .hiring_team    
    %h3 Team Members 
    .details
    %p Add Team Members to this job opening. 
    
    = form_for [:business, @job, @hiring_team] do |f| 
      .fieldset
        = f.label :user_tokens, "Add a User" 
        %br
        = f.text_field :user_tokens, placeholder: "Type a users name to find them" 
        = f.hidden_field :job_id, value: @job.id
        = f.submit "+ Add Member", class: "btn btn-primary"

    = link_to "+ Invite Colleague", new_business_invitation_path,  {:class => "invite", :data => {:toggle => "modal", :target => "#myModal"}}
      
    = render "invitation_form"

    .user-list
      %table
        %thead
          %tr
            %th(width="1%")
            %th(width="20%")
            %th(width="20%")
            %th.delete(width="20%")
        %tbody
          - @users.each do |user|
            %tr
              %td
                %img.circle(src="/tmp/man.jpg")
              %td
                %p.name= "#{user.first_name} #{user.last_name}"
                %p.email= user.email
              %td
                %p.permissions Hiring Manager
              %td
                = link_to business_job_hiring_team_path(@job.id, user.id), remote: true, :method => :delete do
                  %i.glyphicon.glyphicon-remove
