.container
  .sidebar
    %ul
      %li= link_to "Job Details", edit_business_job_path(@job)
      %li Hiring Team
      %li Recruitment Process
      %li Questionairre
      %li Scorecard
      %li Post Job 


  %main.col-md-8    
    %h1 Team Members 
    %p Add Team Members to this job opening. Providing a team member to a job provides them with access to applicants, and will allow you to easily collaborate with them. 
    = form_for [:business, @invitation], html: {class: 'invite'} do |f|
      %fieldset
        .row
          .form-group.col-md-7
            = f.text_field :recipient_email, class: "form-control", placeholder: "Add a member with their name"
            = f.submit "Invite Colleague", class: "submit btn btn-primary"

    = form_tag business_job_hiring_teams_path do
      %fieldset.form-group
        = collection_select(:user, :id, current_company.users, :id, :first_name)
      %fieldset.form-group.action
        %input(type="submit" value="Add User" class="btn btn-default")

    .user-list
      %table.table
        %thead
          %tr
            %th First Name
            %th Last Name
            %th E-mail
        %tbody
          - @users.each do |user|
            %tr
              %td
                %p= user.first_name
              %td
                %p= user.last_name
              %td
                %p= user.email