.contain
  .sidebar
    = render 'business/shared/post_job'
  .main-container
    .header
      .hiring-team 
        %h1 Hiring Team
        = link_to "+ Invite New User", new_business_invitation_path, {:class => "invite", :data => {:toggle => "modal", :target => "#myModal"}}
        = render "invitation_form"

  
    .body
      = form_for [:business, @job, @hiring_team], html: {remote: true, class: 'add_user'}  do |f|
        .row
          .form-group           
            = f.text_field :user_tokens, :class => 'ui-autocomplete-input form-control', :placeholder => 'Type a team members name', id: "team_members"
            %div#team-members-results
            = hidden_field_tag :user_id
            = hidden_field_tag :job_id, value: @job.id
            = f.submit "+ Add Member", class: "submit btn btn-primary"

      .user-list
        %table
          %thead
            %tr
              %th(width="1%")
              %th(width="20%")
              %th(width="20%")
              %th.delete(width="20%")
          %tbody.hiring_team
            = render "hiring_team"
