.container
  .sidebar
    %ul
      %li{:class => is_active?(edit_business_job_path(@job))}
        = link_to "Job Details", edit_business_job_path(@job)
      %li{:class => is_active?(new_business_job_hiring_team_path(@job))}
        = link_to "Hiring Team", new_business_job_hiring_team_path(@job)
      %li{:class => is_active?(new_business_job_stage_path(@job))}
        = link_to "Recruitment Process", new_business_job_stage_path(@job)
      %li{:class => is_active?(@job.questionairre.present? ? edit_business_job_questionairre_path(@job, @questionairre.id) : new_business_job_questionairre_path(@job.id))}
        = link_to "Questionairre", @job.questionairre.present? ? edit_business_job_questionairre_path(@job, @questionairre.id) : new_business_job_questionairre_path(@job.id)
      %li Scorecard
      %li Post Job 


  %main.col-md-8    
    %h3 Team Members 
    %p Add Team Members to this job opening. 
    
    = form_for [:business, @job, @hiring_team] do |f| 
      .fieldset
        = f.label :user_tokens, "Add a User" 
        %br
        = f.text_field :user_tokens, placeholder: "Type a users name to find them" 
        = f.hidden_field :job_id, value: @job.id
        = f.submit "+ Add Member", class: "btn btn-primary"

    = link_to "Invite Colleague", new_business_invitation_path, {:data => {:toggle => "modal", :target => "#myModal"}}
      
    = render "invitation_form"

    .user-list
      %table.table
        %thead
          %tr
            %th First Name
            %th Last Name
            %th E-mail
        %tbody
          - @users.each do |user|
            %tr
              %td
                %p= user.first_name
              %td
                %p= user.last_name
              %td
                %p= user.email
              %td
                %p= link_to 'Delete', business_job_hiring_team_path(@job.id, user.id), remote: true, :method => :delete

