- if @job_board.job_board_header.background_image.present? 
  .portal-header{:style => "background: url(#{@job_board.job_board_header.background_image.file.url}) no-repeat center center fixed; background-size: cover "}
    .header-overlay{:style => "background: rgba(0,0,0,0.4)"}
      .intro-message
        .header= @job.title
        .sub-header= @job.location
- else
  .portal-header{:style => "background-color: #EF7B2B"}
    .header-overlay{:style => "background: rgba(0,0,0,0.5)"}
      .intro-message
        .header= @job.title
        .sub-header= @job.location
    
.main-row-container
  .inner-container
    .job-description
      .job-header
        %h2= @job.title
        = "#{@job.location} - #{@job.kind}"
      .job-body
        = @job.description.html_safe
      .apply 
      = render "apply_method"
    .extra-job-details
      %h3 Job Details 
      = link_to "facebook", "https://www.facebook.com/sharer/sharer.php?u=" + @job.url, target: :blank, class: "popup"

      = link_to "linkedin", "https://www.linkedin.com/shareArticle?mini=true&url=" + @job.url, :target => :blank, :popup => true 

      = link_to "twitter", "https://www.twitter.com/intent/tweet" + @job.url, :target => :blank, :popup => true 

      .detail
        .type Share
        = social_share_button_tag(@job.title)
      .detail
        .type Industry
        / .content= @job.industries.first.name
      .detail
        .type Career Level 
        / .content= @job.career_level
      .detail
        .type Posted
        .content= "#{time_ago_in_words(@job.created_at)} ago"
      .apply 
      = render "apply_method"
