- if @job_board.kind == "association"
  .company-profile
    .background{:style => "background-image: url(#{@job.company.job_board.job_board_header.background_image.file})"}  

    .logo{:style => "background: url(#{@job.company.logo.file.large_logo}); background-repeat: no-repeat; background-size: 100%; background-color: white; background-position: center"}
    .change-containers-nav
      %ul
        %li About
        %li Our Team 
        %li.active Jobs
  .company-profile-container
    = render 'jobs/job_description/profile_description'

- elsif @job_board.job_board_header.background_image.present? 
  .portal-header{:style => "background: url(#{@job_board.job_board_header.background_image.file.url}) no-repeat center center fixed; background-size: cover; height: 400px "}
    .header-overlay{:style => "background: rgba(0,0,0,0.4)"}
      .intro-message
        .header= @job.title
  .main-row-container
    .inner-container
      = render 'jobs/job_description/basic_description'
- else
  .portal-header{:style => "background-color: #EF7B2B"}
    .header-overlay{:style => "background: rgba(0,0,0,0.5)"}
      .intro-message
        .header= @job.title
  .main-row-container
    .inner-container
      = render 'jobs/job_description/basic_description'

