.company-profile#all-association-jobs
  .portal-header{:style => "background: url(#{@job_board.job_board_header.background_image.file.large.url}) no-repeat center center fixed; background-size: cover "}
    .header-overlay{:style => "background: rgba(0,0,0,0.4)"}
      .intro-message
        .header Community Job Board
        

.association-job-board
  .jobs
    - @jobs.each do |job|
      .job-posting
        .header-info
          %img(src="#{job.company.logo.file.medium_logo}" class="logo") 
          
          .job-detail
            .title= link_to "#{job.title}", job_path(job)
            .company= job.company.name
          .view-job= link_to "View Job", job_path(job), class: "btn btn-primary"
        .bottom-info
          .left-side
            %img(src="/tmp/small-location.png") 
            = "#{job.location}"
            
            %img(src="/tmp/small-bar-chart.png") 
            / = job.job_career_level.first.career_level.name
          .right-side 
            %img(src="/tmp/small-hammer.png") 
            / = job.industries.first.name

            %img(src="/tmp/small-briefcase.png") 
            / = job.job_kind.first.name

            %img(src="/tmp/small-clock.png") 
            - if job.created_at.present?
              = "#{time_ago_in_words(job.created_at)} ago"
    - if @jobs.count == 0 
      .not-present-container
        %p Sorry, there are currently no jobs posted