.job-board-header{:style => "background-image: url(#{@job_board.cover_photo.url})"}
  .intro-message
    .header= @job.title
    .sub-header= @job.location

.career-portal-job-container
  .job-description
    .job-header
      %h1= @job.title
      = "#{@job.location}"
    .job-body
      %p= simple_format(@job.description)
    .apply 
      - if current_user.present?
        - if @job.questionairre.present?      
          = link_to new_job_application_path(@job) do 
            .app-btn{:style => "background-color: #{@job_board.brand_color}"}
              Apply to this Job
    
        - else
          = bootstrap_form_for [@application] do |f|
            .fieldset
              .form-group.col-md-12
              = f.hidden_field :user_id, value: current_user.id
              = f.hidden_field  :job_id, value: @job.id
              .app-btn{:style => "background-color: #{@job_board.brand_color})"}
                = f.submit "Apply to Job"
      - else 
        = render "/users/sub_new_job_seeker"
        = render "/sessions/sub_login"
        .app-btn{:style => "background-color: #{@job_board.brand_color})"}
          = link_to "Apply To Job", "", :class => "btn btn-primary app-btn", "data-toggle" => "modal", "data-target" => "#SubLoginModal"



  .extra-job-details
    .apply 
      - if current_user.present?
        - if @job.questionairre.present?
          = link_to new_job_application_path(@job) do 
            .app-btn{:style => "background-color: #{@job_board.brand_color}"}
              Apply to this Job
              
        - else
          = bootstrap_form_for [@application] do |f|
            .fieldset
              .form-group.col-md-12
              = f.hidden_field :user_id, value: current_user.id
              = f.hidden_field  :job_id, value: @job.id
              .app-btn{:style => "background-color: #{@job_board.brand_color})"}
                = f.submit "Apply to Job", class: 'app-btn', :html => {:style => "background-color: #{@job_board.brand_color})"}
      - else 
        = render "/users/sub_new_job_seeker"
        = render "/sessions/sub_login"
        .app-btn{:style => "background-color: #{@job_board.brand_color})"}
          = link_to "Apply To Job", "", :class => "btn btn-primary app-btn", "data-toggle" => "modal", "data-target" => "#SubLoginModal"
    %h3 Job Details 
    .detail
      .type Industry
      .content= @job.job_industries.first.industry.name
    .detail
      .type Career Level 
      .content= @job.career_level
    .detail
      .type Salary
      .content= "$60,000 - $100,000"
    .detail
      .type Posted
      .content= "#{time_ago_in_words(@job.created_at)} ago"

  
    
    


