- content_for :head do 
  = tag :meta, property: "og:site_name", content: "TalentWiz" 
  = tag :meta, property: "og:type", content: "Talentwiz:job"
  = tag :meta, property: "og:title", content: @job.title
  = tag :meta, property: "og:url", content: @job.url
  = tag :meta, property: "og:image", content: @job_board.job_board_header.background_image.file.url




- if @company.job_board.kind == "basic"
  = render 'jobs/basic_job'
- else 
  = render 'jobs/regular_job'


