- if @assessments.present?
  - @assessments.each do |assessment| 
    .template{id: "interview_kit_#{assessment.id}"}
      .title= assessment.name
      .dropdown
        .dropdown-button
          %i.fa.fa-ellipsis-h.fa-lg
        .dropdown-content#myDropdown
          = link_to edit_business_assessment_template_path(assessment), remote: true  do
            %i.fa.fa-pencil
            .action Edit
          = link_to business_assessment_template_path(assessment), remote: true, :method => :delete, data: {:confirm => "Are You Sure? You can not undo this action."}  do  
            %i.fa.fa-trash-o
            .action Destroy
- else 
  .not-present-container
    %p You currently do not have any Assessment Templates
    .add-object= link_to "+ Assessment Template", new_business_assessment_template_path, remote: true, class: 'btn border-button'
      



      