.modal-body   
  / %p Build a career portfolio, than easily apply to jobs at the click of a button. Track your job applications with ease, and build job notifications to alert you when jobs are posted.
  = form_for @user, url: '/job_seeker_signup' do |f|
    .form-row-no-border
      .contain-50
        = f.label :first_name, "First Name"
        = f.text_field :first_name, placeholder: "First Name", id: "first_name_Block"
        %span#first_name_msgBlock
      .contain-50
        = f.label :last_name, "Last Name"
        = f.text_field :last_name, placeholder: "Last Name", id: "last_name_Block"
        %span#last_name_msgBlock
    .form-row-no-border
      = f.label :email, "E-mail"
      = f.email_field :email, placeholder: "Email Address", id: "email_Block"
      %span#email_msgBlock
    .form-row-no-border
      = f.label :phone, "Phone"
      = f.text_field :phone, placeholder: "Phone Number", hide_label: true, id: "phone_Block"
      %span#phone_msgBlock
    .form-row-no-border
      = f.label :location, "Location"
      = f.text_field :location, id: "geocomplete", autocomplete: "off", hide_label: true
      %span#location_msgBlock
    .form-row-no-border
      = f.label :password, "Password"
      = f.password_field :password, placeholder: "Password", hide_label: true, id: "password_Block"
      %span#password_msgBlock
    .form-row-no-border
      = f.submit "Create Profile", class: "btn submit-button"
      .have-account
        Already have an account? 
        = link_to "Sign In", login_path, remote: true

.modal-footer
  .power
    .powered-by Powered by
    %img(src="/tmp/logo.jpg")