.business-registration
  .header
    %img.logo(src="/tmp/logo.jpg")
    %h2 Sign Up Today
  .body
    = bootstrap_form_for @user, html: {class: 'form-horizontal'} do |f|
      %fieldset
        = f.text_field :first_name, placeholder: "First Name", hide_label: true
        = f.text_field :last_name, placeholder: "Last Name", hide_label: true
        = f.email_field :email, placeholder: "Email Address", hide_label: true
        = f.password_field :password, placeholder: "Password", hide_label: true
        = f.hidden_field :kind, :value => 'business'
        = hidden_field_tag :invitation_token, @invitation_token
        = f.submit "Sign me up", class: "btn btn-primary"