%h4#filter-header Filters

.applicant-filters
  = form_tag business_job_path(@job), method: :get do
    .filter
      .search-field   
        .form-group
          = search_field_tag :query, params[:query], placeholder: "Advanced Text Search", class: "form-control"
    .filter 
      .filter-header
        %h4 Date Applied
        .glyphicon.glyphicon-minus
        .glyphicon.glyphicon-plus
      .filter-body{:id => "#{@job.id}"}
        %ul
          %li 
            .applicant-filter-checkbox{:data => {:id => "all_applied", :filter => 'DateApplied'}}
              = check_box_tag :date_applied, 'all', params[:date_applied] == 'all', class: 'filter-checkbox'
              .filter-title All 
          %li
            .applicant-filter-checkbox{:data => {:id => "now-2w", :filter => 'DateApplied'}}
              = check_box_tag "", false, false, class: 'filter-checkbox'
              .filter-titleLast 2 weeks
          %li 
            .applicant-filter-checkbox{:data => {:id => "now-1M", :filter => 'DateApplied'}}
              = check_box_tag "", false, false, class: 'filter-checkbox'
              .filter-title Last Month
          %li
            .applicant-filter-checkbox{:data => {:id => "now-3M", :filter => 'DateApplied'}}
              = check_box_tag "", false, false, class: 'filter-checkbox'
              .filter-title Last 3 Months
          %li 
            .applicant-filter-checkbox{:data => {:id => "now-1y", :filter => 'DateApplied'}}
              = check_box_tag "", false, false, class: 'filter-checkbox'
              .filter-title Last Year
    .filter
      .filter-header
        %h4 Tags
        .glyphicon.glyphicon-minus
        .glyphicon.glyphicon-plus
      .filter-body
        %ul
          - @tags.each do |tag| 
            %li
              .applicant-filter-checkbox{:data => {:id => "#{tag.name}", :filter => 'Tags'}}
                = check_box_tag "", false, false, class: 'filter-checkbox'
                .filter-title #{tag.name.capitalize}
  

  .filter
    .filter-header
      %h4 Rating
      .glyphicon.glyphicon-minus
      .glyphicon.glyphicon-plus
    .filter-body 
      = render 'business/ratings/rating_filter'
  