= form_tag search_business_job_applications_path(@job), :method => 'get', id: "search-form" do
  .search-form
    .search-area-content
      %i.fa.fa-search.fa-stack-2x
      = text_field_tag "query", nil, placeholder: "Search Candidates", class: "search-field" , autocomplete: 'off'
  .applicant-filters
    .filter-container
      .filter-header
        %h4 Rating
        .glyphicon.glyphicon-minus
        .glyphicon.glyphicon-plus
      .filter-body 
        = render 'business/ratings/rating_filter'
    .filter-container
      .filter-header
        %h4 Tags
        .glyphicon.glyphicon-minus
        .glyphicon.glyphicon-plus
      .filter-body
        %ul
          - @tags.each do |tag| 
            %li
              = check_box_tag "tags[]", "#{tag.name}", false, class: 'filter'
              .filter-title #{tag.name.capitalize}
    .filter-container 
      .filter-header
        %h4 Date Applied
        .glyphicon.glyphicon-minus
        .glyphicon.glyphicon-plus
      .filter-body
        %ul
          %li 
            = check_box_tag "date_applied", "2 years", false, class: 'filter'
            .filter-title All 
          %li
            = check_box_tag "date_applied", (Time.now - 2.weeks).strftime('%Y-%m-%d'), false, class: 'filter'
            .filter-titleLast 2 weeks
          %li 
            = check_box_tag "date_applied", (Time.now - 1.month).strftime('%Y-%m-%d'), false, class: 'filter'
            .filter-title Last Month
          %li
            = check_box_tag "date_applied", (Time.now - 3.months).strftime('%Y-%m-%d'), false, class: 'filter'
            .filter-title Last 3 Months
          %li 
            = check_box_tag "date_applied", (Time.now - 1.year).strftime('%Y-%m-%d'), false, class: 'filter'
            .filter-title Last Year
    .filter-container 
      .filter-header
        %h4 Search CV
        .glyphicon.glyphicon-minus
        .glyphicon.glyphicon-plus
      .filter-body
        = text_field_tag "qcv", nil, placeholder: "Search CV", class: "search-field"