.applicants
  .header
    = render "business/applications/move_stages"
    = render "business/comments/add_comment"
    = render "business/messages/send_message"
    = render "business/tags/add_tags"
    .no-action-buttons
      .btn.border-button Move Stages
      .btn.border-button Send E-mail
      .btn.border-button Add Note 
      .btn.border-button Add Tag
    .applicant-action-buttons
      = link_to 'Move Stages', '#', class: "btn active-application-button", id: "move-applicants", :data => {:toggle => "modal", :target => "#stageModal"}
      = link_to 'Send E-mail', '#', class: "btn active-application-button", id: "move-applicants", :data => {:toggle => "modal", :target => "#send_messageModal"}
      = link_to 'Add Note', '#', class: "btn active-application-button", id: "move-applicants", :data => {:toggle => "modal", :target => "#add_commentModal"}
      = link_to 'Add Tag', '#', class: "btn active-application-button", id: "move-applicants", :data => {:toggle => "modal", :target => "#addTagsModal"}

  .applicant-table-body
    = render 'business/applications/job_applications/applications_table'