.application-actions
  - if can? :create, Candidate
    = link_to 'Add Candidate', new_business_candidate_path(:job => @job), class: "btn border-button", id: "add-applicant", remote: true
  .no-action-buttons
    .btn.inactive-button More Actions
    - if can? :create, Message
      .btn.inactive-button Send E-mail
    .btn.inactive-button Move Stages 
    .btn.inactive-button Add Tag
  .applicant-action-buttons
    .dropdown
      .dropdown-button.active-application-button
        More Actions
        %i.fa.fa-ellipsis-h.fa-lg
      .dropdown-content#action-dropdown
        = link_to new_multiple_business_comments_path(job: @job), remote: true do 
          %i.fa.fa-pencil
          .action Add Note
        
        - if can? :create, Task
          = link_to new_multiple_business_tasks_path(job: @job), remote: true, id: 'client-action' do
            %i.fa.fa-tasks 
            .action Create Task

        - if can? :create, InterviewInvitation
          = link_to new_business_interview_invitation_path(job: @job), remote: true do 
            %i.fa.fa-paper-plane-o
            .action Interview Invitation
        - if can? :edit, Candidate
          = link_to '#', id: "destroy_candidates", class: "move-applicants", :data => {:toggle => "modal", :target => "#destroy_candidatesModal"} do
            %i.fa.fa-trash-o
            .action Remove from Job
    - if can? :create, Message
      = link_to 'Send E-mail', new_multiple_business_messages_path, class: "btn active-application-button", remote: true
    
    = link_to 'Move Stages', multiple_change_stages_business_applications_path(job: @job), class: "btn active-application-button", remote: true

    = link_to "Add Tag", new_business_tag_path, class: "btn active-application-button", remote: true

