.applicants
  .applicant-table-body
    %table.table
      %thead
        %tr
          %th(width="1%")
            #select_all= check_box_tag 'Select All', class: 'select_all_applicants'
          %th(width="10%")
          %th(width="25%") Name 
          %th(width="20%") Stage
          %th(width="20%") Rating 
          %th(width="25%") Date Applied
        %tbody
          - @candidates.each do |candidate|
            %tr{:id => "#{application_stage(candidate, @job)}" }
              %td
                .applicant-checkbox{:data => {:id => candidate.id}}
                  = check_box_tag "applicant_ids[]", candidate.id, false, class: "checkbox"
              %td
                = candidate_user_avatar(candidate)
              %td
                .content
                  = link_to "#{candidate.full_name}", business_job_application_path(@job, current_application(candidate, @job)), class: "name", :data => {:id =>  "#{candidate.full_name}"}
                  
                  - if candidate.current_jobs.present?
                    .bottom-content= "#{candidate.current_jobs.first.title} - #{candidate.current_jobs.first.company_name}"
                  - else
                    .bottom-content No Experience Listed
              %td
                .content
                  .stage= application_stage(candidate, @job)
              %td
                .content
                  = render 'business/ratings/form', application: candidate
              %td
                .content
                  .stage= "#{time_ago_in_words(candidate.created_at)} ago"    
    .not-present-container
      %p There are currently no applicants in this stage.
