%ul.job-stage-area
  .base-stages
    %li.job_list_stage.activated{:data => {:job => "#{@job.id}"}}
      .number 
        = applied_applications_count(@job)
      .name All Applicants
    = link_to quick_screen_business_job_applications_path(@job), remote: true do
      %li#all_applicants.job_list_stage
        .number 
          = new_applications_count(@job)
        .name New Applicants
  .all-stages
    - @job.stages.each do |stage| 
      %li.job_list_stage{:data => {:stage => "#{stage.id}", :job => "#{@job.id}"}}
        .number= stage_count(@job, stage)
        .name= stage.name 
         
    %li.job_list_stage{:data => {:hired => "true", :job => "#{@job.id}"}}
      .number 
        = hired_applications_count(@job)
      .name Hired
    %li.job_list_stage{:data => {:rejected => "true", :job => "#{@job.id}"}}
      .number 
        = rejected_applications_count(@job)
      .name Disqualified