%ul.job-stage-area
  .base-stages
    %li#all_applicants.activated.job_list_stage
      .number 
        = applied_applications_count
      .name All Applicants
    %li#all_applicants.job_list_stage
      .number 
        = hired_applications_count
      .name New Applicants
  .all-stages
    - @job.stages.each do |stage| 
      %li.job_list_stage{:id => "#{stage.name}"}
        .number= stage.applications.count
        .name= stage.name 
         
    %li.job_list_stage#Rejected
      .number 
        = hired_applications_count
      .name Hired
    %li.job_list_stage#Rejected
      .number 
        = hired_applications_count
      .name Disqualified