.nav-container
  .navigation
    - if @job_board.company.logo.present?
      = link_to root_path do
        %img(src="#{@job_board.company.logo.file.large_logo}" class="sub_logo")
    - else
      .brand
        = link_to root_path do
          = current_company.name
    %ul#section-nav
      %li Jobs
      - @job_board.header_links.each do |f| 
        %li= f.name
    
    %ul#portal-login
      %li= link_to "Login", login_path, remote: true
      %li= link_to "Sign Up", new_user_path, remote: true
      
- if @job_board.job_board_header.background_image.present? 
  .portal-header{:style => "background: url(#{@job_board.job_board_header.background_image.file.url}) no-repeat center center fixed; background-size: cover "}
    .header-overlay{:style => "background: rgba(0,0,0,0.4)"}
      .intro-message
        .header= @job_board.job_board_header.header
        .sub-header= @job_board.job_board_header.subheader 

- else
  .portal-header{:style => "background-color: #EF7B2B"}
    .header-overlay{:style => "background: rgba(0,0,0,0.5)"}
      .intro-message
        .header= @job_board.job_board_header.header
        .sub-header= @job_board.job_board_header.subheader 