- if @sections.count != 0
  .job-board-sections
    - @sections.each do |section|
      .section
        .section-content
          - if section.kind == 'Text-Photo'
            - if "#{section.layout}" == 'float-left'
              = render 'job_board_rows/text_img_left', section: section
            - elsif "#{section.layout}" == 'float-right'
              = render 'job_board_rows/text_img_right', section: section
            - elsif "#{section.layout}" == 'center'
              = render 'job_board_rows/text_img_center', section: section
          - elsif section.kind == 'Text'
            = render 'job_board_rows/text', section: section
          - elsif section.kind == 'Video'
            = render 'job_board_rows/video_row', section: section
          - elsif section.kind == 'Team'
            = render 'job_board_rows/team', section: section
          - elsif section.kind == 'Photo'
            = render 'job_board_rows/photos', section: section