%div.new_rating{:id => "#{application.id}"}
  %fieldset.rating{:id => "rating_#{application.id}"}
    - if application.current_user_rating(current_user) == 5
      %input.star{:name => "rating_#{application.id}", :id => "rating_#{application.id}_star5", :type => "radio", :value => "5", checked: true}
    - else
      %input.star{:name => "rating_#{application.id}", :id => "rating_#{application.id}_star5", :type => "radio", :value => "5"}
    %label.full{:for => "rating_#{application.id}_star5"}

    - if application.current_user_rating(current_user) == 4.5
      %input.star{:name => "rating_#{application.id}", :id => "rating_#{application.id}_star4half", :type => "radio", :value => "4.5", checked: true}
    - else
      %input.star{:name => "rating_#{application.id}", :id => "rating_#{application.id}_star4half", :type => "radio", :value => "4.5"}
    %label.half{:for => "rating_#{application.id}_star4half"}
    
    - if application.current_user_rating(current_user) == 4
      %input.star{:name => "rating_#{application.id}", :id => "rating_#{application.id}_star4",  :type => "radio", :value => "4", checked: true} 
    - else
      %input.star{:name => "rating_#{application.id}", :id => "rating_#{application.id}_star4",  :type => "radio", :value => "4"}
    %label.full{:for => "rating_#{application.id}_star4"}
    
    - if application.current_user_rating(current_user) == 3.5
      %input.star{:name => "rating_#{application.id}", :id => "rating_#{application.id}_star3half", :type => "radio", :value => "3.5", checked: true}
    - else
      %input.star{:name => "rating_#{application.id}", :id => "rating_#{application.id}_star3half", :type => "radio", :value => "3.5"}
    %label.half{:for => "rating_#{application.id}_star3half"}
    
    - if application.current_user_rating(current_user) == 3
      %input.star{:name => "rating_#{application.id}", :id => "rating_#{application.id}_star3", :type => "radio", :value => "3", checked: true}
    - else
      %input.star{:name => "rating_#{application.id}", :id => "rating_#{application.id}_star3", :type => "radio", :value => "3"}
    %label.full{:for => "rating_#{application.id}_star3"}
    
    - if application.current_user_rating(current_user) == 2.5
      %input.star{:name => "rating_#{application.id}",:id => "rating_#{application.id}_star2half", :type => "radio", :value => "2.5", checked: true}
    - else 
      %input.star{:name => "rating_#{application.id}", :id => "rating_#{application.id}_star2half", :type => "radio", :value => "2.5"}
    %label.half{:for => "rating_#{application.id}_star2half"}
    
    - if application.current_user_rating(current_user) == 2
      %input.star{:name => "rating_#{application.id}",:id => "rating_#{application.id}_star2", :type => "radio", :value => "2", checked: true}
    - else
      %input.star{:name => "rating_#{application.id}",:id => "rating_#{application.id}_star2", :type => "radio", :value => "2"}
    %label.full{:for => "rating_#{application.id}_star2"}
    
    - if application.current_user_rating(current_user) == 1.5
      %input.star{:name => "rating_#{application.id}", :id => "rating_#{application.id}_star1half", :type => "radio", :value => "1.5", checked: true}
    - else
      %input.star{:name => "rating_#{application.id}", :id => "rating_#{application.id}_star1half", :type => "radio", :value => "1.5"}
    %label.half{:for => "rating_#{application.id}_star1half"}
    
    - if application.current_user_rating(current_user) == 1
      %input.star{:name => "rating_#{application.id}", :id => "rating_#{application.id}_star1", :type => "radio", :value => "1", checked: true}
    - else
      %input.star{:name => "rating_#{application.id}", :id => "rating_#{application.id}_star1", :type => "radio", :value => "1"}
    %label.full{:for => "rating_#{application.id}_star1"}
    
    - if application.current_user_rating(current_user) == 0.5
      %input#starhalf.star{:name => "rating_#{application.id}", :id => "rating_#{application.id}_starhalf", :type => "radio", :value => "half", checked: true}
    - else
      %input#starhalf.star{:name => "rating_#{application.id}", :id => "rating_#{application.id}_starhalf", :type => "radio", :value => "half"}
    %label.half{:for => "rating_#{application.id}_starhalf"}