%section.admin-header.col-md-12.row
  .admin-items.col-md-offset-1
    %ul
      %li.company-name TalentWiz
      %li.dropdown
        %button(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle btn btn-default" data-target="#")
          Subsidiaries
          %b.caret
        %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
          - @subsidiaries.each do |subsidiary| 
            %li= link_to subsidiary.name, business_subsidiary_path(subsidiary)
      %li.new-sub
        = link_to "New Subsidiary", new_business_subsidiary_path, class: 'btn btn-primary'
    
   
.row.col-md-12
  %section.col-md-2.col-md-offset-1
    %ul.nav.nav-pills.nav-stacked
      %li
        = link_to '#' do 
          %span.glyphicon.glyphicon-plane
          Company Profile
      %li
        = link_to business_locations_path do 
          %span.glyphicon.glyphicon-plane
          Locations
      %li
        = link_to business_users_path do 
          %span.glyphicon.glyphicon-plane
          Hiring Team
      %li= link_to 'E-mail Templates' 
      %li= link_to 'Job Templates' 
      %li= link_to 'Subscription' 
      %li= link_to 'Billing'
  

  %section.locations.col-md-8
    .panel.panel-primary
      .panel-heading
        .panel-title #{@company.name} Locations
        = link_to "New Location", new_business_location_path, class: 'btn btn-default'
      %table.table
        %thead
          %tr
            %th Location #
            %th Location Name
            %th Country
            %th Address
            %th Number of Users
            %th
        %tbody
          - @location.each do |location|
            %tr
              %td
                %p= location.number
              %td
                %p= location.name
              %td
                %p= location.address
              %td
                %p
                  = location.city
                  , 
                  = location.state
              
                  
              %td
                %p 4
              %td
                = link_to "", method: :post do
                  %i.glyphicon.glyphicon-remove
          

