= form_for [:business, @job_board, @job_board_header], remote: true, format: :js do |f| 
  .modal-body
    .job-board-form-nav
      %ul
        %li.active Content
    .job-board-form   
      .float-container
        .header 
          Header
        .body
          = f.text_field :header, class: "form-control subdomain-field"
      .float-container
        .header 
          Sub-Header
        .body  
          = f.text_field :subheader, label: "Subheader", class: "form-control"
      .float-container
        .header 
          Company Logo 
        .body  
          .logo= image_tag(@job_board.job_board_header.logo) if @job_board.job_board_header.logo?
          = f.file_field :logo, class: "btn btn-file"
          = f.hidden_field :logo_cache
      .float-container
        .header 
          Background Photo
        .body  
          = f.file_field :cover_photo, label: "Background Photo", class: "btn btn-file"
          = f.hidden_field :cover_photo_cache
  .modal-footer
    = f.submit "Update Header", class: "btn submit-button"
    .btn.border-button2{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel