.modal-body
  .job-board-form-nav
    %ul
      %li.active Content 
  = form_for [:business, @job_board, @job_board_header],:html => { :multipart => true, id: "job-board-section"}, remote: true do |f|
    .job-board-form   
      .float-container
        .header 
          Header
        .body
          = f.text_field :header, class: "form-control subdomain-field"
      .float-container
        .header 
          Sub-Header
        .body  
          = f.text_field :subheader, label: "Subheader", class: "form-control"
  .job-board-form 
    #logo-area
      = render 'business/logos/form'
  .job-board-form
    #background-area
      = render 'business/background_images/form'

.modal-footer
  = submit_tag "Update Header", class: "btn submit-button", id: 'submit-section'
  .btn.border-button.close-modal Cancel