= form_tag search_business_jobs_path, :method => 'get', id: "search-form" do
  .filter-radios 
    %ul  
      = radio_button_tag "is_active", true, true, class: 'filter'
      = label_tag "is_active_true", "Active", :value => "open", class: 'filter'
      
      = radio_button_tag "is_active", false, false, class: 'filter'
      = label_tag "is_active_false", "Archived", :value => "company", class: 'filter'

  .main-filters
    .toggle-actions 
      = radio_button_tag "job_status", "all", true, class: 'filter'
      = label_tag "job_status_all", "All", :value => "all", class: 'filter'
      
      = radio_button_tag "job_status", "open", false, class: 'filter'
      = label_tag "job_status_open", "Open", :value => "open", class: 'filter'

      = radio_button_tag "job_status", "closed", false, class: 'filter'
      = label_tag "job_status_closed", "Closed", :value => "closed", class: 'filter'

    .search-form
      .search-area-content
        %i.fa.fa-search.fa-stack-2x
        = text_field_tag "query", nil, placeholder: "Search Jobs", class: "search-field", autocomplete: "off"