= form_tag search_business_jobs_path, :method => 'get', id: "search-form" do
  .filter-radios 
    %ul  
      = radio_button_tag "is_active", true, true, class: 'filter'
      = label_tag "is_active_true", "Active", :value => "open", class: 'filter'
      = radio_button_tag "is_active", false, false, class: 'filter'
      = label_tag "is_active_false", "Archived", :value => "company", class: 'filter'

  .main-filters
    .toggle-actions 
      = link_to search_business_jobs_path(all: "true"), remote: true do 
        .btn.border-button.toggle-show#all.toggle-showing All
      = link_to search_business_jobs_path(status: "open"), remote: true do 
        .btn.border-button.toggle-show#open Published
      = link_to search_business_jobs_path(status: "closed"), remote: true do
        .btn.border-button.toggle-show#closed Closed
    .search-form
      .search-area-content
        %i.fa.fa-search.fa-stack-2x
        = text_field_tag "query", nil, placeholder: "Search Jobs", class: "search-field", autocomplete: "off"