= form_for [:business, @job] do |f|
  .form-row-no-border
    = f.label :title, "Job Title"
    = f.text_field :title, autocomplete: "off"
    = show_errors(@job, :title) 
  .form-row-no-border
    .contain-50
      = f.label :city, "City"
      = f.text_field :location, id: "geocomplete", placeholder: "City Name"
      = show_errors(@job, :location) 
    .contain-50
      = f.label :city, "Address"
      = f.text_field :address, id: "geocomplete2", placeholder: "Enter the Address"
      = show_errors(@job, :address) 
  - if current_company.kind == "recruiter"
    .form-row-no-border
      = f.label :description, "Client"
      = f.collection_select(:client_id, current_company.clients, :id, :company_name, label: "Client", :include_blank => true, :selected => @job.new_record? ? nil : @job.client.id)
    .form-row-no-border
      = f.label :recruiter_description, "Internal Description"
      = f.trix_editor :recruiter_description
  .form-row-no-border
    = f.label :description, "Job Description"
    = f.trix_editor :description
    = show_errors(@job, :address) 
  
  .form-row-no-border
    .col-md-4
      = f.label :description, "Industry"
      = f.collection_select(:industry, Industry.all, :name, :name, :include_blank => true, :selected => @job.new_record? ? nil : @job.industry )
    .col-md-4
      = f.label :description, "Job Function"
      = f.collection_select(:function, Function.all, :name, :name, :include_blank => true, :selected => @job.new_record? ? nil : @job.function)
  .form-row-no-border
    .col-md-4
      = f.label "Education"
      = f.select :education_level, options_for_select([ "High Scool", "Associate Degree", "Bachelor's Degree", "Masters", "Ph.D"], :selected => "#{@job.education_level}" ), :include_blank => true
    .col-md-4
      = f.label "Career Level"
      = f.select :career_level, options_for_select([ "Entry Level", "Experience", "Manager", "Executive", "Senior Executive"], :selected => "#{@job.career_level}" ), :include_blank => true
    .col-md-4
      = f.label "Employment Type"
      = f.select :kind, options_for_select([ "Full Time", "Part Time", "Contract", "Permanent", "Summer", "Internship" ], :selected => "#{@job.kind}"), :include_blank => true, label: "Job Type"
  .container-footer
    = f.hidden_field :user_ids, value: current_user.id
    = f.hidden_field :company_id, value: current_company.id
    = f.button @job.new_record? ? "Create Posting" : "Save and Continue", class: "btn border-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'> </i> Saving..."}

