
= bootstrap_form_for [:business, @job] do |f|
  .fieldset
    .row
      .form-group.col-md-6
        = f.text_field :title, class: "form-control", label: "Job Title"
    .row
      .form-group.col-md-6
        = f.text_field :location, class: "form-control", id: "geocomplete", label: "Location (City)", placeholder: "City Name"
      
      .form-group.col-md-6
        = f.text_field :address, class: "form-control", id: "geocomplete2", label: "Address", placeholder: "Enter the Address"

    .row
      .form-group.col-md-4
        = f.collection_select(:industry_ids, Industry.all, :id, :name, label: "Industry", :include_blank => true)
      .form-group.col-md-4
        = f.collection_select(:function_ids, Function.all, :id, :name, label: "Job Function", :include_blank => true)
      .form-group.col-md-4
        = select_tag "Job Type", options_for_select([ "Full Time", "Part Time", "Contract", "Permanent", "Summer", "Internship" ] ), :include_blank => true
    .row
      .form-group.col-md-4
        = select_tag "Education Level", options_for_select([ "High Scool", "Associate Degree", "Bachelor's Degree", "Master's", "Ph.D"] ), :include_blank => true
      .form-group.col-md-4
        = select_tag "Job Level", options_for_select([ "Entry Level", "Experience", "Manager", "Executive", "Senior Executive"] ), :include_blank => true
        
        / = f.collection_select(:career_level_ids, CareerLevel.all, :id, :name, label: "Career Level")
    .row
      = f.text_area :description, :class => "tinymce", :rows => 40, :cols => 120
      = tinymce_assets        
      = tinymce 
    .row
      = hidden_field_tag :user_ids, current_user.id
      = f.hidden_field :company_id, value: current_company.id
      .col-md-1.col-md-offset-9
        = f.submit @job.new_record? ? "Create Job Posting" : "Save and Continue", class: "btn btn-primary"

