= bootstrap_form_for [:business, @job] do |f|
  .fieldset
    .row
      .form-group.col-md-6
        = f.text_field :title, class: "form-control", label: "Job Title"
    .row
      .form-group.col-md-4
        = f.collection_select(:country_ids, Country.all, :id, :name, label: "Country")
      .form-group.col-md-4
        = f.grouped_collection_select(:state_ids, Country.order(:name), :states, :name, :id, :name, include_blank: true, label: "Province/State")
      .form-group.col-md-4
        = f.text_field :city, class: "form-control", label: "City"
    .row
      .form-group.col-md-4
        = f.collection_select(:industry_ids, Industry.all, :id, :name, label: "Industry")
      .form-group.col-md-4
        = f.collection_select(:function_ids, Function.all, :id, :name, label: "Job Function")
      .form-group.col-md-4
        = f.collection_select(:job_kind_ids, JobKind.all, :id, :name, label: "Job Type", :include_blank => true)
    .row
      .form-group.col-md-4
        = f.collection_select(:education_level_ids, EducationLevel.all, :id, :name, label: "Education Level", :include_blank => "Choose...")
      .form-group.col-md-4
        = f.collection_select(:career_level_ids, CareerLevel.all, :id, :name, label: "Career Level")
    .row
      .form-group.col-md-12
        = f.text_area :description, rows: 12, class: "wysihtml5 form-control", label: "Description", :data => {:provider => "summernote" } , id: "summmernote"
    .row
      .form-group.col-md-12
        = f.text_area :benefits, rows: 12, class: "wysihtml5 form-control", label: "Benefits"
    .row
      = hidden_field_tag :user_ids, current_user.id
      .col-md-1.col-md-offset-10
        = f.submit @job.new_record? ? "Create Job Posting" : "Save and Continue", class: "btn btn-primary"

