= form_for [:business, @job] do |f|
  .form-row-no-border
    .col-md-12
      = f.label :title, "Job Title"
      = f.text_field :title, class: "form-control", autocomplete: "off"
  .form-row-no-border
    .col-md-6
      = f.label :city, "City"
      = f.text_field :location, class: "form-control", id: "geocomplete", placeholder: "City Name"
    .col-md-6
      = f.label :city, "Address"
      = f.text_field :address, class: "form-control", id: "geocomplete2", placeholder: "Enter the Address"

 
  
  - if current_company.kind == "recruiter"
    .form-row-no-border
      .form-group.col-md-12
        = f.label :description, "Internal Description"
        = f.collection_select(:client_id, current_company.clients, :id, :company_name, label: "Client", :include_blank => true, :selected => @job.new_record? ? nil : @job.industries.first.id)
  .form-row-no-border
    .form-group.col-md-12
      = f.label :description, "Job Description"
      = f.trix_editor :description
  - if current_company.kind == "recruiter"
    .row
      .form-group.col-md-12
        = f.trix_editor :recruiter_description

  .form-row-no-border
    .col-md-4
      / = f.collection_select(:industry_ids, Industry.all, :id, :name, label: "Industry", :include_blank => true, :selected => @job.new_record? ? nil : @job.industries.first.id )
      = f.label :description, "Industry"
      = f.collection_select(:industry, Industry.all, :name, :name, :include_blank => true, :selected => @job.new_record? ? nil : @job.industry )
    .col-md-4
      = f.label :description, "Job Function"
      = f.collection_select(:function, Function.all, :name, :name, :include_blank => true, :selected => @job.new_record? ? nil : @job.function)
      / = f.collection_select(:function_ids, Function.all, :id, :name, label: "Job Function", :include_blank => true)
  .form-row-no-border
    .col-md-4
      = f.label "Education"
      = f.select :education_level, options_for_select([ "High Scool", "Associate Degree", "Bachelor's Degree", "Masters", "Ph.D"], :selected => "#{@job.education_level}" ), :include_blank => true
    .col-md-4
      = f.label "Career Level"
      = f.select :career_level, options_for_select([ "Entry Level", "Experience", "Manager", "Executive", "Senior Executive"], :selected => "#{@job.career_level}" ), :include_blank => true
    .col-md-4
      = f.label "Employment Type"
      = f.select :kind, options_for_select([ "Full Time", "Part Time", "Contract", "Permanent", "Summer", "Internship" ], :selected => "#{@job.kind}"), :include_blank => true, label: "Job Type"
  .container-footer
    = f.hidden_field :user_ids, value: current_user.id
    = f.hidden_field :company_id, value: current_company.id
    - if @job.new_record?
      = f.hidden_field :status, value: "draft"
    = f.submit @job.new_record? ? "Create Job Posting" : "Save and Continue", class: "btn border-button"

