.business-job{:id => "job_#{job.id}"}
  .job-header 
    .title 
      = link_to job.title, business_job_applications_path(job)
    .location= "#{job.location}"
    .posted-time= "#{time_ago_in_words(job.created_at)} ago" 
  .job-body
    .btns
      .btn1
        = link_to 'Advertise Job', '#', class: 'button-job-actions'
      .dropdown.btn2
        %a.button-job-actions.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Actions
          %b.caret
        %ul.dropdown-menu
          %li
            %a= link_to "Edit Job Posting", edit_business_job_path(job)   
          - if job.status == 'draft'
            %li
              %a= link_to "Publish Job", business_job_path(job, status: 'publish'), method: :patch, remote: true  
          - elsif job.status == 'open'
            %li
              %a= link_to "Close Job", business_job_path(job, status: 'close'), method: :patch, remote: true
          - elsif job.status == 'closed'
            %li
              %a= link_to "Publish Job", business_job_path(job, status: 'publish'), method: :patch, remote: true
            %li 
              %a= link_to "Archive Job", business_job_path(job, status: 'archive'), method: :patch, remote: true

    .left-scroll
      %img(src="/tmp/left_arrow.png")
    %ul.job-stage-area
      .job-gallery
        %li.job_list_stage
          .number 
            = job.applications.count
          .name All Applicants
        - job.stages.each do |stage|  
          %li.job_list_stage
            .number 
              = stage.applications.count
            .name
              = stage.name
        %li.job_list_stage
          .number 
            = job.applications.where(rejected: true).count
          .name Rejected 
    .right-scroll
      %img(src="/tmp/right_arrow.png")

      