.business-job{:id => "job_#{job.id}"}
  .job-header 
    - if job.is_active == true
      - if job.status == 'open'
        %i.fa.fa-circle{style: 'color: green'}
      - elsif job.status == 'closed'
        %i.fa.fa-circle{style: 'color: red'}
    .title 
      = link_to job.title, business_job_applications_path(job)
    .location= "#{job.location}"
    .posted-time= "#{time_ago_in_words(job.created_at)} ago" 
  .job-body
    .btns
      .btn1
        = link_to 'Advertise Job', business_job_job_feeds_path(job, type: 'free'), class: 'button-job-actions'
      .dropdown
        .dropdown-button.btn2
          .button-job-actions
            Actions
            %b.caret
        .dropdown-content#myDropdown
          = link_to "Edit Job", edit_business_job_path(job)   
          - if job.status == 'open'
            = link_to "Close Job", business_job_path(job, status: 'closed'), method: :patch, remote: true
            = link_to "Archive Job", business_job_path(job, status: 'false'), method: :patch, remote: true
          - elsif job.status == 'closed'
            = link_to "Open Job", business_job_path(job, status: 'open'), method: :patch, remote: true
            = link_to "Archive Job", business_job_path(job, status: 'false'), method: :patch, remote: true

    .left-scroll
      %img(src="/tmp/left_arrow.png")
    %ul.job-stage-area
      .job-gallery
        %li.job_list_stage
          .number 
            = job.applications.count
          .name All Applicants
        - job.stages.each do |stage|  
          %li.job_list_stage
            .number 
              = stage.applications.count
            .name
              = stage.name
        %li.job_list_stage
          .number 
            = job.applications.where(rejected: true).count
          .name Rejected 
    .right-scroll
      %img(src="/tmp/right_arrow.png")

      