#post-a-job
  .side-container
    = render 'business/shared/job_details_nav'
  .main-container
    .job-feed-container
      .header
        %img(src="/tmp/adzuna_logo.png")
      .body
        = link_to "Post Job", "#", class: 'btn submit-button'
    
    .job-feed-container
      .header
        %img(src="/tmp/trovit_logo.png")
      .body
        = link_to "Post Job", "#", class: 'btn submit-button'
    
    .job-feed-container
      .header
        %img(src="/tmp/eluta_logo.gif")
      .body
        = link_to "Post Job", "#", class: 'btn submit-button'
    .job-feed-container
      .header
        %img(src="/tmp/jooble_logo.jpg")
      .body
        = link_to "Post Job", "#", class: 'btn submit-button'
    .job-feed-container
      .header
        %img(src="/tmp/job_inventory_logo.jpg")
      .body
        = link_to "Post Job", "#", class: 'btn submit-button'

    .job-feed-container
      .header
        %img(src="/tmp/juju_logo.png")
      .body
        = link_to "Post Job", "#", class: 'btn submit-button'
    