.container
  .sidebar
    %ul
      %li= link_to "Job Details", edit_business_job_path(@job)
      %li= link_to "Hiring Team", new_business_job_hiring_team_path(@job)
      %li= link_to "Recruitment Process", new_business_job_stage_path(@job)
      %li= link_to "Questionairre", edit_business_job_questionairre_path(@job.id, @questionairre.id)
      %li Scorecard
      %li Post Job 

  %main.col-md-8
    %h1 Job Details
    = render '/shared/errors', type: @job
    %p This is the information that job seekers will first see when they view the job posting on your Job Board, or external job boards.
    %br
    = bootstrap_form_for [:business, @job] do |f|
      .fieldset
        .row
          .form-group.col-md-6
            = f.text_field :title, class: "form-control", label: "Job Title"
        .row
          .form-group.col-md-4
            = f.text_field :country, class: "form-control", label: "Country"
          .form-group.col-md-4
            = f.text_field :province, class: "form-control", label: "Province"
          .form-group.col-md-4
            = f.text_field :city, class: "form-control", label: "City"
        .row
          .form-group.col-md-12
            = f.text_area :description, rows: 12, class: "form-control", label: "Description"
        .row
          .form-group.col-md-12
            = f.text_area :benefits, rows: 12, class: "form-control", label: "Benefits"
        .row
          .col-md-1.col-md-offset-10
            = f.submit "Create Job Opening", class: "btn btn-primary"