.contain 
  .sidebar    
    = link_to "Post a Job", new_business_job_path, class: 'button post-a-job'
    
    .nav
      %ul 
        %li 
          .content
            %i.glyphicon.glyphicon-briefcase
            My Jobs 
        .body
          .job-nav
            %ul
              %li.open.show Open Job Postings
              %li.closed Closed Job Postings
              %li.drafts Drafts 
              %li.archived Archived Job Postings
        %li 
          .content
            %i.glyphicon.glyphicon-list-alt
            Company Jobs
        %li 
          .content
            %i.glyphicon.glyphicon-user
            My Profile
    

  .main-container
    .header 
      .open-jobs.showing
        %h1 Open Job Postings
      .closed-jobs 
        %h1 Closed Job Postings
      .draft-jobs 
        %h1 Drafts
      .archived-jobs 
        %h1 Archived Jobs
    .body
      .open-jobs.showing
        - @open_jobs_count = 0

        - @jobs.each do |job|
          - open_jobs_count = 0
          - if job.status == 'open'
            - @open_jobs_count += 1 
            = render 'job_container', job: job
        
        - if @open_jobs_count == 0
          .not-present-container
            %p You currently do not have any open jobs.              
      
      .closed-jobs 
        - @closed_jobs_count = 0     

        - @jobs.each do |job|       
          - if job.status == 'closed'      
            - @closed_jobs_count += 1
            = render 'job_container', job: job 

        - if @closed_jobs_count == 0
          .not-present-container
            %p You currently do not have any closed jobs.
          
      .draft-jobs
        - @draft_jobs_count = 0

        - @jobs.each do |job|
          - if job.status == 'draft'                     
            - @draft_jobs_count += 1
            = render 'job_container', job: job

        - if @draft_jobs_count == 0
          .not-present-container
            %p You currently do not have any drafted job postings.

      .archived-jobs
        - @archived_jobs_count = 0

        - @jobs.each do |job|
          - if job.status == 'archived'                     
            - @archived_jobs_count += 1
            = render 'job_container', job: job

        - if @archived_jobs_count == 0
          .not-present-container
            %p You currently do not have any drafted job postings.
        

             



            

                


    / - @jobs.each do |job|
    /   .row 
    /     .well 
    /       %a
    /         =link_to job.title, business_job_path(job)
    /       %p
    /         = job.city 
    /         ,
    /         = job.country |
    /         = link_to "Edit", edit_business_job_path(job)
    /         Delete
    /       .row
    /         .well.col-md-2
    /           %h2.text-center 58 
    /           %p.text-center All Applicants
    /         .well.col-md-2
    /           %h2.text-center 10
    /           %p.text-center Screened
    /         .well.col-md-2
    /           %h2.text-center 5
    /           %p.text-center Phone Interview
    /         .well.col-md-2
    /           %h2.text-center 4 
    /           %p.text-center Interview
    /         .well.col-md-2
    /           %h2.text-center 1 
    /           %p.text-center Offer
    /         .well.col-md-2
    /           %h2.text-center 1 
    /           %p.text-center Hired

