.page-header
  %h1 Post a Job
#post-a-job
  .side-container
    %ul
      %li{:class => is_active?(new_business_job_path)} 
        Job Details
      %li Hiring Team
      %li Recruitment Process
      %li Questionairre
      %li Scorecard
      / %li Advertise Job 
  .main-container
    .job-feed-container
      .header
        %img(src="/tmp/adzuna_logo.png")
      .body
        = link_to "Post Job", "#", class: 'btn submit-button'
    
    .job-feed-container
      .header
        %img(src="/tmp/trovit_logo.png")
      .body
        = link_to "Post Job", "#", class: 'btn submit-button'
    
    .job-feed-container
      .header
        %img(src="/tmp/eluta_logo.gif")
      .body
        = link_to "Post Job", "#", class: 'btn submit-button'
    .job-feed-container
      .header
        %img(src="/tmp/jooble_logo.jpg")
      .body
        = link_to "Post Job", "#", class: 'btn submit-button'
    .job-feed-container
      .header
        %img(src="/tmp/job_inventory_logo.jpg")
      .body
        = link_to "Post Job", "#", class: 'btn submit-button'

    .job-feed-container
      .header
        %img(src="/tmp/juju_logo.png")
      .body
        = link_to "Post Job", "#", class: 'btn submit-button'