.job-show-header
  .header
    %h1= @job.title
    %p= "#{@job.city}, #{@job.province}, #{@job.country}"

  .job-stages  
    %ul 
      %li 
        %h6 All Applicants
        %h4 50
      %li 
        %h6 New Applicants
        %h4 10
      - @stages.each do |stage| 
        %li 
          %h6= stage.name
          %h4= stage.applicants.count 
      %li
        %h6 Rejected 
        %h4 5



.job-applicants
  .header
    %h1 Applicants  
    %form_tag.actions
      = render "business/applications/move_stages"
      = render "business/comments/add_comment"
      = render "business/messages/send_message"
      %input(type= "submit" value= "Move Stages" class= "move_action btn btn-primary" data-toggle = "modal" data-target = "#stageModal")
      %input(type= "submit" value= "Add Note" class= "add_note_action btn btn-primary" data-toggle = "modal" data-target = "#add_commentModal")
      %input(type= "submit" value= "Message" class= "send_message btn btn-primary" data-toggle = "modal" data-target = "#send_messageModal")
      %input(type= "submit" value= "Delete" class= "btn btn-primary")
  
  .applicants
    %table.table
      %thead
        %tr
          %th(width="1%")= check_box_tag "select_all"
          %th(width="5%")
          %th(width="20%") Name 
          %th(width="20%") Job Title
          %th(width="20%") Stage 
          %th(width="20%") Rating
          %th(width="5%") Remove
      %tbody
        - @applicants.each do |applicant|
          %tr
            %td.checkbox{:data => {:id => applicant.id}}
              = check_box_tag "applicant_ids[]", applicant.id
            %td
              %img.circle(src="/tmp/man.jpg")
            %td
              %h4= link_to "#{applicant.first_name} #{applicant.last_name}", business_job_application_path(@job, Application.where(user_id: applicant.id, job_id: @job).first.id)
              %h6 CEO - TalentWiz 
            %td
              %h4 Sales Manager
              %h6 May 22, 2015
            %td
              %h4 New Applicant


      / .modal.col-md-6.col-md-offset-4
      /   .panel.panel-primary
      /     .panel-heading 
      /       %h4 Move Applicants 
      /     .panel-body
      /       %p Move the selected applicants to a new stage, by selecting the stage below. 
            
      /       = form_for @job do |f|
      /         %fieldset
      /           / = f.hidden_field :job_id, value: @job.id
      /           / = f.label :stage_id 
      /           / = f.collection_select :stage_id, @stages.all, :id, :name
      /     .panel-footer
      /       %input(type="submit" value="Sign Up" class="btn btn-primary")
      / .modal-layer

    / %input(type="submit" value="Message" class="btn btn-primary")
    / %input(type="submit" value="Add Comment" class="btn btn-primary")



