.job-show-header
  .header
    .details
      %h1= @job.title
      .location= "#{@job.location}"
      .job-link
        = link_to "http://" + @job.url, :target => "_blank", class: "link" do
          .glyphicon.glyphicon-link
  .change-containers-nav
    %ul 
      = link_to business_job_applications_path(@job), remote: true do 
        %li.change#all-job-applicants.activated Applicants
      = link_to business_job_activities_path(@job), remote: true do 
        %li.change#job-activity-feed Activity   
      = link_to business_job_tasks_path(@job), remote: true do 
        %li.change#job-calendar Calendar
      %li.change#job-activity-feed Job Details

#main-container
  = render "business/candidates/app_new_modal"
  = render 'business/applications/job_applications/all_applications_table'

  .modal#add-to-jobModal
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
          %h4.modal-title Add to Job 
        .modal-body

    
