.job-show-header
  .header
    .details
      %h1= @job.title
      = "#{@job.location}"
      / = link_to "Job Link: #{@job.url}", "http://" + @job.url, :target => "_blank", class: "link"
    .links
      = link_to "Edit Job Details", edit_business_job_path(@job), class: "btn submit-button"
  .job-applicants-nav
    %ul 
      %li.applicants-tab.activated Applicants
      %li.activity-tab Activity
      %li.calendar-tab Calendar


.job-show-body
  = render 'business/shared/applicants_table'

= render 'business/calendar/job_calendar'
= render 'business/activities/job_activity_feed'
    
