.job-show-header
  .header
    %h1= @job.title
    %p= "#{@job.city}, #{@job.province}, #{@job.country}"
   
  .job-stages  
    %ul 
      %li#all_applicants.activated
        .number 
          = @job.applications.count
        .name All Applicants
      - @stages.each do |stage| 
        %li{:id => "#{stage.name}"}
          .number= stage.applicants.count
          .name= stage.name  
      %li#Rejected
        .number 
          = @job.applications.where(rejected: true).count
        .name Rejected

  .job-applicants-nav
    %ul 
      %li.applicants-tab.activated Applicants
      %li.activity-tab Activity


.job-applicants.active-tab
  = render 'business/shared/applicants_table'

.job-activity
  .header
    %h1 Activity
  .body
    .activity-filters
      .nav
        %ul 
          %li 
            .content
              Type: 
          .body
            %ul
              %li.activity 
                .checkbox{:data => {:id => "comments"}}= check_box_tag "", true, true
                Comments
              %li.activity
                .checkbox{:data => {:id => "scorecards"}}= check_box_tag "", true, true
                Scorecards
              %li.activity
                .checkbox{:data => {:id => "messages"}}= check_box_tag "", true, true
                Messages
              %li.activity
                .checkbox{:data => {:id => "move stages"}}= check_box_tag "", true, true
                Move Stages
              %li.activity
                .checkbox{:data => {:id => "applied"}}= check_box_tag "", true, true
                Applied
              %li.activity
                .checkbox{:data => {:id => "interview"}}= check_box_tag "", true, true
                Interview
    .job-activity-feed
      .activity-feed
        - @activities.each do |activity|         
          = render "business/activities/#{activity.trackable_type.underscore}/#{activity.action}", activity: activity  
