.job-show-header
  .header
    .details
      %h1= @job.title
      = "#{@job.location}"
      / = link_to "Job Link: #{@job.url}", "http://" + @job.url, :target => "_blank", class: "link"
    .links
      = link_to "Edit Job Details", edit_business_job_path(@job), class: "btn submit-button"
  .change-containers-nav
    %ul 
      %li.change#all-job-applicants.activated Applicants
      %li.change#job-activity-feed Activity
      %li.change#job-calendar Calendar

#main-container
  .all-job-applicants-container.showing
    = render 'business/shared/applicants_table'
  .job-calendar-container
    = render 'business/calendar/job_calendar'
  .job-activity-feed-container
    = render 'business/activities/job_activity_feed'
    
