.job-show-header
  .header
    .details
      %h1= @job.title
      = "#{@job.location}"
      %br
      = link_to "Job Link: #{@job.url}", "http://" + @job.url, :target => "_blank", class: "link"
    .links
      = link_to "Edit Job Details", edit_business_job_path(@job), class: "white-border-button"
  .change-containers-nav
    %ul 
      = link_to business_job_applications_path(@job), remote: true do 
        %li.change#all-job-applicants.activated Applicants
      = link_to business_job_activities_path(@job), remote: true do 
        %li.change#job-activity-feed Activity
      / %li.change#job-calendar Calendar

#main-container
  = render 'business/applications/job_applications/all_applications_table'
  / .job-calendar-container
  /   = render 'business/calendar/job_calendar'

    
