.bottom-container
  .logo
    %img(src="/tmp/logo.jpg") 
  .product-info
    %h4 Product
    %ul 
      %li= link_to "Features", features_plan_hiring_process_path
      %li= link_to "Pricing", pricing_path
  .contact-info
    %h4 Contact 
    %ul
      %li= link_to "Contact Us", contact_path
      %li= link_to "Personal Tour", demo_path
  .try-talentwiz
    %h4 Try TalentWiz Today
    %p Free 30-day Trial 
    = link_to "Try it Today", new_user_path, class: "btn btn-primary btn-large"