- if !request.subdomain.present? || request.subdomain == 'www' || request.subdomain == 'prod-talentwiz' || request.subdomain == 'dev-talentwiz' || request.subdomain == 'stageing-talentwiz' || request.subdomain == '5e1057f0'
  %section#top-header.row
    - if !logged_in?
      .navbar-static-top
        .homepage_nav
          .content
            = link_to root_path do 
              %img.logo(src="/tmp/logo.jpg")
            %ul.navbar-right
              %li= link_to "Features", features_path
              %li= link_to "Pricing", pricing_path
              %li= link_to "Login", login_path
              %li= link_to "Sign Up", new_user_path, class: "sign-up-btn"
              %li= link_to "Job Seekers", job_seekers_new_path, class: "job-seeker-btn"

    - if logged_in? && current_kind == 'business'
      .navbar-fixed-top 
        .business_nav
          .content
            = link_to business_jobs_path do
              %img.logo(src="/tmp/logo.jpg")
            
            %ul
              %li= link_to "JOBS", business_jobs_path 
              %li= link_to "APPLICANTS", business_applications_path
              %li= link_to "ACTIVITY", business_activities_path

          .dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              - if current_user.user_avatar.present? 
                = image_tag current_user.user_avatar.image.small_image, :class => "img dropdown-img"
              - else
                .circle-img= current_user.first_name.first.capitalize
              .name= current_user.first_name
              %b.caret
            %ul.dropdown-menu.dropdown-menu-right
              %li
                %a= link_to "Career Portal", edit_business_job_board_path(current_company.job_board.id)
              %li
                %a= link_to "Team Members", business_users_path
              %li
                %a= link_to "Subscription", business_plan_path
              %li
                %a= link_to "Billing", business_customers_path
              %li
                %a= link_to "My Profile", edit_business_user_path(current_user.id)
              %li
                %a= link_to "Sign Out", signout_path
       
    - if logged_in? && current_kind == 'job seeker'
      .navbar-fixed-top
        .business_nav
          .content 
            = link_to job_seeker_jobs_path do
              %img.logo(src="/tmp/logo.jpg")
            %ul
              %li= link_to "Jobs", job_seeker_jobs_path
              

          .dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              - if current_user.user_avatar.present? 
                = image_tag current_user.user_avatar.image.small_image, :class => "img dropdown-img"
              - else
                .circle-img= current_user.first_name.first.capitalize
              = current_user.first_name
              %b.caret
            %ul.dropdown-menu.dropdown-menu-right
              %li
                %a= link_to "Profile", job_seeker_profiles_path
              %li
                %a= link_to "Sign Out", signout_path

- else     
  - if logged_in? && current_kind == 'job seeker'
    .career-portal-nav
      .content
        = link_to root_path do
          %img(src="#{@company.job_board.logo}" class="sub_logo")
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Profile", profile_path
          %li= link_to "Sign Out", signout_path
  - else
    .career-portal-nav
      .content
        = link_to root_path do
          %img(src="#{@company.job_board.logo}" class="sub_logo")
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Login", login_path
          %li= link_to "Register", register_path




