%section#top-header.row
  %navbar.navbar-fixed-top.navbar-inverse
    %a.navbar-brand TalentWiz
    %ul.nav.navbar-nav
      %li= link_to "Dashboard"
      %li= link_to "Job Postings"
      %li= link_to "Applicants"
    %ul.nav.navbar-nav.navbar-right
      %li= link_to "Admin"
      %li= link_to "Profile"


