- if !request.subdomain.present? || request.subdomain == 'www' || request.subdomain == 'prod-talentwiz' || request.subdomain == 'dev-talentwiz' || request.subdomain == 'stageing-talentwiz' || request.subdomain == 'fefcbc53'
  %section#top-header
    - if !logged_in?
      .navbar-static-top
        .homepage_nav
          .content
            = link_to root_path do 
              %img.logo(src="/tmp/logo.jpg")    
            %ul.navbar-right
              %li= link_to "Features", features_plan_hiring_process_path
              %li= link_to "Pricing", pricing_path
              %li= link_to "Login", login_path
              %li= link_to "Sign Up", company_signup_path, class: "sign-up-btn"
              %li= link_to "Job Seekers", job_seeker_signup_path, class: "job-seeker-btn"
            %img.responsive-menu(src="/tmp/menu.png")  

.responsive-menu-links
  %ul
    = link_to features_plan_hiring_process_path do 
      %li Features
    = link_to pricing_path do
      %li Pricing
    = link_to login_path do
      %li Login
    = link_to company_signup_path do 
      %li Sign Up
    %li= link_to "Job Seekers", job_seeker_signup_path, class: "job-seeker-btn"



