.header
  %h1 Applicants  
  
  .search-field
    = form_tag business_job_path(@job), method: :get do   
      .form-group
        = search_field_tag :query, params[:query], placeholder: "Advanced Text Search", class: "form-control"
        %input(type="submit" value="Search" class="btn btn-primary")

  %form_tag.actions
    = render "business/applications/move_stages"
    = render "business/comments/add_comment"
    = render "business/messages/send_message"
    %input(type= "submit" value= "Move Stages" class= "move_action btn btn-primary" data-toggle = "modal" data-target = "#stageModal")
    %input(type= "submit" value= "Add Note" class= "add_note_action btn btn-primary" data-toggle = "modal" data-target = "#add_commentModal")
    %input(type= "submit" value= "Message" class= "send_message btn btn-primary" data-toggle = "modal" data-target = "#send_messageModal")
    %input(type= "submit" value= "Delete" class= "btn btn-primary")

.applicants
  %table.table
    %thead
      %tr
        %th(width="1%")= check_box_tag "select_all"
        %th(width="10%")
        %th(width="25%") Name 
        %th(width="20%") Job Title
        %th(width="20%") Stage 
        %th(width="25%") Rating

      %tbody
        - @applicants.each do |applicant|
          - if @job.applications.where(user_id: applicant.id).first.stage.present?
            - stage = @job.applications.where(user_id: applicant.id).first.stage.name
          - elsif @job.applications.where(user_id: applicant.id).first.rejected == true
            - stage = "Rejected"

          %tr{:id => "#{stage}" }
            %td
              .applicant-checkbox{:data => {:id => applicant.id}}
                = check_box_tag "applicant_ids[]", applicant.id
            %td
              .circle
                - if applicant.user_avatar.present? 
                  = image_tag applicant.user_avatar.image.small_image, :size => "50x50" if applicant.user_avatar.present?
                - else
                  .circle-img= applicant.first_name.first.capitalize
            %td.names
              .name{:data => {:id =>  "#{applicant.first_name} #{applicant.last_name}"}}
                = link_to "#{applicant.first_name} #{applicant.last_name}", business_job_application_path(@job, Application.where(user_id: applicant.id, job_id: @job).first.id)
              .current-position CEO - TalentWiz 
            %td
              .position= @job.title
              .date-applied= Application.where(user_id: applicant.id, job_id: @job).first.created_at
            %td
              .stage= stage
            %td
              .rating 5 stars
            %td
  .not-present-container
    %p There are currently no applicants in this stage.




