#job-applicants.active-tab
  .job-stages
    .left_scroll
      %img(src="/tmp/left_arrow.png") 
    %ul.job-stage-area
      .job-gallery
        %li#all_applicants.activated.job_list_stage
          .number 
            = @job.applications.count
          .name All Applicants
        - @job.stages.each do |stage| 
          %li.job_list_stage{:id => "#{stage.name}"}
            .number= stage.applicants.count
            .name= stage.name  
        %li.job_list_stage#Rejected
          .number 
            = @job.applications.where(rejected: true).count
          .name Rejected
    .right_scroll
      %img(src="/tmp/right_arrow.png")

  .main-container
    .applicants
      .header
        = render "business/applications/move_stages"
        = render "business/comments/add_comment"
        = render "business/messages/send_message"
        #select_all
          = check_box_tag 'Select All', class: 'select_all_applicants'
          Select All
        .no-action-buttons
          .btn.border-button Move Stages
          .btn.border-button Add Note
          .btn.border-button Send E-mail
        .applicant-action-buttons
          = link_to 'Move Stages', '#', class: "btn active-application-button", id: "move-applicants", :data => {:toggle => "modal", :target => "#stageModal"}
          = link_to 'Add Note', '#', class: "btn active-application-button", id: "move-applicants", :data => {:toggle => "modal", :target => "#add_commentModal"}
          = link_to 'Send E-mail', '#', class: "btn active-application-button", id: "move-applicants", :data => {:toggle => "modal", :target => "#send_messageModal"}
      .applicant-table-body
        %table.table
          %thead
            %tr
              %th(width="1%")
              %th(width="10%")
              %th(width="25%") Name 
              %th(width="20%") Job Title
              %th(width="20%") Stage 
              %th(width="25%") Rating

            %tbody
              - @job.applications.each do |application|
                - if application.rejected == true
                  - stage = "Rejected"
                - elsif application.stage.present?
                  - stage = application.stage.name
                - elsif 
                  - stage = "Applied"

                %tr{:id => "#{stage}" }
                  %td
                    .applicant-checkbox{:data => {:id => application.id}}
                      = check_box_tag "applicant_ids[]", application.id
                  %td
                    - if application.applicant.user_avatar.present? 
                      .circle
                        = image_tag application.applicant.user_avatar.image.small_image, :size => "50x50" 
                    - else
                      .circle-img
                        %img(src="/tmp/little-man.png") 
                  %td.names
                    .name{:data => {:id =>  "#{application.applicant.first_name} #{application.applicant.last_name}"}}
                      = link_to "#{application.applicant.first_name} #{application.applicant.last_name}", business_job_application_path(@job, application.id)
                    .current-position CEO - TalentWiz 
                  %td
                    .position= @job.title
                    - if application.created_at.present?
                      .date-applied= "#{time_ago_in_words(application.created_at)} ago"        
                  %td
                    .stage= stage
                  %td
                    #star-five
                  %td
        .not-present-container
          %p There are currently no applicants in this stage.

  .side-container
    %h4 Filters
    .filter
      .search-field
        = form_tag business_job_path(@job), method: :get do   
          .form-group
            = search_field_tag :query, params[:query], placeholder: "Advanced Text Search", class: "form-control"
    .filter
      .filter-header
        %h4 Location
        .glyphicon.glyphicon-minus
        .glyphicon.glyphicon-plus
      .filter-body
        #geocomplete= text_field_tag :city, "", id: "geocomplete", placeholder: "Enter a City"
    .filter
      .filter-header
        %h4 Tags
        .glyphicon.glyphicon-minus
        .glyphicon.glyphicon-plus
      .filter-body 
        %ul
          - @tags.each do |tag| 
            %li
              .applicant-filter-checkbox{:data => {:id => "#{tag.name}"}}
                = check_box_tag "", true
                #{tag.name.capitalize}
      
    


