%ul
  %li{:class => is_active?(edit_business_job_path(@job))}
    = link_to "Job Details", edit_business_job_path(@job), remote: true
  
  %li{:class => is_active?(new_business_job_hiring_team_path(@job))}
    = link_to "Hiring Team", business_job_hiring_team_path(@job), remote: true

  %li{:class => is_active?(new_business_job_stage_path(@job))}
    = link_to "Recruitment Process", new_business_job_stage_path(@job), remote: true

  %li{:class => is_active?(business_job_questions_path(@job))}      
    = link_to "Application Form", business_job_questions_path(@job), remote: true

  %li{:class => is_active?(business_job_scorecards_path(@job))}  
    = link_to "Scorecard", business_job_scorecards_path(@job), remote: true
