%tr{:id => "#{application_stage(application)}" }
  %td
    .applicant-checkbox{:data => {:id => application.id}}
      = check_box_tag "applicant_ids[]", application.id
  %td
    .circle-img
      %img(src="/tmp/little-man.png")  
  %td.names
    .name{:data => {:id =>  "#{application.candidate.full_name} "}}
      = link_to "#{application.candidate.full_name}", business_job_application_path(@job, application.id), remote: true
    - if application.candidate.current_jobs.present?
      .current-position= "#{application.candidate.current_jobs.first.title} - #{application.candidate.current_jobs.first.company_name}"
    - else
      .current-position No Experience Listed
  %td
    .stage= application_stage(application)
  %td
    = render 'business/ratings/form', application: application
  %td
    .stage= "#{time_ago_in_words(application.created_at)} ago"    