%tr{:id => "#{application_stage(candidate, @job)}" }
  %td
    .applicant-checkbox{:data => {:id => candidate.id}}
      = check_box_tag "applicant_ids[]", candidate.id, false, class: "checkbox"
  %td
    = candidate_user_avatar(candidate)
  %td.names
    = link_to "#{candidate.full_name}", business_job_application_path(@job, current_application(candidate, @job)), class: "name", :data => {:id =>  "#{candidate.full_name}"}
    - if candidate.user.current_jobs.present?
      .bottom-content= "#{candidate.user.current_jobs.first.title} - #{candidate.user.current_jobs.first.company_name} "
    - else
      .bottom-content No Experience Listed
  %td
    .stage= application_stage(candidate, @job)
  %td
    = render 'business/ratings/form', application: current_application(candidate, @job)
  %td
    .stage= "#{time_ago_in_words(candidate.created_at)} ago"        
