%tr{:id => "#{application_stage(application)}" }
  %td
    .applicant-checkbox{:data => {:id => application.id}}
      = check_box_tag "applicant_ids[]", application.id
  %td
    - if application.candidate.user.user_avatar.present? 
      .circle
        = image_tag application.candidate.user.user_avatar.image.small_image, :size => "50x50" 
    - else
      .circle-img
        %img(src="/tmp/little-man.png")  
  %td.names
    .name{:data => {:id =>  "#{application.candidate.user.full_name}"}}
      = link_to "#{application.candidate.user.full_name}", business_job_application_path(application.job.id, application.id), remote: true
    - if application.candidate.user.current_jobs.present?
      .current-position= "#{application.candidate.user.current_jobs.first.title} - #{application.candidate.user.current_jobs.first.company_name} "
    - else
      .current-position No Experience Listed
  %td
    .stage= application_stage(application)
  %td
    = render 'business/ratings/form', application: application
  %td
    .stage= "#{time_ago_in_words(application.created_at)} ago"        
