.table1
  %table
    %thead
      %tr
        %th(width="1%")
        %th(width="5%") 
        %th(width="25%") Title
        %th(width="25%") Company
        %th(width="10%") Status
        %th(width="10%") Candidates
        %th(width="10%") Created At
        %th(width="10%") Actions
      %tbody
        - @jobs.each do |job| 
          %tr{id: "job_#{job.id}"}
            %td
              .applicant-checkbox{:data => {:id => job.id}}
                = check_box_tag "job_id[]", job.id, false, class: 'checkbox'
            %td
              - if job.verified == true
                .complete#completed
                  = link_to verified_admin_jobs_path(id: job.id), method: :post, remote: true do 
                    %i.fa.fa-check
              - else
                .complete
                  = link_to verified_admin_jobs_path(id: job.id), method: :post, remote: true do 
                    %i.fa.fa-check
            %td
              = link_to "#{job.title}", admin_job_path(job)
            %td
              = job.company.name
            %td
              = job.status
            %td
              = job.candidates.count
            %td
              = job.created_at
            %td 
              .dropdown
                .dropdown-button
                  %i.fa.fa-ellipsis-h.fa-lg
                .dropdown-content#myDropdown
                  = link_to edit_admin_job_path(job), remote: true  do
                    %i.fa.fa-pencil
                    .action Edit
                  = link_to admin_job_path(job), remote: true, :method => :delete, data: {:confirm => "Are You Sure? You can not undo this action."}  do  
                    %i.fa.fa-trash-o
                    .action Destroy
