.admin-pages
  .home-page-header
    .top-info
      %h1= "Jobs"
  .home-page-body
    #main-container
      %table.table
        %thead
          %tr
            %td(width="5%")
            %th(width="25%") Title
            %th(width="25%") Approved
            %th(width="10%") Status
            %th(width="10%") Candidates
            %th(width="10%") Created At
          %tbody
            - @jobs.each do |job| 
              %tr
                %td
                %td
                  = link_to "#{job.title}", admin_job_path(job)
                %td
                  
                %td
                  = job.status
                %td
                  = job.candidates.count
                %td
                  = job.created_at