.page-header
  %h2 Admin 
  .admin-nav
    %ul
      %li= link_to "Career Portal", business_job_board_path(current_company.job_board.id)
      %li= link_to "Templates", business_email_templates_path
      %li= link_to "Settings", business_company_path(current_company), class: 'active'

.company-settings
  .side-container#job-nav
    = render 'business/shared/admin_sidebar'
  .main-container
    .standard-header
      %h3= current_company.name
      .profile-actions
        .link1= link_to "Edit Company", edit_business_company_path(current_company), class: "btn border-button", :data => {remote: true}

    .standard-body
      .standard-body-header
        .templates-header
          %h4 Widget Details 
        = '<script type="text/javascript" src= "http://prod-talentwiz.heroku.com/widget/company_jobs/'"#{current_company.widget_key}"'></script> <style type="text/css">.customCSSclass a{text-decoration:none;} </style>'

    .standard-body
      .standard-body-header
        .templates-header
          %h4 Departments
  
  .main-container
    .standard-header
      %h3 Meeting Rooms
      = link_to "Create Room", new_business_room_path, class: "btn border-button", :data => {remote: true} 
    - if @rooms.present? 
      = render "business/rooms/rooms"
    - else 
      .not-present-container
        %p There are currently no meeting rooms listed.

