.applicant-view
  .applicant-side-container
    .applicant-general-info
      .applicant-header 
        .applicant-general-info
          .user-image
            .profile_picture
              %img(src="/tmp/blank_profile_picture.png")
          .applicant-details
            .name= "#{@contact.first_name} #{@contact.last_name}"
          %br
          .contact-details
            .glyphicon.glyphicon-earphone 
              = "#{@contact.phone}"
            %br
            .glyphicon.glyphicon-envelope
              = "#{@contact.email}"   
  .applicant-main-container
    .navigation-container
      .applicant-nav
        = render 'business/client_contacts/show_contact/nav' 
      .action-area
    .applicant-general
      .display-applicant-details   
