= form_tag business_update_password_path, remote: true do |f|  
  .modal-body
    .form-row2
      = password_field_tag :password, nil, id: "password_Block", class: 'form-control', placeholder: "New Password"
      %span#password_msgBlock
      %br
      = password_field_tag :password_confirmation,  nil, id: "password_confirmation_Block",class: 'form-control', placeholder: "Confirm Password"
      %span#password_confirmation_msgBlock
  .modal-footer
    %fieldset
      = hidden_field_tag :user, @user.id
      = submit_tag "Change Password", class: "btn submit-button"
      .btn.border-button2{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel