= form_for [:business, @user], remote: true do |f|
  .modal-body
    .form-row-no-border
      .contain-50
        = f.label :first_name, "First Name"
        = f.text_field :first_name, id: "first_name_Block", class: "form-control", placeholder: "First Name"
        %span.error#first_name_msgBlock
      .contain-50
        = f.label :last_name, "Last Name"
        = f.text_field :last_name, id: "last_name_Block", class: "form-control", placeholder: "Last Name"
        %span.error#last_name_msgBlock
      .contain-50
        = f.label :email, "Email"
        = f.text_field :email, id: "email_Block", class: "form-control", placeholder: "E-mail"
        %span.error#email_msgBlock
      .contain-50
        = f.label :phone, "Phone"
        = f.text_field :phone, class: "form-control", hide_label: true, placeholder: "Phone"
  .modal-footer
    %fieldset
      = f.submit "Update", class: "btn submit-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'> </i> Saving..."}
      .btn.border-button.close-modal Cancel