= form_for [:business, @user], remote: true do |f|
  .modal-body
    .form-row
      .contain-50
        = f.text_field :first_name, id: "first_name_Block", class: "form-control", placeholder: "First Name"
        %span#first_name_msgBlock
      .contain-50
        = f.text_field :last_name, id: "last_name_Block", class: "form-control", placeholder: "Last Name"
        %span#last_name_msgBlock
      .contain-50
        = f.text_field :email, id: "email_Block", class: "form-control", placeholder: "E-mail"
        %span#email_msgBlock
      .contain-50
        = f.text_field :phone, class: "form-control", hide_label: true, placeholder: "Phone"
  .modal-footer
    %fieldset
      = f.submit "Update", class: "btn submit-button"
      .btn.border-button2{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel