.contain
  .sidebar
    .nav
      = render 'business/shared/admin_sidebar'


  .main-container
    .header
      %h1 My Profile 
    .body
      %h4 General Info 
      = form_for [:business, @user] do |f| 
        = f.text_field :first_name
        = f.text_field :last_name
        = f.file_field :picture

