.contain
  .sidebar
    .nav
      = render 'business/shared/admin_sidebar'

  .main-container
    .header
      %h1 My Profile 
    .body
      %h4 General Info 
      = form_for [:business, @user] do |f| 
        = f.text_field :first_name
        = f.text_field :last_name
      %br 
      
      %h4 Profile Picture
      = image_tag @avatar.image.medium_image, :size => "100x100" if @avatar.present?
      = link_to "Change Photo", '#', :data => {:toggle => "modal", :target => "#profile-picture-modal"}
      = render 'business/users/profile_picture'

      / %h4 Sync With Gmail 
      / = link_to "Authenticate with Google!", '/auth/google_oauth2'

      / - if @auth.present? 
      /   - @auth.each do |key, value| 
      /     = key 
      /     = value

      / - if @emails.present? 
      /   - @emails.each do |email|
      /     = email.body

      / - if @labels.present? 
      /   - @labels.each do |label|
      /     = label.id
          

     
