.company-settings
  .side-container
    = render 'business/shared/admin_sidebar'
  .main-container
    .standard-header
      %h2 Team Members 
      = link_to "Invite User", new_business_invitation_path, remote: true, class: 'btn border-button2'
    .search-form
      = form_tag business_users_path, :method => 'get', id: "search-form" do
        = text_field_tag "query", nil, placeholder: "Search Team Members", class: "search-field"
    .user-list
      / %table
      /   %thead
      /     %tr
      /       %th(width="10%") Name 
      /       %th(width="25%") 
      /       %th(width="20%") Role
      /       %th(width="25%") 
      /     %tbody
      /       - @users.each do |user|
      /         %tr
      /           %td
      /             - if user.user_avatar.present? 
      /               = image_tag user.user_avatar.image.small_image, :class => 'circle', :size => "100x100" 
      /             - else
      /               .circle-img= user.first_name.first.capitalize
      /           %td
      /             .name= user.full_name
      /           %td
      /             .permissions= select_tag "user_role", options_for_select(["Admin", "Hiring Manager", "Recruiter"], user.role)
      /           %td
      = render 'business/users/user_row'

          


.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title      