.page-header
  %h1 Add Team Members 
.company-settings
  .side-container
    = render 'business/shared/admin_sidebar'
  .main-container
    .company-users
      %h4 Team Members 
      .invite
        = form_for [:business, @invitation], html: {class: 'invite'} do |f|    
          = f.text_field :recipient_email, class: "form-control", placeholder: "Invite a colleague by Email", id: "stage_name"
          = f.submit "Invite User", class: "submit btn btn-primary"
    
    .user-list
      - @users.each do |user|
        .user{:id => "user_#{user.id}" }
          - if user.user_avatar.present? 
            = image_tag user.user_avatar.image.small_image, :class => 'circle', :size => "50x50" 
          - else
            .circle-img= user.first_name.first.capitalize
          .name= "#{user.first_name} #{user.last_name}"
          .permissions Hiring Manager
          %i.glyphicon.glyphicon-remove