.page-header
  %h2 Admin 
  .admin-nav
    %ul
      %li= link_to "Settings", "#"
      %li= link_to "Templates", business_job_board_path(current_company.job_board)
      %li= link_to "Career Portal", business_job_board_path(current_company.job_board)

.company-settings
  .side-container
    = render 'business/shared/admin_sidebar'
  .main-container
    .standard-header
      %h3 Team Members 
      = link_to "Invite User", new_business_invitation_path, remote: true, class: 'btn border-button'
    .change-containers-nav
      %ul 
        = link_to business_users_path, remote: true do 
          %li#all-users.activated  All Users
        = link_to business_invitations_path, remote: true do 
          %li#pending-users Pending Invitations
    .search-form
      = form_tag business_users_path, :method => 'get', id: "search-form" do
        .search-area-content
          %i.fa.fa-search.fa-stack-2x
          = text_field_tag "query", nil, placeholder: "Search Team Members", class: "search-field"
    .user-list
      = render 'business/users/user_row'

          


.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title      