.company-settings
  .side-container
    = render 'business/shared/admin_sidebar'
  .main-container
    .standard-header
      %h2 Team Members 
      = link_to "Invite User", new_business_invitation_path, remote: true, class: 'btn border-button2'
    .user-list
      - @users.each do |user|
        .user{:id => "user_#{user.id}" }
          - if user.user_avatar.present? 
            = image_tag user.user_avatar.image.small_image, :class => 'circle', :size => "50x50" 
          - else
            .circle-img= user.first_name.first.capitalize
          .name= "#{user.first_name} #{user.last_name}"
          %i.glyphicon.glyphicon-remove
          .permissions= select_tag "user_role", options_for_select(["Admin", "Hiring Manager", "Recruiter"], user.role)

.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title      