%section.admin-header.col-md-12.row
  .admin-items.col-md-offset-1
    %ul
      %li.company-name TalentWiz
      %li.dropdown
        %button(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle btn btn-default" data-target="#")
          Subsidiaries
          %b.caret
        %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
          - @subsidiaries.each do |subsidiary| 
            %li= link_to subsidiary.name, business_subsidiary_locations_path(subsidiary)
      %li.new-sub
        = link_to "New Subsidiary", new_business_subsidiary_path, class: 'btn btn-primary'
  
.row.col-md-12
  %section.col-md-2.col-md-offset-1
    %ul.nav.nav-pills.nav-stacked
      %li
        = link_to '#' do 
          %span.glyphicon.glyphicon-plane
          Company Profile
      %li= link_to 'Company Structure'
      %li= link_to 'Hiring Team'
      %li= link_to 'Templates' 
      %li= link_to 'Subscription' 
      %li= link_to 'Billing'
  
  %section.locations.col-md-8
    .panel.panel-primary
      .panel-heading
        .panel-title #{@company.name} Locations
        = link_to "Invite a User", business_invite_user_path, class: 'btn btn-default'
      %table.table
        %thead
          %tr
            %th First Name
            %th Last Name
            %th Email
            %th
        %tbody
          - @users.each do |user|
            %tr
              %td
                %p= user.first_name
              %td
                %p= user.last_name
              %td
                %p= user.email
              %td
                = link_to "", method: :post do
                  %i.glyphicon.glyphicon-remove