.company-settings
  .side-container
    = render 'business/shared/admin_sidebar'
  .main-container
    .standard-header
      %h2 Team Members 
      = link_to "Invite User", new_business_invitation_path, remote: true, class: 'btn border-button'
    .change-containers-nav
      %ul 
        = link_to business_users_path, remote: true do 
          %li.change All Users
        = link_to business_invitations_path, remote: true do 
          %li.change.activated Pending Invitations
    .search-form
      = form_tag business_users_path, :method => 'get', id: "search-form" do
        = text_field_tag "query", nil, placeholder: "Search Team Members", class: "search-field"
    .user-list
      = render 'business/users/user_row'

          


.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title      