.company-settings
  .side-container
    = render 'business/shared/admin_sidebar'
  .main-container
    .body
      .user-profile-header
        - if current_user.user_avatar.present?   
          .profile-picture
            .circle= image_tag @user.user_avatar.avatar.image.medium_image, :size => "100x100" 
            .change-photo= link_to "Change Photo", edit_business_user_user_avatar_path(current_user, @avatar), :data => {remote: true}
        - else      
          .profile-picture
            .circle
              %img(src="/tmp/blank_profile_picture.png")
            .change-photo= link_to "Add Photo", new_business_user_user_avatar_path(current_user), :data => {remote: true}
        .user-info
          %h3= current_user.full_name
          = current_user.email
        .profile-actions
          .link1= link_to "Edit Profile", edit_business_user_path(@current_user),  class: "btn border-button2", :data => {remote: true}
          .link2= link_to "Change Password", edit_business_user_path(@current_user, password: 'password'), :data => {remote: true}, class: "btn border-button2"

      .e-mail-signature
        %h4 E-mail Signature
        = render 'business/email_signatures/signature'
      
      .sync-email
        %h4 Sync Outlook
        = link_to "#{@login_url}" do
          .sync-box Sync with Outlook
      .sync-email
        %h4 Sync Gmail
        = link_to '/auth/google_oauth2' do 
          .sync-box Authenticate with Google!

        
      /   - if @auth.present? 
      /     - @auth.each do |key, value| 
      /       = key 
      /       = value
      /   - if @emails.present? 
      /     - @emails.each do |email|
      /       = email.body
      / - if @labels.present? 
      /   - @labels.each do |label|
      /     = label.id
= render 'business/users/right_modal'
/ = render 'business/user_avatars/picture_modal'