.company-settings
  .side-container
    = render 'business/shared/admin_sidebar'
  .main-container
    .user-profile-header
      = render 'business/user_avatars/user_avatar'
      .user-info
        %h3= current_user.full_name
        = current_user.email
      .profile-actions
        .link1= link_to "Edit Profile", edit_business_user_path(@current_user),  class: "btn border-button", :data => {remote: true}
        .link2= link_to "Change Password", edit_business_user_path(@current_user, password: 'password'), :data => {remote: true}, class: "btn border-button"
    .standard-body
      .sync-email
        - if current_user.outlook_token.present? 
          .sync-box 
            %img(src="/tmp/outlook_logo.jpeg")
            Sync Outlook
        - else 
          = link_to "#{@login_url}" do
            .sync-box 
              %img(src="/tmp/outlook_logo.jpeg")
              Sync Outlook
      .sync-email
        = link_to '/auth/google_oauth2' do 
          .sync-box 
            %img(src="/tmp/gmail_icon.png")
            Sync Gmail    
    .standard-body
      .standard-body-header
        %h4 E-mail Signature
      .e-mail-signature
        = render 'business/email_signatures/signature'
    
    
= render 'business/users/right_modal'
= render 'business/user_avatars/picture_modal'