.home-intro-header
  .intro-message 
    .header
      Request a Tour
    .sub-header 
      Submit a personal tour request. We will build you an account, so we can run you through our product. 

.standard-container
  .inner-container
    = form_for @demo do |f|
      = f.text_field :first_name, placeholder: "First Name", autocomplete: false, hide_label: true
      = f.text_field :last_name, placeholder: "Last Name", autocomplete: false, hide_label: true
      = f.text_field :email, placeholder: "E-mail", autocomplete: false, hide_label: true
      = f.text_field :phone, placeholder: "Phone Number", autocomplete: false, hide_label: true
      = f.text_field :company, placeholder: "Company Name", autocomplete: false, hide_label: true
      = f.text_field :company_website, placeholder: "Company Website", autocomplete: false, hide_label: true
      = f.text_field :company_size, placeholder: "Number of Employees", autocomplete: false, hide_label: true
      = f.text_area :message, placeholder: "Message", autocomplete: false, hide_label: true
      = f.submit "Submit Request", class: "btn submit-button"

= render 'shared/bottom_header'

