.top-container
  .intro-message 
    .header Features


.feature-overview-container
  .feature-overview
    %h3 Plan Your Hiring Process
    .row 
      .feat.col-md-6
        .img
          %img(src="/tmp/overview-user.png")
        .des
          %h4 Build Your Hiring Team
          %p.content Add multiple team members who will be a part of the hiring process, to a job. 
          = link_to "Learn More", features_hiring_team_path, class: "btn btn-primary btn-large"
      .feat.col-md-6
        .img
          %img(src="/tmp/overview-stages.png")
        .des
          %h4 Custom Recruitment Pipeline
          %p.content The recruitment process for each job is different. Create a unique recruitment workflow for each job posting.
          = link_to "Learn More", features_recruitment_pipeline_path, class: "btn btn-primary btn-large"
    .row
      .feat.col-md-6 
        .img
          %img(src="/tmp/overview-list.png")
        .des
          %h4 Candidate Evaluations
          %p.content Use custom applicant questionnaires and scorecards to more effectively evaluate candidates. 
          = link_to "Learn More", features_evaluate_candidate_path, class: "btn btn-primary btn-large"
      .feat.col-md-6
        .img
          %img(src="/tmp/overview-templates.png")
        .des
          %h4 Templates (Coming Soon)
          %p.content Build job, e-mail, interview, and scorecard templates so that they can be easily accessed and utilized later.
          = link_to "Coming Soon", "#", class: "btn btn-primary btn-large"

      / .feat.col-md-6
      /   .img
      /     %img(src="/tmp/overview-interview-kit.png")
      /   .des
      /     %h4 Interview Kits (Coming Soon)
      /     %p.content Easily plan and outline interviews, so every interview is performed with a clear and concise objective.
      /     = link_to "Coming Soon", "#", class: "btn btn-primary btn-large"
   
      
  
  .feature-overview
    %h3 Source Candidates
    .row 
      .feat.col-md-6
        .img
          %img(src="/tmp/overview-career-site.png")
        .des
          %h4 Career Site
          %p.content Build a custom career page to display job postings. Provide applicants with the ability to apply directly to a job online.
          = link_to "Learn More", features_branded_job_board_path, class: "btn btn-primary btn-large"
      .feat.col-md-6
        .img
          %img(src="/tmp/overview-job-distribution.png")
        .des
          %h4 Job Distribution (Coming Soon) 
          %p.content Distribute your job posting to both free and paid job boards at the click of a button.
          = link_to "Coming Soon", "#", class: "btn btn-primary btn-large"

  .feature-overview
    %h3 Manage Candidates
    .row 
      .feat.col-md-6
        .img
          %img(src="/tmp/overview-applicant-tracking.png")
        .des
          %h4 Applicant Tracking
          %p.content Hiring often needs to happen quickly. Effectively track and manage your applicants through the entire recruitment process.
          = link_to "Learn More", features_applicant_tracking_path, class: "btn btn-primary btn-large"
      .feat.col-md-6
        .img
          %img(src="/tmp/overview-candidate-profile.png")
        .des
          %h4 Candidate Profiles
          %p.content Unique candidate profiles provide a complete view of a candidate and the interactions the hiring team has had with the candidate.
          = link_to "Learn More", features_candidate_profile_path, class: "btn btn-primary btn-large"
    .row
      .feat.col-md-6 
        .img
          %img(src="/tmp/overview-talent-pool.png")
        .des
          %h4 Talent Pool
          %p.content All your applicants are accessible in a central location. Build a pool of talent to readily access and assess at any point. 
          = link_to "Learn More", features_talent_pool_path , class: "btn btn-primary btn-large"
      .feat.col-md-6
        .img
          %img(src="/tmp/overview-task-pipeline.png")
        .des
          %h4 Task Pipeline
          %p.content An easy to use interface that shows users the tasks and interviews that need to be completed.
          = link_to "Coming Soon", "", class: "btn btn-primary btn-large"

  .feature-overview
    %h3 Team Collaboration
    .row 
      .feat.col-md-6
        .img
          %img(src="/tmp/overview-roles-tasks.png")
        .des
          %h4 User Roles
          %p.content There are two types of user roles: system wide roles that control the access a user has to the system, and job specific roles that control the role each user plays as a part of a hiring team for a job.
          = link_to "Learn More", features_user_roles_path, class: "btn btn-primary btn-large"
      .feat.col-md-6
        .img
          %img(src="/tmp/overview-manage-interview.png")
        .des
          %h4 Manage Interviews
          %p.content Plan and coordinate interviews for the entire hiring team in a centralized location. Booked interviews are automatically added to each team members calendar.
          = link_to "Learn More", features_manage_interviews_path, class: "btn btn-primary btn-large"
    .row 
      .feat.col-md-6
        .img
          %img(src="/tmp/overview-centralized-communication.png")
        .des
          %h4 Centralized Communication
          %p.content Track the communication between an applicant and the hiring team directly on the candidate profile. Further, effectively communicate with each team member to manage the recruitment process.
          = link_to "Learn More", features_centralized_communication_path, class: "btn btn-primary btn-large"
      / .feat.col-md-6
      /   .img
      /     %img(src="/tmp/overview-assess-score.png")
      /   .des
      /     %h4 Score & Assess
      /     %p.content Evaluate candidates as a team. See what other teammates have rated & said about candidates in a central location.
      /     = link_to "Learn More", new_user_path, class: "btn btn-primary btn-large"
      


.mid-container
  %h2 Grow your Company with TalentWiz
  = link_to "Start Your Trial", new_user_path, class: "btn btn-trial"

.bottom-container
  .col-md-3
    %img(src="/tmp/logo.jpg") 
  .col-md-3
    %h4 Product
    %ul 
      %li Features
      %li Pricing
  .col-md-3
    %h4 Company 
    %ul
      %li Contact
  .col-md-3
    %h4 Try TalentWiz Today
    %p Free 30-day Trial 
    = link_to "Try it Today", new_user_path, class: "btn btn-primary btn-large"




