.home-intro-header
  .intro-message 
    .header Hiring Simplified
    .sub-header TalentWiz is a profile based recruitment system, designed to improve your recruitment process. Improve candidate management, screening, and team collaboration, to make better hires.
    
    .sign-up
      = link_to "Try it Today", new_user_path, class: "btn btn-primary btn-large"

.content-breaker
  %h2 Learn how TalentWiz can improve your recruitment process

.home-intro-info
  .header 
    .row 
      .col-md-4
        %img(src="/tmp/idea.png")
        %h3 Build Your Hiring Process
        %p.content Hiring great talent starts with a great hiring process. Plan and create an effective recruitment strategy with ease. 
        = link_to "Learn More", new_user_path, class: "btn btn-primary btn-large"
      .col-md-4
        %img(src="/tmp/search.png") 
        %h3 Find and Attract Talent
        %p.content Attract, find, and engage talent to build your talent pipeline like a pro. Build an online recruitment presence in minutes.
        = link_to "Learn More", new_user_path, class: "btn btn-primary btn-large"
      .col-md-4
        %img(src="/tmp/applicant.png")  
        %h3 Manage Applicants
        %p.content We know that hiring happens quickly. Effectively manage your applicants through the entire recruitment process. 
        = link_to "Learn More", new_user_path, class: "btn btn-primary btn-large"
    .second-row
      .row
        .col-md-4
          %img(src="/tmp/check-list2.png")
          %h3 Assess Candidates 
          %p.content Find and identify the best applicants in your pipeline. With our unique candidate filter, customizable scorecards and questionairres. 
          = link_to "Learn More", new_user_path, class: "btn btn-primary btn-large"
        .col-md-4
          %img(src="/tmp/stick-man.png") 
          %h3 Team Collaboration
          %p.content Hiring is a team a sport. Collaborate with your team members to evaluate candidates and manage the recruitment workflow. 
          = link_to "Learn More", new_user_path, class: "btn btn-primary btn-large"
        .col-md-4
          %img(src="/tmp/pie-chart.png")  
          %h3 Analyze & Improve
          %p.content Analyze, assess and improve every aspect of your recruitment strategy. Our hiring metrics allow you to see your results. 
          = link_to "Learn More", new_user_path, class: "btn btn-primary btn-large"

.mid-container
  %p Grow your company with us
.bottom-container
  .col-md-3
    %ul 
      %li Features
      %li Pricing
  .col-md-3
    %ul
      %li Contact
  .col-md-3
  .col-md-3


