.activity{:id => activity.action, :class => "#{activity.trackable_type} job_#{activity.job_id}"}      
  .icon
    .glyphicon.glyphicon-download-alt
  .activity-body
    .activity-body-header
      - if activity.user.user_avatar.present?
        = image_tag activity.user.user_avatar.image.small_image, :class => 'circle', :size => "50x50"
      - else 
        .circle-img
          %img(src="/tmp/little-man.png") 
      .content 
        = "#{activity.user.first_name} #{activity.user.last_name} archived the job"
        = link_to "#{activity.trackable.title}", business_job_path(activity.trackable.id)
        %br
        .time= "#{time_ago_in_words(activity.created_at)} ago" 