%h4 Filters
.filter
  .search-field
    = form_tag business_applications_path, method: :get do   
      .form-group
        = search_field_tag :query, params[:query], placeholder: "Advanced Text Search", class: "form-control"
/ .filter
/   .filter-header
/     %h4 Location
/     .glyphicon.glyphicon-minus
/     .glyphicon.glyphicon-plus
/   .filter-body
/     #geocomplete= text_field_tag :city, "", id: "geocomplete", placeholder: "Enter a City"
.applicant-filters
  .filter
    .filter-header
      %h4 Rating
      .glyphicon.glyphicon-minus
      .glyphicon.glyphicon-plus
    .filter-body 
      = render 'business/ratings/rating_filter'


  .filter
    .filter-header
      %h4 Tags
      .glyphicon.glyphicon-minus
      .glyphicon.glyphicon-plus
    .filter-body
      %ul
        - @tags.each do |tag| 
          %li
            .applicant-filter-checkbox{:data => {:id => "#{tag.name}", :filter => 'Tags'}}
              .filter-checkbox= check_box_tag "", true
              .filter-title #{tag.name.capitalize}

  .filter
    .filter-header
      %h4 Job Status
      .glyphicon.glyphicon-minus
      .glyphicon.glyphicon-plus
    .filter-body
      %ul
        %li 
          .applicant-filter-checkbox{:data => {:id => "open", :filter => 'JobStatus'}}
            .filter-checkbox= check_box_tag "", true
            .filter-title Active
        %li.activity
          .applicant-filter-checkbox{:data => {:id => "closed", :filter => 'JobStatus'}}
            .filter-checkbox= check_box_tag "", true
            .filter-title Closed
        %li.activity  
          .applicant-filter-checkbox{:data => {:id => "archived", :filter => 'JobStatus'}}
            .filter-checkbox= check_box_tag "", true
            .filter-title Archived 

  .filter
    .filter-header
      %h4 Job Applied To:
      .glyphicon.glyphicon-minus
      .glyphicon.glyphicon-plus
    .filter-body 
      %ul
        - current_company.company_jobs.each do |job| 
          %li.open-job
            .applicant-filter-checkbox{:data => {:id => "#{job}", :filter => 'JobAppliedTo'}}
              .filter-checkbox= check_box_tag "", true  
              .filter-title #{job}
  .filter
    .filter-header
      %h4 Location Applied To
      .glyphicon.glyphicon-minus
      .glyphicon.glyphicon-plus
    .filter-body 
      %ul
        - current_company.company_locations.each do |location| 
          %li
            .applicant-filter-checkbox{:data => {:id => "#{location}", :filter => 'LocationAppliedTo'}}
              .filter-checkbox= check_box_tag "", true
              .filter-title #{location}

  .filter 
    .filter-header
      %h4 Date Applied
      .glyphicon.glyphicon-minus
      .glyphicon.glyphicon-plus
    .filter-body
      %ul
        %li 
          .applicant-filter-checkbox{:data => {:id => "all_applied", :filter => 'DateApplied'}}
            .filter-checkbox= check_box_tag "", true
            .filter-title All 
        %li
          .applicant-filter-checkbox{:data => {:id => "2_weeks", :filter => 'DateApplied'}}
            .filter-checkbox= check_box_tag "", true
            .filter-titleLast 2 weeks
        %li 
          .applicant-filter-checkbox{:data => {:id => "last_month", :filter => 'DateApplied'}}
            .filter-checkbox= check_box_tag "", true
            .filter-title Last Month
        %li
          .applicant-filter-checkbox{:data => {:id => "3_months", :filter => 'DateApplied'}}
            .filter-checkbox= check_box_tag "", true
            .filter-title Last 3 Months
        %li 
          .applicant-filter-checkbox{:data => {:id => "last_year", :filter => 'DateApplied'}}
            .filter-checkbox= check_box_tag "", true
            .filter-title Last Year