.applicant-header
  .user-image
    .profile_picture
      - if @avatar.present?
        = image_tag @avatar.image.large_image, :size => "200x200" 
      - else 
        %img(src="/tmp/blank_profile_picture.png")
  
  .applicant-details
    %p.name= "#{@user.first_name.upcase} #{@user.last_name.upcase}"
    .contact
      - if @user.city.present?
        %span.glyphicon.glyphicon-map-marker  
          = "#{@user.city}, #{@user.countries.first.name}"
      %br
      %span.glyphicon.glyphicon-envelope 
        = "#{@user.email}"
      %br
      - if @user.city.present?
        %span.glyphicon.glyphicon-earphone 
          = "#{@user.phone}"
  .applicant-nav-bar  
    = render "business/shared/applicant_nav"