
.applicant-header
  .user-image
    .profile_picture
      - if @application.applicant.user_avatar.present?
        = image_tag @application.applicant.user_avatar.image.large_image 
      - else 
        %img(src="/tmp/blank_profile_picture.png")
  
  .applicant-details
    .name= "#{@application.applicant.first_name.capitalize } #{@application.applicant.last_name.capitalize}"
    - if @application.applicant.current_jobs.present?
      .job= "#{@application.applicant.current_jobs.first.title}  #{@application.applicant.current_jobs.first.company_name} "
    .location= "#{@application.applicant.city}"

.filter
  .filter-header
    %h4 Contact Details
    .glyphicon.glyphicon-minus
    .glyphicon.glyphicon-plus
  .filter-body
    = "Email: #{@application.applicant.email}"
    = "Phone: #{@application.applicant.phone}"

.filter
  .filter-header
    %h4 Current Stage
    .glyphicon.glyphicon-minus
    .glyphicon.glyphicon-plus
  .filter-body
    = render 'business/applications/stage'

.filter
  .filter-header
    %h4 Tags
    .glyphicon.glyphicon-minus
    .glyphicon.glyphicon-plus
  .filter-body 
    .applicant-tags
      .tags
        = render "business/tags/tags"
      .add_tag
        = link_to "+ Add Tag", new_business_job_application_tag_path(@job.id, @application.id), :data => {remote: true}, id: 'add_tag'

.filter
  .filter-header
    %h4 Interviews
    .glyphicon.glyphicon-minus
    .glyphicon.glyphicon-plus
  .filter-body
    .interview
      - @application.interviews.each do |interview| 
        = interview.kind
        = interview.interview_date
        = "#{interview.start_time} - #{interview.end_time}"
        = link_to 'View', business_interview_path(interview.id), :data => {:remote => true}
        %br
  




        






  

