- @education.each do |position| 
  .position
    .job-header
      %h4.title=  "#{position.school}"
      %p.date= "#{position.start_year} - #{position.end_year}"
    .job-body       
      %h5= "#{position.degree}"
      %p= position.description