.bar 
  .applicant-header
    .user-image
      .profile_picture
        - if @avatar.present?
          = image_tag @avatar.image.large_image, :size => "200x200" 
        - else 
          %img(src="/tmp/blank_profile_picture.png")
    
    .applicant-details
      .name= "#{@user.first_name.capitalize } #{@user.last_name.capitalize}"
      .job= "#{@user.current_jobs.first.title} @ #{@user.current_jobs.first.company_name} "
      .location= "#{@user.city}"

  .current-stage
    = render 'business/applications/stage'
  
  .applicant-tags
    %h4 Tags
    .tags
      = render "business/tags/tags"
    .add_tag
      = link_to "+ Add Tag", new_business_job_application_tag_path(@job.id, @application.id), :data => {remote: true}, id: 'add_tag'

  .schedule-interview
    %h4 Scheduled Interviews
    = render 'business/interviews/form'

    .scheduled-interviews
      .interview
        - @interviews.each do |interview| 
          = interview.kind
          = interview.interview_date
          = "#{interview.start_time} - #{interview.end_time}"
          = link_to 'View', business_interview_path(interview.id), :data => {:remote => true}
          %br

    = link_to 'Schedule Interview', '#', :data => {:toggle => "modal", :target => "#interview-modal"}

  




        






  

