= form_for [:business, @candidate, @application], html: {remote: true} do |f|   
  .modal-body 
    .email-area
      .choose-stage
        .title
          %h4 Move to Job: 
        .stages-select
          = f.collection_select(:job_id, current_company.jobs, :id, :title, label: "Move to Job", :include_blank => true)
  .modal-footer
    = f.hidden_field :company_id, value: current_company.id
    = f.hidden_field :candidate_id, value: @candidate.id
    = submit_tag "Add to Job", class: "btn submit-button"
    .btn.border-button2{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel
    