= form_tag move_stage_business_applications_path, remote: true do  
  .modal-body 
    .email-area
      .to
        .recipients
      .form-row-no-border
        = label_tag "Move to Stage"
        
        = select_tag "stage", options_for_select(@job.stages.collect{ |u| [u.name, u.id] } + ["Hired", "Rejected"])

      = hidden_field_tag :applicant_ids
      = hidden_field_tag :job, @job.id
  .modal-footer
    = button_tag "Move Stages", class: "btn submit-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'> </i> Adding..."}
    .btn.border-button.close-modal Cancel
    

