= form_tag move_stages_business_applications_path, remote: true do  
  .modal-body 
    .email-area
      .to
        .recipients
      .form-row-no-border
        = label_tag "Move to Stage"
        = select_tag "stage", options_for_select(@job.stages.collect{ |u| [u.name, u.id] } + ["Rejected"])

      = hidden_field_tag :applicant_ids
      = hidden_field_tag :job, @job.id
  .modal-footer
    = submit_tag "Move Stages", class: "btn submit-button"
    .btn.border-button.close-modal Cancel
    

