- content_for :head do 
  = tag :meta, content: "TalentWiz", property: "og:site_name"
  = tag :meta, content: "Talentwiz:job", property: "og:type"
  = tag :meta, content: @job.title, property: "og:title"
  = tag :meta, content: @job.title, property: "og:description"
  = tag :meta, content: "https://" + @job.url, property: "og:url"
  - if current_company.job_board.job_board_header.background_image.present?
    = tag :meta, content: current_company.job_board.job_board_header.background_image.file.url, property: "og:image" 
  = tag :meta, property: "og:image:width", content: "450"
  = tag :meta, property: "og:image:height", content: "298" 
  = tag :meta, property: "fb:app_id", content: "552813801728881"
  = tag :meta, name: "twitter:card", conten: @job.title

.job-show-header
  .header
    .details
      %h1= @job.title
      .location= "#{@job.location}"
      .dropdown
        .dropdown-button
          %i.fa.fa-share-alt
        .dropdown-content
          = link_to "https://www.facebook.com/sharer/sharer.php?u=" + @job.url, target: :blank, class: "popup" do  
            %i.fa.fa-facebook-square
            .action Facebook
          = link_to "https://www.linkedin.com/shareArticle?mini=true&url=" + @job.url, :target => :blank, :popup => true do 
            %i.fa.fa-linkedin-square
            .action LinkedIn
          = link_to "https://www.twitter.com/intent/tweet" + @job.url, :target => :blank, :popup => true do
            %i.fa.fa-twitter-square
            .action Twitter
      .job-link
        = link_to "http://" + @job.url, :target => "_blank", class: "link" do
          %i.fa.fa-link

  .change-containers-nav
    %ul 
      = link_to business_job_applications_path(@job) do 
        %li{:class => is_activated?(business_job_applications_path(@job))} Applicants

      = link_to business_job_activities_path(@job) do 
        %li{:class => is_activated?(business_job_activities_path(@job))} Activity

      = link_to business_job_tasks_path(@job) do 
        %li{:class => is_activated?(business_job_tasks_path(@job))} Tasks
      
      = link_to business_job_comments_path(@job) do 
        %li{:class => is_activated?(business_job_comments_path(@job))} Notes
      
      = link_to business_job_interviews_path(@job) do 
        %li{:class => is_activated?(business_job_interviews_path(@job))} Interviews
      
      - if can? :manage, JobFeed
        = link_to business_job_job_feeds_path(@job) do 
          %li{:class => is_activated?(business_job_job_feeds_path(@job))} Advertise 
      
      - if can? :update, Job
        = link_to edit_business_job_path(@job) do 
          %li{:class => is_activated?(edit_business_job_path(@job))} Job Details

      
      