.job-applicants
  %h1 Applicants  
  %form_tag   
    / = render "business/applications/move_stages"
    / = render "business/comments/add_comment"
    / = render "business/messages/send_message"
    %input(type= "submit" value= "Move Stages" class= "move_action btn btn-primary" data-toggle = "modal" data-target = "#stageModal")
    %input(type= "submit" value= "Add Note" class= "add_note_action btn btn-primary" data-toggle = "modal" data-target = "#add_commentModal")
    %input(type= "submit" value= "Message" class= "send_message btn btn-primary" data-toggle = "modal" data-target = "#send_messageModal")
    %input(type= "submit" value= "Delete" class= "btn btn-primary")
    

    %table.table
      %thead
        %tr
          %th(width="1%")= check_box_tag "select_all"
          %th(width="5%")
          %th(width="20%") Name 
          %th(width="20%") Job Title
          %th(width="20%") Stage 
          %th(width="20%") Rating
          %th(width="5%") Remove
      %tbody
        - @applicants.each do |applicant|
          %tr
            %td.checkbox{:data => {:id => applicant.id}}
              = check_box_tag "applicant_ids[]", applicant.id
            %td
              %img.circle(src="/tmp/man.jpg")
            %td
              %h4= link_to "#{applicant.first_name} #{applicant.last_name}", business_application_path(applicant)
              %h6 CEO - TalentWiz 
            %td
              %h4 Sales Manager
              %h6 May 22, 2015
            %td
              %h4 New Applicant