.all-applicants-container
  .applicant-nav
    .nav
      %ul.nav-header
        %li
          .content
            Applied Filters
        .body
        %li.filter.job-status
          .content
            Job Status
        .body.job-status-body
          %ul
            %li 
              .applicant-filter-checkbox{:data => {:id => "open", :remote => true, :url =>business_applications_path}}= check_box_tag "", true
              Active
            %li.activity
              .applicant-filter-checkbox{:data => {:id => "closed"}}= check_box_tag "", true
              Closed
            %li.activity  
              .applicant-filter-checkbox{:data => {:id => "archived"}}= check_box_tag "", true
              Archived     
        %li.filter.date-applied
          .content
            Tags 
        .body.open-job-body
          

        %li.filter.open-jobs
          .content
            Open Job Postings: 
        .body.open-job-body
          %ul
            - @jobs.each do |job| 
              %li.open-job
                .applicant-filter-checkbox{:data => {:id => "#{job.title}"}}= check_box_tag "", true
                #{job.title}
        %li.filter.date-applied
          .content
            Date Applied 
        .body.date-applied-body
          %ul
            %li 
              .applicant-filter-checkbox{:data => {:id => "all_applied"}}= check_box_tag "", true, true
              All 
            %li
              .applicant-filter-checkbox{:data => {:id => "2_weeks"}}= check_box_tag "", true
              Last 2 weeks
            %li 
              .applicant-filter-checkbox{:data => {:id => "last_month"}}= check_box_tag "", true
              Last Month
            %li
              .applicant-filter-checkbox{:data => {:id => "3_months"}}= check_box_tag "", true
              Last 3 Months
            %li 
              .applicant-filter-checkbox{:data => {:id => "last_year"}}= check_box_tag "", true
              Last Year
         
  .all-job-applicants
    .header
      %h1 Applicants  

    .applicant-actions
      .search-field
        = form_tag business_applications_path, method: :get do   
          .form-group
            = search_field_tag :query, params[:query], placeholder: "Advanced Text Search", class: "form-control"
            %input(type="submit" value="Search" class="btn btn-primary")

      %form_tag.actions
        - if current_company.applications.present?
          = render "business/comments/add_comment"
          = render "business/messages/send_message"
        %input(type= "submit" value= "Add Note" class= "add_note_action btn btn-primary" data-toggle = "modal" data-target = "#add_commentModal")
        %input(type= "submit" value= "Message" class= "send_message btn btn-primary" data-toggle = "modal" data-target = "#send_messageModal")
        %input(type= "submit" value= "Delete" class= "btn btn-primary")  

      
    
    .applicants
      = render 'business/applications/all_applicants_table'
      - if !current_company.applications.present?
        .not-present-container
          %p There are currently no applicants in this stage.