.applicant-view
  .home-page-header
    %h1= "#{@job.title}"
  .applicant-side-container
    = render 'business/applications/application_side_container'
  
  .applicant-profile-information
    .applicant-main-top
      = render 'business/applications/application_navigation'
    .applicant-details
      .profile-container#showing-container
        .applicant-experience
          = render 'business/applications/application_experience'
        .applicant-experience    
          = render 'business/applications/application_education'

      .messages-container
        .applicant-messages
          = render "business/messages/applicant_messages", application: @application

      .notes-container
        .applicant-notes
          = render "business/comments/applicant_notes", application: @application

      .assessments-container
        .applicant-assessments
          = render "business/assessments/applicant_assessment"

      .scorecards-container
        .applicant-scorecard
          = render "business/application_scorecards/applicant_scorecard"

      .activity-container
        .activity-feed        
          = render "business/activities/application_activity", application: @application

  


  .modal#myModal
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
          %h4.modal-title  
        .modal-body
.footer 

