.applicant-view
  .applicant-main-container   
    = render "business/applications/application_header"

    .add-comment-on-applicant
      = render "business/comments/add_note_on_application"

    .applicant-experience
      .header
        %h4 Experience   
      .applicant-positions
        = render 'business/applications/application_experience'

    .applicant-experience
      .header
        %h4 Education    
      .applicant-positions
        = render 'business/applications/application_education'

  .applicant-side-container
    = render 'business/applications/application_side_container'

.footer 

