.applicant-view
  .applicant-main-container   
    = render "business/applications/application_header"

    .add-comment-on-applicant
      = render "business/comments/add_note_on_application"

    .profile-container#showing-container
      .applicant-experience
        = render 'business/applications/application_experience'

      .applicant-experience    
        = render 'business/applications/application_education'

    .messages-container
      .applicant-messages
        = render "business/messages/applicant_messages"

    .notes-container
      .applicant-notes
        = render "business/comments/applicant_notes"

    .assessments-container
      .applicant-assessments
        = render "business/assessments/applicant_assessment"

    .scorecards-container
      .applicant-scorecard
        = render "business/application_scorecards/applicant_scorecard"

    .activity-container
      .activity-feed        
        = render "business/activities/application_activity"

  .applicant-side-container
    = render 'business/applications/application_side_container'


  .modal#myModal
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
          %h4.modal-title  
        .modal-body
.footer 

