= render 'top_container'

#main-container
  #padding
    = link_to business_job_applications_path(@job), class: "back-to-candidates" do 
      %i.fa.fa-arrow-left 
      Back to Applicants
    .show-applicant-view
      .applicant-main-container
        .navigation-container
          .applicant-nav
            = render 'business/applications/show_application/applicant_nav'
          .action-area
        .applicant-general
          .display-applicant-details
            = render 'business/applications/show_application/application_cv'
      .applicant-side-container
        .applicant-general-info
          = render 'business/applications/show_application/applicant_details'
        = render 'business/applications/show_application/side_container'
