= form_for [:business, @logo], :html => {id: "media-photo-up"} do |q| 
  .float-container#single-photo-form
    .header 
      .title Company Logo
      = q.hidden_field :company_id, value: current_company.id
      = q.file_field :file 
      = q.label :file, "Add Logo", class: "btn border-button" 
    #photo
      - if !@logo.new_record?
        %div{:id => "photo_#{@logo.id}"}= image_tag @logo.file.medium_logo



