= form_for [:business, @job, @question], remote: true do |f|
  .question-area 
    .header 
      .title Question Type:
      .question-type
        = f.select :kind, options_for_select(['Text (Short Answer)', 'Text (Long Answer)', 'Select (One)', 'Multiselect', 'File'], :selected => "#{f.object.kind}")
      .required-answer
        = f.check_box :required, checked_value: true, unchecked_value: false
        = f.label :required, "Required"       
    .body
      = f.text_field :body, id: "body_Block", class: "question-field", placeholder: "Add your Question", autocomplete: 'off'
      %span#body_msgBlock
      = f.hidden_field :job_id, value: @job.id
      
      = f.fields_for :question_options, class: "options" do |a|
        = render 'question_option_fields', f: a

      - if f.object.kind == 'Multiselect' || f.object.kind == 'Select (One)' 
        = link_to_add_fields("+ Add Answer", f, :question_options)
      - elsif f.object.new_record?
        .display-answer{:style => "display: none"}
          = link_to_add_fields("+ Add Answer", f, :question_options)
      
    .footer
      = f.button @question.new_record? ? "Create" : "Update", class: "btn submit-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'> </i> Saving..."}
      .btn.border-button#remove_form Cancel