- if @questions.present? 
  .questions       
    %ul{:id => 'questions', :data => {:update_url => sort_business_job_questions_path}}
      - questions.each do |question| 
        %li{:id => "question_#{question.id}"}
          .question
            .glyphicon.glyphicon-move
            .body= question.body
            .icons
              = link_to edit_business_job_question_path(@job, question), :data => {:remote => true } do
                %i.glyphicon.glyphicon-pencil
              = link_to business_job_question_path(@job, question), remote: true, :method => :delete do
                %i.glyphicon.glyphicon-remove
  #create-app-form
- else    
  .not-present-container
    %p There currently are currently no questions for the application form. 
    .add-object= link_to "+ Add Question", new_business_job_question_path(@job.id), class: "btn border-button",  :data => {:remote => true}


         