= render 'job_boards/advanced_portal/header'


.width-container
  .inner-container
    %h4 All Ventures
    - @companies.each do |company| 
      .company-card
        = link_to company_path(company.subsidiary.id) do 
          .card
            - if company.subsidiary.job_board.job_board_header.background_image.present?
              .header{:style => "background-image: url(#{company.subsidiary.job_board.job_board_header.background_image.file.medium.url}); background-repeat: no-repeat; background-size: cover; background-position: center"}         
            - if company.subsidiary.logo.present?
              .logo{:style => "background: url(#{company.subsidiary.logo.file.large_logo}); background-repeat: no-repeat; background-size: 100%; background-color: white; background-position: center"}
            .body
              = company.subsidiary.name
              = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
            .card-footer
              = link_to "View Profile", company_path(company.subsidiary.id)


.footer