.page-header
  %h2 Create a Job
#post-a-job
  .side-container
    = render "business/shared/post_job"
  .main-container
    = link_to business_job_feed_path(@job, type: 'paid')
    = link_to business_job_feed_path(@job, type: 'free')
    .job-feed-container
      .header
        %img(src="/tmp/adzuna_logo.png")
      .body
        = link_to "Post Job", business_distribute_job_path(@job, board: 'adzuna'),remote: true class: 'btn submit-button'
    
    .job-feed-container
      .header
        %img(src="/tmp/trovit_logo.png")
      .body
        = link_to "Post Job", business_distribute_job_path(@job, board: 'adzuna'),remote: true class: 'btn submit-button'
    
    .job-feed-container
      .header
        %img(src="/tmp/eluta_logo.gif")
      .body
        = link_to "Post Job", business_distribute_job_path(@job, board: 'adzuna'),remote: true class: 'btn submit-button'
    .job-feed-container
      .header
        %img(src="/tmp/jooble_logo.jpg")
      .body
        = link_to "Post Job", "#", class: 'btn submit-button'
    .job-feed-container
      .header
        %img(src="/tmp/job_inventory_logo.jpg")
      .body
        = link_to "Post Job", "#", class: 'btn submit-button'

    .job-feed-container
      .header
        %img(src="/tmp/juju_logo.png")
      .body
        = link_to "Post Job", "#", class: 'btn submit-button'