= form_for [:business, @tag], html: {remote: true, class: 'tag_form', id: "multiForm"} do |f|
  .modal-body   
    .email-area
      .to  
        .recipients 
    .form-row-no-border
      = f.label :name, "Add Tag"
      = f.text_field :name, :class => 'ui-autocomplete-input tags', :placeholder => 'Add a Tag', id: "tag_name", hide_label: true
      #search-results-tags  
  .modal-footer
    = hidden_field_tag :applicant_ids
    = hidden_field_tag :tag_id
    = f.button "Add Tag".html_safe, class: "btn submit-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'> </i> Saving..."}
    .btn.border-button.close-modal Cancel