= bootstrap_form_for [:business, @tag], html: {remote: true, class: 'tag_form'} do |f|
  .row
    .col-md-6
      = f.text_field :name, :class => 'ui-autocomplete-input form-control', :placeholder => 'Tag', id: "tag_name", hide_label: true
      %div#tag-results
    .col-md-6
      = f.hidden_field :application_id, value: @application.id
      = hidden_field_tag :tag_id
      = f.hidden_field :job_id, value: @job.id
      = f.submit "Add Tag", class: "btn btn-primary"
      .close-form     
        Close

  