<% if params[:applicant_ids].present? %>
  $('.smallModal').hide();
  $('.smallModal').find('form').remove();
<% elsif params[:tag][:candidate_id].present? %>
  $('.tags').html('<%= j render "business/tags/tags", tags: @tags %>');

<% else %>
  <% if @errors.present? %>
    <% @errors.each do |error| %>
      $('#<%= error[0] %>_msgBlock').append('<div class="notice"><%= escape_javascript(error[1]) %></div>');
      $('#<%= error[0] %>_Block').addClass('has-error');
    <% end %>
  <% else %>
    $('.tags').html('<%= j render "business/tags/company_tags", tags: @tags %>');
    $('.smallModal').hide();
  <% end %>
<% end %>
