<% if params[:candidate_id].present? %>
  $('<%= j render "business/tags/form" %>').insertBefore("#add_tag");
  $('#add_tag').hide();
<% elsif params[:tag] == "company" %>
  $('.smallModal').find('form').remove()
  $('.smallModal').find('.new-title').html('<%= j "Add Tags" %>');
  $('.smallModal').find('.new-modal-header').after('<%= j render "business/tags/form_multiple" %>');
  $('.smallModal').show();
<% else %>
  checkbox = $('.applicant-checkbox');
  applicant_ids = [];
  applicants = [];
  applicant_names = [];

  $('.smallModal').find('form').remove()
  $('.smallModal').find('.new-title').html('<%= j "Add Tags" %>');
  $('.smallModal').find('.new-modal-header').after('<%= j render "business/tags/form_multiple" %>');
  $('.smallModal').show();
  $('.recipients').append('<div class="dropdown"> <div class="dropdown-button color="black">" 5 Candidates Selected</div> <div class="dropdown-content multiCandidates">')

  for (i = 0, len = checkbox.length; i < len; i++) {
    n = checkbox[i];
    if ($(n).find('input').is(':checked') === true) {
      applicant = [];
      if (!applicant_ids.includes($(n).data('id'))) {
        applicant_ids.push($(n).data('id'));
      }
      if (!applicant.includes($(n).data('id'))) {
        applicant.push($(n).data('id'));
      }
      if (!applicant.includes($(n).parent().parent().find('.name').data('id'))) {
        applicant.push($(n).parent().parent().find('.name').data('id'));
      }
      applicants.push(applicant);
    }
  }

  $('.newModal').find('#applicant_ids').val(applicant_ids)

  for (j = 0, len1 = applicants.length; j < len1; j++) {
    n = applicants[j];
    $('.multiCandidates').append('<div class="user-tag" data-id=' + n[0] + '> <div class="name">' + n[1] + '</div> <div class="delete-tag" id="delete-multiple"> &times </div> </div>');
  }
<% end %>