.add-work-experience-page
  .form-row-no-border
    .contain-50
      = f.label :school, "School"
      = f.text_field :school, placeholder: "School", autocomplete: 'off'
    .contain-50
      = f.label :school, "Degree"
      = f.text_field :degree,  placeholder: "Degree", autocomplete: 'off'
  .form-row-no-border
    .contain-50
      = f.label :start_year, "Start Year"
      = f.select :start_year, (1960..Time.now.year).to_a
    .contain-50
      = f.label :end_year, "Graduation Year (or Expected)"
      = f.select :end_year, (1960..Time.now.year).to_a
  .form-row-no-border
    = f.label :description, "Details"
    = f.text_area :description, rows: 4, class: "form-control", hide_label: true, placeholder: "Description"
  .form-row-no-border#clear-both
    = f.hidden_field :_destroy
    = link_to "Remove", '#', class: "remove_fields"

