.add-work-experience
  .form-row-no-border
    = f.hidden_field :_destroy
    %i.fa.fa-trash.remove_fields
  .form-row
    .contain-50
      = f.label "Title"
      = f.text_field :title, id: "title_Block", placeholder: "Job Title", hide_label: true, autocomplete: "off"
      %span#title_msgBlock
    .contain-50
      = f.label "Company"
      = f.text_field :company_name, id: "company_name_Block", placeholder: "Company Name", hide_label: true, autocomplete: "off"
      %span#company_name_msgBlock
  / .form-row-no-border
  /   .contain-50
  /     = f.label "Industry"
  /     = f.collection_select(:industry, Industry.all, :id, :name, hide_label: true, prompt: "Select Industry")
  /     %span#industry_msgBlock
  /   .contain-50
  /     = f.label "Job Function"
  /     = f.collection_select(:function, Function.all, :id, :name, hide_label: true, prompt: "Select Job Function")
  /     %span#function_msgBlock
  .form-row-show-over
    .contain-25
      = f.label :start_month, "Started"
      .custom-select
        = f.select :start_month, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'Novemeber', 'December'], include_blank: "Select a Month", id: "start_month_Block", autocomplete: "off"
      %span#start_month_msgBlock
    .contain-25
      = f.label :start_year, ''
      .custom-select
        = f.select :start_year, options_for_select((1965..Time.now.year.to_i).to_a.reverse, selected: f.object.start_year), id: "start_year_Block",include_blank: "Year", autocomplete: "off"
      %span#start_year_msgBlock
    .contain-25
      = f.label :end_month, "End Date"
      .custom-select
        = f.select :end_month, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'Novemeber', 'December'], include_blank: "Select a Month", autocomplete: "off"
      %span#end_year_msgBlock
    .contain-25
      = f.label :end_year, ''
      .custom-select
        = f.select :end_year, options_for_select((1965..Time.now.year.to_i).to_a.reverse, selected: f.object.end_year), id: "start_year_Block",include_blank: "Year", autocomplete: "off"
    %span#end_month_msgBlock
  .form-row
    = f.check_box :current_position, checked_value: 1, unchecked_value: 0
    = f.label :current_position, "Current Position"
  .form-row
    #skills
      = f.label :skill, "Skills / Software Used"
      = f.text_field :skill,  class: 'ui-autocomplete-input user_skills', :placeholder => 'Add a Skill', id: "skills", hide_label: true, value: nil
      #search-results-user_skills 
      .btn#add-skill +
      #add-tags
        = f.fields_for :user_skills do |a|
          = render 'user_skills', f: a
  .form-row
    = f.label "Description"
    = f.text_area :description, rows: 3, placeholder: "Description", id: "description_Block", autocomplete: "off"
    %span#description_msgBlock
  .form-row
    = f.label :accomplishments, "Accomplishments"
    = link_to_add_fields_after "+ Add", f, :accomplishments
    = f.fields_for :accomplishments do |a|
      = render 'accomplishment_fields', f: a 
    
  

