.create-profile-container
  .create-profile-header
    %h1 Build your Career Portfolio 
    %h4 Step 2 - Work Experience and Education 
    %p Your profile is submitted to the jobs that you apply for so that you do not have to compelete a new profile every time. So please take a few minutes to complete your profile.   
  .create-profile-body
    = render 'job_seeker/background_images/form'
    .job-seeker-topper
      - if !current_user.background_image.present?
        .background
          .profile-header
            .personal-details
              = render 'job_seeker/user_avatars/user_avatar'
      - else 
        .background{:style => "background: url(#{@background.file}) no-repeat center center; background-size: cover "}
          .profile-header
            .personal-details
              = render 'job_seeker/user_avatars/user_avatar'
    = form_for [:job_seeker, @user], url: wizard_path do |f|
      .add-work-experience
        .form-row
          .header 
            .title Personal Details 
          .contain-50
            = f.label "First Name"
            = f.text_field :first_name, id: "first_name_Block", class: "form-control", placeholder: "First Name"
            %span#first_name_msgBlock
          .contain-50
            = f.label "Last Name"
            = f.text_field :last_name, id: "last_name_Block", class: "form-control", placeholder:"Last Name"
            %span#last_name_msgBlock
        .form-row
          .contain-50
            = f.label "E-mail"
            = f.text_field :email, id: "email_Block", class: "form-control", placeholder: "E-mail"
            %span#email_msgBlock
          .contain-50
            = f.label "Cell Phone"
            = f.text_field :phone, class: "form-control", hide_label: true, placeholder: "Phone"
        .form-row
          = f.label "Location"
          = f.text_field :location, class: "form-control", id: "geocomplete", label: "Location", autocomplete: "off"
        .form-row
          .personal-social-links
            .header
              .title Social Media    
              = link_to_add_fields_after "+ Link", f, :social_links
            
          = f.fields_for :social_links, class: "options" do |a|
            = render 'social_link_fields', f: a
        
      .footer
        = f.submit "Continue", class: "job-seeker-btn"
     
