.modal-body  
  .job-board-form-nav
    %ul
      %li#content-form.active Content
      %li#layout-form Layout
  = form_for [:job_seeker, @project], :html => { :multipart => true }, :remote => true do |f|    
    = f.hidden_field :kind, value: 'Photo'
    = f.hidden_field :job_board_id, value: @job_board.id
    = hidden_field_tag :media_photo
    .job-board-form 
      .float-container
        .header 
          Header
        .body
          = f.text_field :header, class: "form-control subdomain-field"
      .float-container
        .header 
          Sub-Header
        .body  
          = f.text_field :subheader, label: "Subheader", class: "form-control"
    .job-board-form 
      .images-container#variable-carousel
        - @section.media_photos.each do |img| 
          = image_tag img.file_name.xs_image 
      = render "business/media_photos/multi_form"

.modal-footer
  %fieldset
    = submit_tag "Save Section", class: "btn submit-button", id: "submit-section"
    .btn.border-button2{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel