= form_for [:job_seeker, @project], :remote => true do |f|    
  .modal-body
    .column-6
      .form-row-no-border
        = f.text_field :title, placeholder: "Project Title"
        .attachments-container
          - if @project.attachments.present? 
            - @project.attachments.each do |attachment| 
              = render "job_seeker/attachments/attachment", attachment: attachment
              
        = f.label :file, "Add a File (.pdf, .doc, .ppt, .xcl etc.)"
        = file_field_tag :file, id: 'attachment-up', method: :post

        = f.label :link, "Add a Link"
        = text_field_tag :link, "", placeholder: "Add a link, we will do the rest", id: 'link-up', autocomplete: "off"
        %p Upload content from Website, Youtube, Vimeo, Prezi, Blog etc. Learn More

        = f.label :description, "Description / Problem"
        = f.text_area :description
        = f.label :solution, "Implemented Solution"
        = f.text_area :solution
        = f.label :role, "My Role in Project"
        = f.text_area :role
        = hidden_field_tag :attachment
    .column-4
      .column-container
        .title Skills Used
        = text_field_tag '', '', :class => 'ui-autocomplete-input skills', :placeholder => 'Add a Skill', id: "tag_name", hide_label: true
        #search-results-tags  
        .btn#add-tag-button Add
        = hidden_field_tag :skills
        = f.hidden_field :user_id, value: current_user.id
  .modal-footer
    %fieldset
      = f.submit "Save Project", class: "btn submit-button", id: "submit-section"
      .btn.border-button{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel