.modal#user-information
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title Personal Information
      = bootstrap_form_for [:job_seeker, current_user] do |f| 
        .modal-body
          .row
            .col-md-6
              = f.text_field :first_name
            .col-md-6
              = f.text_field :last_name
          .row
            .col-md-6
              = f.text_field :phone
            .col-md-6
              = f.text_field :location, class: "form-control", id: "geocomplete", label: "Location", autocomplete: "off"
          .row
            .col-md-12
              = f.text_area :tag_line, label: "Summary"        
        .modal-footer
          = f.submit "Submit"