.fieldset.work-experience
  .row
    .col-md-12
      = f.text_field :name, :class => 'ui-autocomplete-input', :placeholder => 'Certification Name', id: "certification_name", hide_label: true
  .row
    .col-md-12
      = f.text_field :agency, hide_label: true, :placeholder => 'Certification Agency'
  .row
    .col-md-12
      = f.text_area :description, hide_label: true, :placeholder => 'Description'
  .row
    .col-md-3.col-sm-6.col-xs-6
      = f.select :start_month, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'Novemeber', 'December'], include_blank: "Select a Month"
    .col-md-3.col-sm-6.col-xs-6
      = f.text_field :start_year
    .col-md-3.col-sm-6.col-xs-6
      = f.select :end_month, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'Novemeber', 'December'], include_blank: "Select a Month", label: "Expiration Date"
    .col-md-3.col-sm-6.col-xs-6
      = f.text_field :end_year
  .row 
    .col-sm-6.col-md-offset-6
      = f.check_box :expires, checked_value: 1, unchecked_value: 0, label: "No expiration"
    %div#certification-results
    = f.hidden_field :user_id, value: current_user.id
    = hidden_field_tag :certification_id
  .row
    = link_to "Cancel", '#', class: "remove_fields btn border-button"