.fieldset.work-experience
  .row
    .col-md-6
      = f.text_field :title, class: "form-control", placeholder: "Job Title", hide_label: true
    .col-md-6
      = f.text_field :company_name, class: "form-control", placeholder: "Company Name", hide_label: true
    .col-md-12
      = f.text_field :city, class: "form-control", id: "geocomplete", hide_label: true, autocomplete: "off"
  / .row
  /   .col-md-6
  /     = f.collection_select(:industry_ids, Industry.all, :id, :name, hide_label: true, prompt: "Select Industry")
  /   .col-md-6
  /     = f.collection_select(:function_ids, Function.all, :id, :name, hide_label: true, prompt: "Select Job Function")
  .row
    .col-md-3.col-xs-6.col-sm-6
      = f.select :start_month, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'Novemeber', 'December'], include_blank: "Select a Month"
    .col-md-3.col-xs-6.col-sm-6
      = f.text_field :start_year
    .col-md-3.col-xs-6.col-sm-6
      = f.select :end_month, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'Novemeber', 'December'], include_blank: "Select a Month"
    .col-md-3.col-xs-6.col-sm-6
      = f.text_field :end_year
  .row 
    .col-sm-6.col-md-offset-6
      = f.check_box :current_position, checked_value: 1, unchecked_value: 0
  .row
    .col-md-12
      = f.text_area :description, rows: 5, class: "form-control", hide_label: true, placeholder: "Description"
  .row
    = link_to "Remove Experience", '#', class: "remove_fields btn border-button"