.create-profile-container 
  %h1 Welcome to TalentWiz
  %h4 Your profile is submitted to the jobs that you apply for so that you do not have to compelete a new profile every time. So please take a few minutes to complete your profile.
  .experience-container
    .header#experience-header
      .title Personal Information
    = bootstrap_form_for [:job_seeker, @user] do |f| 
      .modal-body
        .row
          .col-md-6
            = f.text_field :first_name
          .col-md-6
            = f.text_field :last_name
        .row
          .col-md-6
            = f.text_field :phone
          .col-md-6
            = f.text_field :location, class: "form-control", id: "geocomplete", label: "Location", autocomplete: "off"
    
        
  .experience-container
    .header#experience-header
      .title Experience
      .new_experience= link_to "+ Add Experience", new_job_seeker_work_experience_path, :data => {:remote => true}, id: 'new_work_experience_button', class: 'clear-button'
    = render 'job_seeker/work_experiences/experience'
  
  .education-container
    .header#education-header
      .title Education
      .new_experience= link_to "+ Add Education", new_job_seeker_education_path, :data => {:remote => true}, id: 'new_education_button', class: 'clear-button'
    = render 'job_seeker/educations/education_history'     
  
  .skills-container
    .header#certification-header
      .title Certifications
      .new_experience= link_to "+ Add Certification",new_job_seeker_user_certification_path, :data => {:remote => true}, id: 'new_user_certification_button', class: 'clear-button'
    = render 'job_seeker/user_certifications/certifications'   

  .footer 
     

    

   
