.job-seeker-profile
  = render 'job_seeker/background_images/form'
  .job-seeker-topper
    = render 'job_seeker/background_images/background'
  .main-container
    .experience-container.showing
      .header#experience-header
        .title Experience
        .new_experience
          = link_to "+ Add Experience", new_job_seeker_work_experience_path, remote: true, :html => {id: 'new_work_experience_button'}
      = render 'job_seeker/work_experiences/experience'
      
      
  .side-container
    = render 'job_seeker/educations/index'
    .skills-container
      .header#certification-header
        .title Certifications
        .new_experience
          = link_to "+ Add Certification", new_job_seeker_user_certification_path, :data => {:remote => true}, :html => {id: 'new_user_certification_button'}
      = render 'job_seeker/user_certifications/certifications'    

                
     
  
  / .main-body
  /   .sidebar
  /     .header
  /       .title Skills
  /     = render "job_seeker/user_skills/form"
  /     .sidebar-container
  /       - if current_user.user_skills.count == 0
  /         .skills-not-present
  /           %p No Skills Listed
  /       - else
  /         = render 'job_seeker/user_skills/skills'


  
.modal#right-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        .modal-title 

.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        .modal-title
        
      .modal-body
 

   

= render 'job_seeker/user_avatars/picture_modal'  


