.job-seeker-profile
  = render 'job_seeker/background_images/form'
  .job-seeker-topper
    = render 'job_seeker/background_images/background'
  #job-seeker-container
    .side-container
      .skill-container
        .header 
          Overview
        .body
          Current Position

      .skill-container
        .header 
          Skills / Software
          = link_to 
        .body
          - current_user.skills.each do |skill|
            = skill.name



    .main-container
      .toggle-actions
        = link_to job_seeker_work_experiences_path, remote: true do
          .filter#experience.activated Experience
        = link_to job_seeker_educations_path, remote: true do
          .filter#education Education
        = link_to job_seeker_user_certifications_path, remote: true do
          .filter#education Certifications
        / %li= link_to "Courses", job_seeker_educations_path, remote: true 
      .experience-container
        = render 'job_seeker/work_experiences/experience'



