.job-seeker-profile
  = render 'job_seeker/background_images/form'
  .job-seeker-topper
    = render 'job_seeker/background_images/background'
  #job-seeker-container
    .side-container
    .main-container
      .change-cv-profille-nav 
        %ul
          = link_to job_seeker_work_experiences_path, remote: true do
            %li#experience-link.active Experience
          = link_to job_seeker_educations_path, remote: true do
            %li#education-link Education
          = link_to job_seeker_user_certifications_path, remote: true do
            %li#certification-link Certifications
          / %li= link_to "Courses", job_seeker_educations_path, remote: true 
      .experience-container
        = render 'job_seeker/work_experiences/experience'
     


.modal#basic-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        .modal-title  
      .modal-body
= render 'job_seeker/user_avatars/picture_modal'  


