.event-form
  = form_for [:business, @invitation], html: {remote: true}  do |f|
    .modal-body#event-form
      .form-row-2
        .contain-1
          = f.label "Title"
          = f.text_field :title, id: "title_Block", placeholder: "Event Title", label: "Event Title"
          / %span#title_Block.help-block
        .contain-2
          = f.label "Type of Meeting"
          = f.select :kind, options_for_select(["Phone Interview", "Skype", "In-person Interview"]), :html => { id: "kind_Block", prompt: "Choose Type..."}
        = f.label "Location"
        = f.text_field :location, id: "geocomplete2", label: "Address", autocomplete: "off", placeholder: "Enter the Address"
      .form-row-2
        .assign_to_row#user_ids_block
          .assign-user
            .title Assign Users (Team)
            = text_field_tag "", "", :class => 'ui-autocomplete-input users', :placeholder => 'Type a users name to assign', id:"search-form"
            %div#search-results
          .assigned-users
            .title Assigned Users: 
      .form-row-2
        .assign_to_row#candidate_ids_block
          .assign-user
            .title Add Candidates
            = text_field_tag "", "", :class => 'ui-autocomplete-input candidates', :placeholder => 'Type a users name to assign', id: "search-form"
            %div#search-results
          .assigned-candidates
            .title Candidates:     
      .form-row-2
        .assign_to_row
          .assign-user
            .title Job
            = text_field_tag "", "", :class => 'ui-autocomplete-input jobs', :placeholder => 'Type a users name to assign', id: "search-form" 
            %div#search-results
          .assigned-jobs
            .title Job: 
      .form-row-2
        .header
          .title Add Times    
          = link_to_add_fields "+ Add Time", f, :interview_times 
      .form-row-3
        .subject
          .title Subject
          .sender= f.text_field :subject, id: "message-subject subject_Block", placeholder: "Type Subject Here", autocomplete: false
        .email-variables
          Template:
          = select_tag "Templates", options_for_select(current_company.email_templates.all.map{|m| [m.title, m.id, data: {:body => m.body}]}), :prompt => "Select E-mail Templates", data: {behaviour: 'saved-template-select'}
        .email-content
          = f.text_area :message, :class => "tinymce", rows: 15, data: {behaviour: 'comment-body'}, placeholder: "Type Your Message", id: "message_Block"
          = tinymce_assets        
          = tinymce 
      = f.hidden_field :user_ids, id: "user_ids"
      = f.hidden_field :candidate_ids, id: "candidate_ids"
      = f.hidden_field :job_id, id: "job_ids"
      = f.hidden_field :user_id, value: current_user.id
      = f.hidden_field :company_id, value: current_company.id
    .modal-footer
      = f.submit  "+ Send Invite", class: "btn submit-button", id: "submit-comment-btn"
      = link_to "Cancel", "#", remote: true, class: 'btn border-button2', id: 'cancel'

