= form_for [:business, @invitation], html: {remote: true}  do |f|
  .filter-radios
    %ul  
      %li.filter#invitation-times.active Add Times 
      %li.filter#invitation-details Details
  .calendar-container
    .column-7
      #interview-calendar
    .column-3
      .form-row
        = f.label :room_id, "Add Room"
        .assign-user#user_ids_Block
          .show-hidden-search-box
            .plain-text 
              No Room 
              .caret
          .hidden-search-box
            .select-box
              .select-item.add-calendar-events{data: {:id => ''}} No Room
              - if current_company.rooms.present?
                - current_company.rooms.each do |room|
                  .select-item.add-calendar-events{data: {:id => room.id}}= room.name
                = f.hidden_field :room_id, id: "select-box-field"
      
      .form-row
        = f.label :users, "Add Team Members"
        = render 'business/users/users_autocomplete'
        = f.hidden_field :user_ids, value: current_user.id, id: "user_ids"
      .form-row
        = f.label :times, "Times"
        .times
        #invitation-times-container
        .not-present-container#add_times_Block
          %p No Times Present
        %span.error#add_times_msgBlock
      
        
  .details-container
    .column-6
      .form-row-no-border
        - if !@candidate.present?
          = f.label :candidates, "Add Candidates"
          #candidate_ids_Block
            = render 'business/candidates/candidates_autocomplete'
          = f.hidden_field :candidate_ids, id: "candidate_ids"
          %span.error#candidate_ids_msgBlock
        - else 
          = f.label :candidates, "Add Candidates"
          #candidate_ids_block
            .user-tag
              .name= @candidate.full_name
          = f.hidden_field :candidate_ids, value: @candidate.id

      .email-area
        = label_tag "E-mail"
        .subject
          .title Subject
          = f.text_field :subject, id: "subject_Block", placeholder: "Type Subject Here", autocomplete: false
          %span.error#subject_msgBlock
        .email-variables
          = render 'business/interview_invitations/form_fields/insert_actions'
        .email-content
          = f.trix_editor :message, rows: 9, id: 'message_Block'
          %span.error#message_msgBlock
    .column-4
      .form-row-no-border
        = f.label "Title"
        = f.text_field :title, autocomplete: "off", id: "title_Block", placeholder: "Event Title" 
        %span.error#title_msgBlock.help-block
        
      
      .form-row-no-border
        = f.label :interview_kit_id, "Choose an Interview Kit"
        - if @stage_action.present? && @stage_action.interview_kit.present?
          %br
          = @stage_action.interview_kit.title
          = f.hidden_field :interview_kit_id, value: @stage_action.interview_kit.id
        - else 
          = f.collection_select(:interview_kit_id, current_company.interview_kits, :id, :title, :include_blank => true)

      .form-row-no-border
        = f.label "Interview Type"
        .toggle-actions
          .contain-3
            = f.radio_button :kind, "phone", id: 'phone', checked: true
            = f.label :kind, value: "Phone", for: "phone", class: 'border-button interview-type' do
              %i.fa.fa-phone
              Phone
          .contain-3
            = f.radio_button :kind, "video", id: 'video'
            = f.label :kind, value: "Video", for: "video", class: 'border-button interview-type' do
              %i.fa.fa-camera
              Video
          .contain-3
            = f.radio_button :kind, "inperson", id: 'inperson'
            = f.label :kind, value: "In Person", for: "inperson", class: 'border-button interview-type', id: 'in-person' do
              %i.fa.fa-user
              In person
        
      
      .form-row-no-border#interview-location
        = f.label "Address"
        = f.text_field :location, id: "geocomplete2", autocomplete: "off", placeholder: "Enter the Address"
      .form-row-no-border
        = f.label :body, "Details"
        = f.text_area :body, autocomplete: "off", placeholder: "Add the details for the meeting. This will be e-mailed to user once meeting confirmed. (I.e Location, Phone Number, etc.)", rows: 6, id: "details_Block"
        %span.error#body_msgBlock
      
  = f.hidden_field :stage_action_id, value: @stage_action.id if @stage_action.present?
  = f.hidden_field :job_id, id: "job_ids"
  = f.hidden_field :user_id, value: current_user.id
  = f.hidden_field :company_id, value: current_company.id
  
  .modal-footer
    = f.submit  "+ Send Invite", class: "btn submit-button"
    .btn.border-button.close-modal Cancel


