#interview
  .header
    - if interview.job == nil
      .title= "#{interview.kind}"
      .sent= "Sent: #{time_ago_in_words(interview.created_at)} ago"
    - else
      .title= "#{interview.kind} for #{interview.job.title}"
      .sent= "Sent: #{time_ago_in_words(interview.created_at)} ago"
  .box-row
    .title Pending Candidates: 
    .content 
      - interview.candidates.each do |user| 
        .user-tag= user.full_name
  .box-row
    .title Interviewers:
    .content
      - interview.users.each do |user|   
        .user-tag= user.full_name