.page-header
  %h2 Calendar
  .actions
    .application-actions
      = link_to "Send Invitation", new_business_interview_invitation_path,  data: {:turbolinks => "false"}, remote: true, class: "btn border-button", id: "client-action"
      
      = link_to "+ Interview", new_business_interview_path, data: {:turbolinks => "false"}, remote: true, class: "btn border-button interview-button", id: "client-action"
#main-container
  #padding
    .side-container
      = form_tag business_interview_invitations_path, :method => 'get', id: "search-form" do
        = render 'filters'
    .main-container
      = render 'business/interview_invitations/interview_invitations'

