= form_for [:job_seeker, @work_experience, @accomplishment], remote: true do |f|
  .accomplishment-form
    = f.label :body, "Add Accomplishment"
    = f.text_area :body, id: "body_Block"
    %span#body_msgBlock
    = f.hidden_field :work_experience_id, value: @work_experience.id 
    
    - if @accomplishment.new_record? 
      = f.submit "Create", class: "btn submit-button"
    - else 
      = f.submit "Update", class: "btn submit-button"
    .btn.border-button#remove_form Close
      