= form_for [:business, @background], :html => {id: "background-photo-up"} do |q| 
  .float-container#single-photo-form
    .header 
      .title Background
      = q.hidden_field :job_board_header_id, value: @job_board_header.id
      = q.label :file, "Add a Photo", class: "btn border-button" 
      = q.file_field :file
    #photo 
      - if !@background.new_record?
        %div{:id => "photo_#{@background.id}"}= image_tag @background.file.medium
      


