.modal-body#jobBoardRowModal
  .job-board-form-nav
    %ul
      %li#content-form.active Content
      %li#layout-form Layout
  = form_for [:business, @job_board, @section], :html => { :multipart => true, id: "job-board-section"}, :remote => true do |f|    
    = f.hidden_field :kind, value: 'Photo'
    = f.hidden_field :job_board_id, value: @job_board.id
    = hidden_field_tag :media_photo
    .job-board-form 
      .float-container
        .header 
          Header
        .body
          = f.text_field :header, class: "form-control subdomain-field"
      .float-container
        .header 
          Sub-Header
        .body  
          = f.text_field :subheader, label: "Subheader", class: "form-control"
  .job-board-form 
    .images-container
      - @section.media_photos.each do |img| 
        .media_photo
          = link_to business_media_photo_path(img), remote: true, :method => :delete do  
            %i.fa.fa-trash-o
          = image_tag img.file_name.xs_image 
    = render "business/media_photos/multi_form"
.modal-footer
  = submit_tag "Save Section", class: "btn submit-button", id: "submit-section"
  .btn.border-button.close-modal Cancel