.modal-body#jobBoardRowModal
  .job-board-form-nav
    %ul
      %li#content-form.active Content
      %li#layout-form Layout
  = form_for [:business, @section], :html => { :multipart => true, id: "job-board-section"}, :remote => true do |f|    
    = f.hidden_field :kind, value: 'Photo'
    = hidden_field_tag :media_photo
    = hidden_field_tag :subsidiary, @subsidiary.id if @subsidiary.present?
    .job-board-form 
      .float-container
        .header 
          Header
        .body
          = f.text_field :header, class: "form-control subdomain-field"
      .float-container
        .header 
          Sub-Header
        .body  
          = f.text_field :subheader, label: "Subheader", class: "form-control"
  .job-board-form 
    .images-container
      - @section.media_photos.each do |img| 
        .media_photo{id: "media_photo_#{img.id}"}
          = link_to business_media_photo_path(img), remote: true, :method => :delete do  
            %i.fa.fa-trash-o
          = image_tag img.file_name.xs_image 
    = render "business/media_photos/multi_form"
.modal-footer
  
  = submit_tag "Save Section", class: "btn submit-button", id: "submit-section"
  .btn.border-button.close-modal Cancel

  %script#template-upload{:type => "text/x-tmpl"}
    :cdata
      <div class="media-photo-load">
        {%=o.name%}
        <div>
          <div class="bar" style="width: 0%"></div>
        </div>
      </div>

