.stage
  .stage-header
    .body
      Settings
    .icons
      = link_to edit_business_job_board_path(@job_board), :data => {:remote => true} do
        %i.glyphicon.glyphicon-pencil

.stage
  .stage-header
    .body
      Header
    .icons
      = link_to edit_business_job_board_job_board_header_path(@job_board.id, @job_board_header.id), :data => {:remote => true} do
        %i.glyphicon.glyphicon-pencil
.stage
  .stage-header
    .glyphicon.glyphicon-move
    .body
      Jobs Container
    .icons
      = link_to "#{}", :data => {:remote => true } do
        %i.glyphicon.glyphicon-pencil

- @sections.each do |section| 
  .stage{id: "section_#{section.id}"}
    .stage-header
      .glyphicon.glyphicon-move
      .body
        = "#{section.kind} - #{section.header}"
      .icons
        = link_to edit_business_job_board_job_board_row_path(@job_board.id, section.id), :data => {:remote => true } do
          %i.glyphicon.glyphicon-pencil.add-job-board-sections
        = link_to business_job_board_job_board_row_path(@job_board.id, section.id), remote: true, :method => :delete do
          %i.glyphicon.glyphicon-remove