.modal#textRowModal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title Send Message   
      = form_for [:business, @job_board, @section], :html => { :multipart => true,  }, :remote => true, format: :js do |f|
        .modal-body     
          .float-container
            .header 
              Header
            .body
              = f.text_field :header, class: "form-control subdomain-field"
          .float-container
            .header 
              Sub-Header
            .body  
              = f.text_field :subheader, label: "Subheader", class: "form-control"
          .float-container
            .header 
              Content
            .body
              = f.text_area :description, class: "form-control subdomain-field"
          .float-container
            .header 
              Photo
            .body  
              = f.fields_for :media_photos, MediaPhoto.new do |q| 
                = q.file_field :file_name, class: "btn btn-file"
          .float-container
            .header 
              Layout
            .body  
              = f.radio_button :layout, 'float-left'
              = f.radio_button :layout, 'float-right'
              = f.radio_button :layout, 'center'
        .modal-footer
          %fieldset
            = f.hidden_field :kind, value: 'text'
            = f.hidden_field :job_board_id, value: @job_board.id
            = f.submit "Save Section", class: "btn submit-button"
            .btn.border-button2{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel
