= form_for [:business, @job_board, @section], html: {remote: true} do |f|
  .modal-body     
    .float-container
      .header 
        Header
      .body
        = f.text_field :header, class: "form-control subdomain-field"
    .float-container
      .header 
        Sub-Header
      .body  
        = f.text_field :subheader, label: "Subheader", class: "form-control"
    .float-container
      .header 
        Video Link
      .body  
        = f.text_field :video_link, label: "Video Link", class: "form-control"
    .float-container
      .header 
        Content
      .body
        = f.text_area :description, class: "form-control subdomain-field"
  .modal-footer
    %fieldset
      = f.hidden_field :kind, value: 'Video'
      = f.hidden_field :job_board_id, value: @job_board.id
      = f.submit "Save Section", class: "btn submit-button"
      .btn.border-button2{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel