%table   
  = form_for [:business, @job, @application, @comment], html: {remote: true} do |f| 
    %tr
      %td(width="10%")
        - if current_user.user_avatar.present? 
          = image_tag current_user.user_avatar.image.small_image, :class => 'circle', :size => "50x50" 
        - else 
          .circle-img= current_user.first_name.first.capitalize
      %td(width="80%")
        = f.text_field :body, rows: 2, class: "form-control ui-autocomplete-input user-comment", label: "Add Feedback", placeholder: "Add a note about #{@user.first_name} #{@user.last_name} (@mention a teammate)", :data => {:job_id => @job.id }

        / = f.text_area :body, :class => "tinymce ui-autocomplete-input user-comment", id: "comment-body", rows: 1, label: "Add Feedback", placeholder: "Add a note about #{@user.first_name} #{@user.last_name} (@mention a teammate)", :data => {:job_id => @job.id }
        / = tinymce_assets        
        / = tinymce :alternate
        %div#comment-team-members
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :application_id, value: @application.id
      %td(width="10%")
        = f.submit "+ Add", class: "btn btn-primary"



.user-comment
  