.comment-area
  = form_for [:business, @commentable, @new_comment], remote: true do |f|
    = f.text_area :body, id: "body_Block", class: "comment-body", rows: 12, cols: 12, placeholder: "Add a Note"
    %span#body_msgBlock
    .comment-area-footer
      = f.submit @new_comment.new_record? ? "+ Add Note" : "Update", class: "btn submit-button", id: "submit-comment-btn"
      - if @new_comment.new_record? 
        .btn.border-button2{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel
      - else
        = link_to "Cancel", '#', class: "remove_form btn border-button2"
      = f.hidden_field :user_id, value: current_user.id
