<% if @errors.present? %>
  <% @errors.each do |error| %>
    $('#<%= error[0] %>_msgBlock').append('<div class="notice"><%= escape_javascript(error[1]) %></div>');
    $('#<%= error[0] %>_Block').addClass('has-error');
  <% end %>
<% elsif @commentable.class == Job || @commentable.class == Client  %> 
  $('#job-action-container').html('<%= j render "business/comments/job_comments" %>');
  $('form').reset();
<% elsif params[:client_contact_id].present? %> 
  $('.applicant-profile').html('<%= j render "business/comments/applicant_notes", application: @contact %>');
<% else %>
  $('.display-applicant-details').html('<%= j render "business/comments/notes", comments: @comments %>');
  $('.action-area').children().remove();
  $('.active-button').removeClass('active-button');
  $('.applicant-nav').find('.activated').removeClass('activated');
  $('.applicant-nav').find('#notes').addClass('activated');  
<% end %>




