.modal#applyModal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
        %h4.modal-title Application Form
      = bootstrap_form_for [:job_seeker, @application] do |f|
        .modal-body            
          - @questions.each do |question|
            .question
              %h4= question.body
              .answer
                = f.fields_for :question_answers, QuestionAnswer.new do |q|
                  - if question.kind == 'Text' 
                    = q.hidden_field  :question_id, value: question.id
                    - if question.required == 1 
                      = q.text_field :body, hide_label: true, :required => true
                    - else
                      = q.text_field :body, hide_label: true
                  - elsif question.kind == 'Paragraph'
                    = q.hidden_field  :question_id, value: question.id
                    - if question.required == 1
                      = q.text_area :body, hide_label: true, :required => true
                    - else
                      = q.text_area :body, hide_label: true
                  - elsif question.kind == 'Checkbox'
                    = q.hidden_field  :question_id, value: question.id
                    = q.collection_radio_buttons(:question_option_id, question.question_options.all, :id, :body, hide_label: true)
                  - elsif question.kind == 'Multiple Choice'
                    = q.hidden_field  :question_id, value: question.id
                    = q.collection_radio_buttons(:question_option_id, question.question_options.all, :id, :body, hide_label: true)

          .fieldset
            .form-group.col-md-12
            = f.hidden_field :user_id, value: current_user.id
            = f.hidden_field  :job_id, value: @job.id
            = f.hidden_field  :company_id, value: @job.company.id
        .modal-footer
          = f.submit "Apply to Job", class: "btn btn-primary"

