.job-board-header{:style => "background-color: #EF7B2B"}
  .intro-message
    .header= @job.title
    .sub-header= @job.location
.main-row-container
  .inner-container
    .job-description
      .job-header
        %h2= @job.title
        = "#{@job.location} - #{@job.kind}"
      .job-body
        = @job.description.html_safe
    .extra-job-details
      %h3 Job Details 
      .detail
        .type Industry
        .content= @job.industry
      .detail
        .type Career Level 
        .content= @job.career_level
      .detail
        .type Posted
        .content= "#{time_ago_in_words(@job.created_at)} ago"
      .apply 
        - if current_user.present?
          - if @job.questions.present? 
            = link_to "Apply to this Job", new_job_seeker_job_candidate_path(@job.id), :class => "btn btn-primary app-btn"
          - else
            = form_for [:job_seeker, @job, @candidate] do |f|
              .fieldset
                = f.submit "Apply to Job", class: "btn submit-button" 
        - else          
          = link_to "Apply to Job", login_path, class: "btn btn-primary app-btn"


      




