= form_for [:business, @stage_action], remote: true do |f|
  .modal-body
    .form-row-no-border
      = f.label :name, "E-mail Name"
      = f.text_field :name, id: "name_Block", placeholder: "Interview Name", autocomplete: 'off'
      %span.error#name_msgBlock
      = f.check_box :automate
      = f.label :automate, "Automate Sending E-mail"

    .form-row
      .subject.subject_Block
        .title Subject
        = f.text_field :subject, id: "subject_Block", placeholder: "Type Subject Here", autocomplete: false
        %span.error#subject_msgBlock
      .email-variables
        .contain-2
          .show-hidden-search-box
            .plain-text
              Use E-mail Template
              .caret
          .hidden-search-box
            .insert-tokens
              - current_company.email_templates.each do |template|
                .insert-template{data: {:body => template.body}}= template.title
      .email-content
        = f.trix_editor :message, rows: 8, data: {behaviour: 'comment-body'}, id: "message_Block"


  .modal-footer
    = f.hidden_field :kind, value: "Email"
    = f.hidden_field :stage_id, value: @stage.id if @stage.present?
    = f.hidden_field :standard_stage, value: @standard_stage if @standard_stage.present?
    = f.hidden_field :job_id, value: @job.id
    = f.hidden_field :position, value: 1
    = f.hidden_field :assigned_to, value: "", id: "user_id"
    = f.button @stage_action.new_record? ? "Create Stage" : "Update", class: "btn submit-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'> </i> Saving..."}
    .btn.border-button.close-modal Cancel  
