.page-header
  %h2 Admin 
  .admin-nav
    %ul
      %li= link_to "Career Portal", business_job_board_path(current_company.job_board.id)
      %li= link_to "Templates", business_email_templates_path, class: 'active'
      %li= link_to "Settings", business_company_path(current_company)

.company-settings
  .side-container#job-nav
    = render 'business/shared/templates_sidebar'
  .main-container
    .standard-header
      %h3 Job Templates
      = link_to "+ Job Template", new_business_job_template_path, :data => {:remote => true }, class: "btn border-button"
    .templates
      = render "business/job_templates/job_templates"
   

