= form_for [:business, @job, @stage], remote: true do |f|
  .modal-body
    .form-row-no-border
      = f.label :name, "Stage Name"
      = f.text_field :name, id: "name_Block", placeholder: "Stage Name", autocomplete: 'off'
      %span.error#name_msgBlock
  .modal-footer
    = f.hidden_field :job_id, value: @job.id
    = f.hidden_field :position, value: 1
    = f.button @stage.new_record? ? "Create Stage" : "Update", class: "btn submit-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'> </i> Saving..."}
    .btn.border-button.close-modal Cancel  