= form_for [:business, @job, @stage], html: {remote: true, class: 'invite'} do |f|
  .modal-body
    = f.label :name, "Stage Name"
    = f.text_field :name, id: "name_Block", placeholder: "Stage Name", autocomplete: 'off'
    %span#name_msgBlock
  .modal-footer
    = f.hidden_field :job_id, value: @job.id
    = f.hidden_field :position, value: 1
    = f.submit @stage.new_record? ? "Create Stage" : "Update", class: "btn submit-button"
    .btn.border-button.close-modal Cancel  