= form_for [:business, @job, @application, @message], html: {remote: true, class: 'invite', data: {behaviour: 'has-saved-templates'}} do |f|
  .to 
    .title To:
    - if @application.manually_created == true 
      .sender= "#{@application.applicant_contact_details.first.full_name.capitalize } #{@application.applicant_contact_details.first.email}"
    - else
      .sender= "#{@application.applicant.full_name} (#{@application.applicant.email})" 
  .to
    .title From: 
    .sender= "#{current_user.full_name} (#{current_user.email})"       
  .subject
    .title Subject
    .sender= f.text_field :subject, id: "message-subject", placeholder: "Type Subject Here", autocomplete: false
  .email-variables
    Template:
    = select_tag "Templates", options_for_select(current_company.email_templates.all.map{|m| [m.title, m.id, data: {:body => m.body}]}), :prompt => "Select E-mail Templates", data: {behaviour: 'saved-template-select'}
  #message-body
    = text_area_tag :body, " ", :class => "tinymce", rows: 20, data: {behaviour: 'comment-body'}, placeholder: "Type Your Message"
    = tinymce_assets        
    = tinymce :alternate
    = hidden_field_tag :applicant_ids
  .email-footer
    %fieldset
    = hidden_field_tag :user_id, current_user.id
    %br
    = f.submit "Send Message", class: "btn submit-button"