.applicant-details
  .messages-container
    .activity-feed
      - if @messages.present?
        - @messages.each do |message|
          .activity
            .icon
              .glyphicon.glyphicon-envelope
            .activity-body
              .activity-body-header
                .details
                  - if message.user.user_avatar.present? 
                    = image_tag message.user.user_avatar.image.small_image, :class => 'circle', :size => "50x50"
                  - else 
                    .circle-img
                      %img(src="/tmp/little-man.png")     
                  .contain
                    = "#{message.user.full_name} sent a message"
                    %br
                    .time= time_ago_in_words(message.created_at)                 
              .activity-body-body  
                .comment-body
                  - if message.messageable.user.present?
                    = simple_format(Liquid::Template.parse(message.body).render('recipient' => message.messageable.user, 'company' => @current_company))
                  - else
                    = simple_format(Liquid::Template.parse(message.body).render('recipient' => message.messageable, 'company' => @current_company))
      - else
        .not-present-container
          %p There are currently no e-mails with applicant.
        