.comment-container
  - if @messages.present?
    - @messages.each do |message|
      .comment
        .comment-header
          .details
            .contain
              = "#{message.user.full_name} sent a message"
              %br
              .time= time_ago_in_words(message.created_at)                 
        .activity-body-body  
          .comment-body
            - if message.messageable.user.present?
              = simple_format(Liquid::Template.parse(message.body).render('recipient' => message.messageable.user, 'company' => @current_company))
            - else
              = simple_format(Liquid::Template.parse(message.body).render('recipient' => message.messageable, 'company' => @current_company))
  - else
    .not-present-container
      %p There are currently no messages with this Candidate
