.email-area
  = form_for [:business, @candidate, @message], html: {remote: true, class: 'invite', data: {behaviour: 'has-saved-templates'}} do |f|
    .to 
      .title To:
      - if @candidate.manually_created == true 
        .sender= "#{@candidate.full_name.capitalize } (#{@candidate.email})"
      - else
        .sender= "#{@candidate.user.full_name.capitalize} (#{@candidate.user.email})" 
    .to
      .title From: 
      .sender= "#{current_user.full_name} (#{current_user.email})"       
    .subject
      .title Subject
      .sender= f.text_field :subject, id: "message-subject", placeholder: "Type Subject Here", autocomplete: false
    .email-variables
      Template:
      = select_tag "Templates", options_for_select(current_company.email_templates.all.map{|m| [m.title, m.id, data: {:body => m.body}]}), :prompt => "Select E-mail Templates", data: {behaviour: 'saved-template-select'}
    #message-body
      = text_area_tag :body, " ", :class => "tinymce", rows: 20, data: {behaviour: 'comment-body'}, placeholder: "Type Your Message"
      = tinymce_assets        
      = tinymce :alternate
      = hidden_field_tag :applicant_ids
    .email-footer
      %fieldset
      = hidden_field_tag :user_id, current_user.id
      %br
      = f.submit "Send Message", class: "btn submit-button"