.email-area
  = form_for [:business, @contact, @message], html: {remote: true, class: 'invite', data: {behaviour: 'has-saved-templates'}} do |f|
    .to 
      .title To:
      .sender= "#{@contact.first_name} (#{@contact.email})"       
    .subject
      .title Subject
      .sender= f.text_field :subject, id: "message-subject", placeholder: "Type Subject Here", autocomplete: false
    #message-body
      = text_area_tag :body, " ", :class => "tinymce", rows: 20, data: {behaviour: 'comment-body'}, placeholder: "Type Your Message"
      = tinymce_assets        
      = tinymce :alternate
      = hidden_field_tag :applicant_ids
    .email-footer
      %fieldset
      = hidden_field_tag :user_id, current_user.id
      %br
      = f.submit "Send Message", class: "btn submit-button"