.email-area
  = form_for [:business, @messagable, @message], html: {remote: true, class: 'invite', data: {behaviour: 'has-saved-templates'}} do |f|
    .to 
      .title To:
      - if @messageable.manually_created == true 
        .sender= "#{@messageable.full_name.capitalize } (#{@messageable.email})"
      - else
        .sender= "#{@messageable.user.full_name.capitalize} (#{@messageable.user.email})" 
    .to
      .title From: 
      .sender= "#{current_user.full_name} (#{current_user.email})"       
    .subject
      .title Subject
      .sender= f.text_field :subject, id: "message-subject", placeholder: "Type Subject Here", autocomplete: false, class: "subject_Block"
    .email-variables
      .contain-2
        .show-hidden-search-box
          .plain-text
            Use E-mail Template
            .caret
        .hidden-search-box
          .insert-tokens
            - current_company.email_templates.each do |template|
              .insert-template{data: {:body => template.body}}= template.title
    .email-content
      = f.trix_editor :body, rows: 8, data: {behaviour: 'comment-body'}, id: "body_Block"
    .email-footer
      %fieldset
      = f.hidden_field :user_id, value: current_user.id
      = hidden_field_tag :candidate_id, @messageable.id
      %br
      = f.submit "Send Message", class: "btn submit-button"
      .btn.border-button.remove_form Cancel
      / .btn.border-button2{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel


      

