.applicant-view
  .applicant-main-container   
    .applicant-header
      .user-image
        .profile_picture
          = image_tag @avatar.image.large_image, :size => "200x200" if @avatar.present?
      
      .applicant-details
        %p.name= "#{@user.first_name.upcase} #{@user.last_name.upcase}"
        .contact
          - if @user.city.present?
            %span.glyphicon.glyphicon-map-marker  
              = "#{@user.city}, #{@user.countries.first.name}"
          %br
          %span.glyphicon.glyphicon-envelope 
            = "#{@user.email}"
          %br
          - if @user.city.present?
            %span.glyphicon.glyphicon-earphone 
              = "#{@user.phone}"
      .applicant-nav-bar  
        = render "business/shared/applicant_nav"

    .add-comment-on-applicant
      %table   
        = form_for [:business, @job, @application, @comment] do |f| 
          %tr
            %td(width="10%")
              - if current_user.user_avatar.present? 
                = image_tag current_user.user_avatar.image.small_image, :class => 'circle', :size => "50x50" 
              - else 
                .circle-img= current_user.first_name.first.capitalize
            %td(width="80%")
              = f.text_field :body, rows: 2, class: "form-control", label: "Add Feedback", placeholder: "Add a note about #{@user.first_name} #{@user.last_name}"
              = f.hidden_field :user_id, value: current_user.id
              = f.hidden_field :application_id, value: @application.id
            %td(width="10%")
              = f.submit "+ Add", class: "btn btn-primary"
    
    .applicant-messages
      .header
        %h4 Messages
        = link_to "Send a Message", '#', {:data => {:toggle => "modal", :target => "#messageModal"}}
      = render "message" 
     

      - if !@messages.present?
        .not-present-container
          %p There are currently no notes for this applicant.
      - else
        - @messages.each do |message|
          .message
            .message-header 
              - if current_user.user_avatar.present? 
                = image_tag message.user.user_avatar.image.small_image, :class => 'circle', :size => "50x50"
              - else 
                .circle-img= message.user.first_name.first.capitalize     
              %p.name= "#{message.user.first_name} #{message.user.last_name}"
              %p.sent= time_ago_in_words(message.created_at) unless message.created_at.blank?
            .body
              %p= simple_format(message.body)

  .applicant-side-container
    .current-stage
      %h4= "Current Stage: "
      - @job.stages.each do |stage|
        %p.stage{:class => is_current_stage?(stage, @application)}
          = stage.name
      .stage-actions
        = form_tag sort_business_job_stages_path do
          %input(type="submit" value="X Reject" class="btn btn-danger")

        = form_tag business_job_application_move_stages_path(@job.id, @application) do
          %input(type="submit" value="Next Stage" class="btn btn-success")


  / .applicant-side-container
  /   .current-stage
  /     %h4= "Current Stage: #{@stage.name}"

  /     = form_tag business_job_application_move_stages_path(@job.id, @application) do
  /       %input(type="submit" value="Move to Next Stage" class="btn btn-success")

  /     = form_tag sort_business_job_stages_path do
  /       %input(type="submit" value="X Reject" class="btn btn-danger")

  /   .add-task
  /     %h4 Add a Task
  /     %p Create a task for this applicant. Tag a team member using @name to notify them of the task.
  /     = form_tag do
  /       = text_area_tag(:q)

  /   .send-applicant-message
  /     %h4 Send a Message 
  /     %p Create a task for this applicant. Tag a team member using @name to notify them of the task.
  /     = form_tag do
  /       = text_area_tag(:q)
  / 

.footer 