.applicant-view
  .applicant-main-container   
    .applicant-header
      .user-image
        %img.profile_picture(src="/tmp/man.jpg")
      
      .applicant-details
        %p.name Logan Houston
        .contact
          %span.glyphicon.glyphicon-map-marker  
          Toronto, Ontario, CA
          %br
          %span.glyphicon.glyphicon-envelope 
          loganh0522@gmail.com
          %br
          %span.glyphicon.glyphicon-earphone 
          416-806-6907 
      .applicant-nav-bar  
        = render "business/shared/applicant_nav"

    .add-comment-on-applicant
      %table   
        = form_for [:business, @job, @application, @comment] do |f| 
          %tr
            %td(width="10%")
              %img.circle(src="/tmp/man.jpg")
            %td(width="80%")
              = f.text_field :body, rows: 2, class: "form-control", label: "Add Feedback", placeholder: "Add a note about #{@user.first_name} #{@user.last_name}"
              = f.hidden_field :user_id, value: current_user.id
              = f.hidden_field :application_id, value: @application.id
            %td(width="10%")
              = f.submit "+ Add", class: "btn btn-primary"
    
    .applicant-messages
      .header
        %h4 Messages
        %p.send_messages
          = link_to "Send a Message", '#', {:data => {:toggle => "modal", :target => "#send_messageModal"}} 
          = render "send_message" 

      .message
        .message-header 
          %img.circle(src="/tmp/man.jpg")
          %p.name Logan Houston
          %p.sent sent a message (2 min ago)
        .body
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lacus enim, tincidunt ut felis quis, interdum blandit nulla. Duis at facilisis elit, eu tincidunt massa. Sed lobortis justo sed tellus ullamcorper semper.

      .message
        .message-header 
          %img.circle(src="/tmp/man.jpg")
          %p.name Logan Houston
          %p.sent sent a message (2 min ago)
        .body
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lacus enim, tincidunt ut felis quis, interdum blandit nulla. Duis at facilisis elit, eu tincidunt massa. Sed lobortis justo sed tellus ullamcorper semper.
            
            

      
     
      

  















  .applicant-side-container
    .current-stage
      %h4= "Current Stage: #{@stage.name}"

      = form_tag business_job_application_move_stages_path(@job.id, @application) do
        %input(type="submit" value="Move to Next Stage" class="btn btn-success")

      = form_tag sort_business_job_stages_path do
        %input(type="submit" value="X Reject" class="btn btn-danger")

    .add-task
      %h4 Add a Task
      %p Create a task for this applicant. Tag a team member using @name to notify them of the task.
      = form_tag do
        = text_area_tag(:q)

    .send-applicant-message
      %h4 Send a Message 
      %p Create a task for this applicant. Tag a team member using @name to notify them of the task.
      = form_tag do
        = text_area_tag(:q)

.footer 