.applicant-view
  .applicant-main-container
    .applicant-header
      .user-image
        %img.circle(src="/tmp/man.jpg")
      
      .applicant-details
        %h3 Logan Houston 
        %p.location Toronto, Ontario, CA
        %p loganh0522@gmail.com
        %p 416-806-6907 
      
    .applicant-nav-bar  
      .ul 
        .li= link_to "Profile", business_job_application_path(@job.id, @application.id)
        .li Messages 
        .li= link_to "Notes", business_job_application_comments_path(@job.id, @application.id)
        .li= link_to "Assessments", business_job_application_assessments_path(@job.id, @application.id) 
        .li= link_to "Scorecard", business_job_application_scorecards_path(@job.id, @application.id)

    .applicant-experience
      .header
        %h3 Messages
      
      .notes
        - @messages.each do |message| 
          %p= message.user.first_name
          %p= message.body

  .applicant-side-container
    .current-stage
      %h4= "Current Stage: #{@stage.name}"

      = form_tag business_job_application_move_stages_path(@job.id, @application) do
        %input(type="submit" value="Move to Next Stage" class="btn btn-success")

      = form_tag sort_business_job_stages_path do
        %input(type="submit" value="X Reject" class="btn btn-danger")

    .add-task
      %h4 Add a Task
      %p Create a task for this applicant. Tag a team member using @name to notify them of the task.
      = form_tag do
        = text_area_tag(:q)

    .send-applicant-message
      %h4 Send a Message 
      %p Create a task for this applicant. Tag a team member using @name to notify them of the task.
      = form_tag do
        = text_area_tag(:q)

.footer 