.main-form-container
  = form_for [:business, @interview_kit], remote: true do |f|
    .standard-header 
      %h4 Create Interview Kit 
    .standard-body.standard-padding
      = f.label :title, "Interview Kit Name"
      = f.text_field :title, placeholder: "Interview Kit Name", id: 'title_Block'
      %span.error#title_msgBlock
    .form-radios
      %ul  
        %li.filter#overview.active 
          Overview
          %i.fa.fa-exclamation-circle
        %li.filter#questions 
          Questions
          %i.fa.fa-exclamation-circle
        %li.filter#scorecard 
          Scorecard   
          %i.fa.fa-exclamation-circle
    
    .overview-container.standard-padding#overview-container
      %h4 Interview Prep Details
      = f.label :preperation, "Interview Prep Details"
      = f.trix_editor :preperation
      %span.error#title_msgBlock
    
    .questions-container.hidden-container#question-container
      %h4 Questions

      %ul#nested-attributes
        - if @interview_kit.new_record? 
          = f.fields_for :questions, Question.new do |a|
            = render 'question_fields', f: a
        - else
          = f.fields_for :questions do |a|
            = render 'question_fields', f: a
        = link_to_add_fields("+ Add Question", f, :questions)
    
    .scorecard-container.standard-padding.hidden-container#scorecard-container
      %h4 Scorecard
      #nested-sections
        %ul#scorecard-sections
          = f.fields_for :scorecard, @scorecard do |s| 
            - if @interview_kit.new_record?
              = s.fields_for :section_options, SectionOption.new do |a|
                = render 'section_option_fields', f: a             
 
            - else 
              = s.fields_for :section_options do |a|
                = render 'section_option_fields', f: a
            = link_to_add_fields "+ Add Criteria", s, :section_options
    .container-footer
      = f.submit "Save", class: "btn hover-button"
      .btn.border-button.remove-main-form Cancel
