.question-area 
  .fieldset      
    .answer-type
      .title Question Type:
      .question-type= f.select :kind, options_for_select(['Text (Single Line)', 'Text (Multi-Line)', 'Yes / No', 'Select', 'Multiselect', 'File'], :selected => "#{f.object.kind}")
      .required-answer
        = f.check_box :required, checked_value: true, unchecked_value: false
        = f.label :required, "Required"     
    = f.text_field :body, id: "body_Block", class: "question-field", placeholder: "Add your Question", autocomplete: 'off'
    = f.text_area :guidelines, placeholder: "Guidelines as to what they should be looking for in an answer", class: "question-field"


    %span#body_msgBlock
    = f.hidden_field :_destroy 
    = f.fields_for :question_options, class: "options" do |a|
      = render 'question_option_fields', f: a
  
  = link_to_add_fields("+ Add Answer", f, :question_options)


