.activity{:id => activity.action, :class => "#{activity.trackable_type} job_#{activity.job_id}"}      
  .glyphicon.glyphicon-pencil
  .activity-body
    .activity-body-header
      .details
        - if activity.user.user_avatar.present?
          = image_tag activity.user.user_avatar.image.small_image, :class => 'circle', :size => "50x50"
        - else 
          .circle-img
            %img(src="/tmp/little-man.png") 
        .content 
          = "#{activity.user.first_name} #{activity.user.last_name} added a comment on #{activity.trackable.commentable.full_name}" 
          %br
          .time= "#{time_ago_in_words(activity.created_at)} ago" 
    .activity-body-body
      .comment-body
        = activity.trackable.body

    