<% if @errors.present? %>
  <% @errors.each do |error| %>
    $('#<%= error[0] %>_msgBlock').append('<div class="notice"><%= escape_javascript(error[1]) %></div>');
    $('#<%= error[0] %>_Block').addClass('has-error');
  <% end %>
<% else %>
  $('.all-candidates-table').html('<%= j render "business/client_contacts/contacts_table/table", contacts: @contacts %>');
  $('.pagination').html('<%= j render "business/client_contacts/contacts_table/pagination", contacts: @contacts %>');
  $('#basic-form-modal').modal('hide');
<% end %>
