.applicant-view
  .home-page-header
    
  .side-container
    %h2= "#{@contact.first_name} #{@contact.last_name}"
    = @contact.email
    = @contact.phone
  .applicant-profile-information
    .applicant-main-top
      = render 'business/client_contacts/contact_actions_nav'
    .applicant-details#main-container
      .messages-container.showing
        .activity-feed
          = render "business/messages/applicant_messages", application: @contact

      .notes-container
        .activity-feed
          = render "business/comments/applicant_notes", application: @contact
