= form_for [:business, @scorecard_answer], html: {remote: true} do |f|
  .interview-scorecard
    - @sections.each do |section|
      .form-row-no-border
        %h3= section.body
      - section.section_options.each do |criteria|
        .form-row
          .question= criteria.body
          = f.fields_for :scorecard_ratings, @scorecard_rating do |q|
            = q.hidden_field :section_option_id, value: criteria.id
            = q.hidden_field :user_id, value: current_user.id
            .scorecard-inputs
              = q.radio_button :rating, 1, class: 'application-scorecard-rating', id: "rating_#{criteria.id}_1"
              %label.glyphicon.glyphicon-remove{:for => "rating_#{criteria.id}_1"}
              
              = q.radio_button :rating, 2, class: 'application-scorecard-rating', id: "rating_#{criteria.id}_2"
              %label.glyphicon.glyphicon-thumbs-down{:for => "rating_#{criteria.id}_2"}

              = q.radio_button :rating, 3, class: 'application-scorecard-rating', id: "rating_#{criteria.id}_3"
              %label.glyphicon.glyphicon-thumbs-up{:for => "rating_#{criteria.id}_3"}

              = q.radio_button :rating, 4, class: 'application-scorecard-rating', id: "rating_#{criteria.id}_4"
              %label.glyphicon.glyphicon-star{:for => "rating_#{criteria.id}_4"}
            = q.text_area :body
      .form-row-no-border
        = f.label :feedback, "Feedback"
        = f.text_area :feedback

    = f.hidden_field :application_id, value: @application.id
    = f.hidden_field :interview_id, value: @interview.id
    = f.hidden_field :candidate_id, value: @candidate.id
    = f.hidden_field :scorecard_id, value: @scorecard.id
  .modal-footer
    = f.button "Submit", class: "btn submit-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'> </i> Saving..."}
    .btn.border-button.close-modal Cancel