.profile-container
  .toggle-actions
    = link_to business_job_application_path(candidate, @job), remote: true do
      .filter#experience.activated Experience
    = link_to business_candidate_path(candidate, cv: 'projects'), remote: true do 
      .filter#projects Projects
    = link_to business_candidate_path(candidate, cv: 'education'), remote: true do 
      .filter#education Education
    = link_to business_candidate_path(candidate, cv: 'certification'), remote: true do 
      .filter#certification Certifications
      
    - if candidate.resumes.present?
      = link_to business_candidate_resume_path(candidate.id, candidate.resumes.first.id), remote: true do 
        .filter#resume-link Resume
    - else 
      = link_to new_business_candidate_resume_path(candidate.id), remote: true do 
        .filter#resume-link Resume
  .experience-container
    / = render 'business/shared_manual_candidate/work_experience'

    
