!!!5
%html(lang='en-US')
  %body
    %h1 Contact Message
    %h2= "#{@contact.company}"
    %h4= "#{@contact.first_name} #{@contact.last_name}"
    %p= "#{@contact.phone} | #{@contact.email}"
    %p= "#{@contact.message}"



