!!!5
%html(lang='en-US')
  %body
    %h1 Contact Message
    %h2= "#{@demo.company}"
    %h3= "#{@demo.company_website} | Company Size: #{@demo.company_size}"
    %h4= "#{@demo.first_name} #{@demo.last_name}"
    %p= "#{@demo.phone} | #{@demo.email}"
    %p= "#{@demo.message}"