.contain
  .sidebar
    .nav
      = render 'business/shared/admin_sidebar'

  .main-container
    .header
      %h1 Career Portal     
    .body
      .edit-career-portal
        = form_for [:business, @job_board] do |f|  
          .sub-domain 
            %h4 Sub-domain
            %p This is the domain that job seekers will use to access your Career Portal. Embed this link in your website to provide applicants with access through your website.
            = f.text_field :subdomain, class: "form-control subdomain-field"
            %p.domain .talentwiz.com
          
          .logo
            %h4 Logo 
            %p Add a logo that will go in the header of your Career Portal. It is best if you use a logo with a white background. 
            
            = image_tag(@job_board.logo) if @job_board.logo?
            = f.file_field :logo, class: "btn btn-file"
            = f.hidden_field :logo_cache


          %h4 Description 
          %p Tell applicants about your company, tell them why they should apply, and what makes you awesome.
          = f.text_area :description, rows: 10, class: "form-control", placeholder: "Add a company description"
          %br
          = f.submit "Update Career Portal", class: "submit btn btn-primary"


