.container
  .sidebar
    = render 'business/shared/admin_sidebar'

  .edit-career-portal
    .header   
      %h4 Career Portal 
    .body
      = form_for [:business, @job_board] do |f|    
        %fieldset 
          %h4 Logo 
          %p Add a logo that will go in the header, so applicants feel more attached to your brand. It is best if you use a transparent logo. 
          
          = f.file_field :logo, class: "btn btn-file"

          %h4 Description 
          %p This description is added to your career portal. The purpose of the description is to provide a job seeker with an idea of the company culture. 
          = f.text_area :description, rows: 10, class: "form-control", placeholder: "Add a company description"
          %br
          = f.submit "Update Career Portal", class: "submit btn btn-primary"


