%navbar.navbar-fixed-top.navbar-inverse
  %a.navbar-brand #{current_company.name}
  %ul.nav.navbar-nav.navbar-right
    %li= link_to "Login", login_path
    %li= link_to "Register", new_user_path

%description_area


%job_board
  %h1 Current Opportunities 
  - @jobs.each do |job|
    %h4= link_to "#{job.company.name} - #{job.title}", job_seeker_job_path(job)
    %p= job.description