.page-header
  .custom-select#subsidiary-admin-select
    = select_tag :subsidiary, options_for_select([[current_company.name, current_company.id]]) + options_for_select(current_company.subsidiaries.collect{ |u| [u.subsidiary.name, u.subsidiary.id]}), include_blank: "#{current_company.name}" 
  .admin-nav
    %ul
      %li= link_to "Career Portal", business_job_board_path, class: 'active'
      %li= link_to "Templates", business_email_templates_path
      %li= link_to "Settings", business_company_path(current_company)

#create-portal
  .side-container
    .side-sections
      = render "sections"
  .main-container    
    = render 'portal_container'


  / %h4 Widget Details 
  / = '<script type="text/javascript" src= "http://prod-talentwiz.heroku.com/widget/company_jobs/'"#{current_company.widget_key}"'></script> <style type="text/css">.customCSSclass a{text-decoration:none;} </style>'

     
      
        


