.page-header
  .dropdown 
    .dropdown
      .dropdown-button
        %h2= "#{current_company.name} Admin"
      .dropdown-content#myDropdown
        - current_company.subsidiaries.each do |subsidiary|
          = link_to "#{subsidiary.subsidiary.name}", business_job_board_path(subsidiary_id: subsidiary.id)
  .admin-nav
    %ul
      %li= link_to "Career Portal", business_job_board_path, class: 'active'
      %li= link_to "Templates", business_email_templates_path
      %li= link_to "Settings", business_company_path(current_company)
#create-portal
  .side-container
    .change-containers-nav
      - if @job_board.kind == "basic"
        %ul 
          = link_to  business_job_board_path(kind: 'advanced'), :method => :put, remote: true do 
            %li Advanced 
          = link_to business_job_board_path(kind: 'basic'), :method => :put, remote: true do 
            %li.activated Basic
      - else 
        %ul 
          = link_to business_job_board_path(kind: 'advanced'), :method => :put, remote: true do 
            %li.activated Advanced 
          = link_to business_job_board_path(kind: 'basic'), :method => :put, remote: true do 
            %li Basic
    .side-sections
      = render "sections"

  .main-container    
    = render 'portal_container'


  / %h4 Widget Details 
  / = '<script type="text/javascript" src= "http://prod-talentwiz.heroku.com/widget/company_jobs/'"#{current_company.widget_key}"'></script> <style type="text/css">.customCSSclass a{text-decoration:none;} </style>'

     
      
        


