.page-header
  %h2 Career Portal
#create-portal
  .side-container
    .change-containers-nav
      - if @job_board.kind == "basic"
        %ul 
          = link_to  business_job_board_path(kind: 'advanced'), :method => :put, remote: true do 
            %li Advanced 
          = link_to business_job_board_path(kind: 'basic'), :method => :put, remote: true do 
            %li.activated Basic
      - else 
        %ul 
          = link_to business_job_board_path(kind: 'advanced'), :method => :put, remote: true do 
            %li.activated Advanced 
          = link_to business_job_board_path(kind: 'basic'), :method => :put, remote: true do 
            %li Basic
    .side-sections
      = render "sections"
    / .edit-career-portal
    /   .change-containers-nav
    /   - if @job_board.kind == "basic"
    /     .career-portal-details
    /       = render 'business/job_boards/form'
    /   - else 
    /     .career-portal-details

  .main-container
    / = render 'business/job_boards/advanced_portal/navbar'
    = render 'business/job_boards/advanced_portal/header'
    .sections
      = render 'business/job_boards/advanced_portal/sections'
    .jobs
      - current_company.open_jobs.each do |job|
        .job-posting
          .header-info
            .job-detail
              .title= link_to "#{job.title}", job_path(job)
            .view-job= link_to "View Job", job_path(job), class: "btn btn-primary"
          .bottom-info
            .left-side
              = "#{job.location}"
            .right-side 
              / = job.industries.first.name
              / = job.job_kind.first.name
              = "#{time_ago_in_words(job.created_at)} ago"



  / %h4 Widget Details 
  / = '<script type="text/javascript" src= "http://prod-talentwiz.heroku.com/widget/company_jobs/'"#{current_company.widget_key}"'></script> <style type="text/css">.customCSSclass a{text-decoration:none;} </style>'

     
      
        


