.form-row-no-border
  .contain-50
    = f.label :price, "Price"
    = f.text_field :price
  .contain-50
    = f.label :real_price, "Real Price"
    = f.text_field :real_price
.form-row-no-border
  .contain-50
    = f.label :duration, "Number of Days (i.e 30 days, 60 days)"
    = f.text_field :duration
  .contain-50
    = f.label :name, "Name (i.e ziprecruiter, ziprecruiter_boost"
    = f.text_field :name