%div{:class => "work-experience", id: "education_#{degree.id}"}
  .job-position
    .job-position-header
      .job-position-header-content
        .experience-header 
          .company= degree.school 
          .dropdown
            .dropdown-button
              %i.fa.fa-ellipsis-h.fa-lg
            .dropdown-content#myDropdown
              = link_to edit_job_seeker_education_path(degree.id), remote: true do
                %i.fa.fa-pencil
                .action Edit
              = link_to job_seeker_education_path(degree.id), remote: true, :method => :delete, data:{:confirm => "Are You Sure? You can not undo this action."}  do  
                %i.fa.fa-trash-o
                .action Destroy
        .experience-position
          .title= degree.degree
          .date= "#{degree.start_month} #{degree.start_year} - #{degree.end_month} #{degree.end_year}"
    .job-position-body
      .job-position-body-content
        .experience-body
          %p.description= degree.description