= bootstrap_form_for [:job_seeker, @education], html: {remote: true} do |f|
  .fieldset
    .row
      .form-group.col-md-12
        = f.text_field :school, class: "form-control", label: "School"
    .row
      .form-group.col-md-12
        = f.text_field :degree, class: "form-control", label: "Degree"
    .row
      .form-group.col-md-3
        = f.select :start_month, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'Novemeber', 'December']
      .form-group.col-md-3
        = f.text_field :start_year
      .form-group.col-md-3
        = f.select :end_month, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'Novemeber', 'December']
      .form-group.col-md-3
        = f.text_field :end_year
    .row
      .form-group.col-md-12
        = f.text_area :description, rows: 6, class: "form-control", label: "Description"
  = f.submit "Add Education", class: "submit btn btn-primary"



