= bootstrap_form_for [:job_seeker, @education], html: {remote: true} do |f|
  .fieldset
    .row
      .col-md-12
        = f.text_field :school, class: "form-control", label: "School"
    .row
      .col-md-12
        = f.text_field :degree, class: "form-control", label: "Degree"
    .row
      .col-md-3
        = f.select :start_month, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'Novemeber', 'December']
      .col-md-3
        = f.text_field :start_year
      .col-md-3
        = f.select :end_month, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'Novemeber', 'December']
      .col-md-3
        = f.text_field :end_year
    .row
      .col-md-12
        = f.text_area :description, rows: 6, class: "form-control", label: "Description"
    = f.submit @education.new_record? ? "Add Education" : "Update", class: "submit btn btn-primary"
    - if !@education.new_record?
      .close-form#edit-form.btn.btn-default     
        Close
    - else
      .close-form#new-form.btn.btn-default     
        Close
    - if !@education.new_record?
      = link_to "Remove this degree", job_seeker_education_path(@education), remote: true, method: :delete



