- @degrees.each do |degree| 
  .job-position
    .experience-header 
      .title= degree.school  
      .date= "#{degree.start_month} #{degree.start_year} - #{degree.end_month} #{degree.end_year}"
    .experience-body
      .company= degree.degree
      .description= degree.description