.main-form-container
  = form_for [:business, @scorecard], remote: true do |f|
    .standard-header
      %h4 Create Scorecard Template
    #scorecard-form
      = f.text_field :name, placeholder: "Template Name", autocomplete: "off", id: "name_Block"
      %span.error#name_msgBlock 
      
      #nested-sections
        %ul#scorecard-sections
          - if @scorecard.new_record?
            = f.fields_for :section_options, SectionOption.new do |a|
              = render 'section_option_fields', f: a        
          - else
            = f.fields_for :section_options do |a|
              = render 'section_option_fields', f: a      
          
          = link_to_add_fields "+ Add Criteria", f, :section_options
    
    .container-footer
      = hidden_field_tag :subsidiary, @subsidiary.id if @subsidiary.present?
      = f.submit "Save", class: "btn hover-button"
      .btn.border-button.remove-main-form Cancel