- if @scorecards.present?
  - @scorecards.each do |scorecard| 
    .template{id: "scorecard_#{scorecard.id}"}
      .title= scorecard.name
      .dropdown
        .dropdown-button
          %i.fa.fa-ellipsis-h.fa-lg
        .dropdown-content#myDropdown
          = link_to edit_business_scorecard_template_path(scorecard), remote: true  do
            %i.fa.fa-pencil
            .action Edit
          = link_to business_scorecard_template_path(scorecard), remote: true, :method => :delete, data: {:confirm => "Are You Sure? You can not undo this action."}  do  
            %i.fa.fa-trash-o
            .action Destroy
- else 
  .not-present-container
    %p You currently do not have any Scorecard Templates
    .add-object= link_to "+ Scorecard Template", new_business_scorecard_template_path, remote: true, class: 'btn border-button'
      



      