<% if @errors.present? %> 
  <% @errors.each do |error| %> 
    <% if error[0] == "section_options.body" %> 
      $('#scorecard-sections').find('.section-answer').each(function(){
        if ($(this).val().length === 0) {
          if ($(this).hasClass('has-error')){
            return
          }
          else {
            $(this).addClass('has-error');
            $(this).next().append('<div class="notice"><%= escape_javascript(error[1]) %></div>');
          }
        }
        else if ($(this).val().length > 0 ){
          $(this).removeClass('has-error');
          $(this).next('#optionBodyBlock').hide();
        }
      });
    <% else %> 
      if (!$('#<%= error[0] %>_Block').hasClass('has-error'))
        $('#<%= error[0] %>_msgBlock').append('<div class="notice"><%= escape_javascript(error[1]) %></div>');
        $('#<%= error[0] %>_Block').addClass('has-error');
      <% end %>
  <% end %>
<% else %>
  $('.main-form-container').remove();
  $('.main-container').show()
  $('#scorecard_<%= @scorecard.id %>').replaceWith('<%= j render "scorecard", scorecard: @scorecard %>');
<% end %>