.action-container{id: "stage_action_#{action.id}"}
  .top-row
    %i.fa.fa-calendar  
    .kind Interview:
    .title= action.name
    
  - if action.interview.present? && action.interview.start_time > Time.now
    Scheduled
    .links 
      = link_to "Interview Kit", new_business_interview_scorecard_path(interview: action.interview), remote: true
      = link_to "View",  business_interview_path(action.interview), remote: true
  
  - elsif action.interview.present? && action.interview.start_time < Time.now
    
    - if current_user.interviews.include?(action.interview)
      .links
        = link_to "Complete My Scorecard", new_business_interview_scorecard_path(interview: action.interview), remote: true

    .completed-scorecards
      - action.interview.interview_scorecards.each do |scorecard|
        .kind= scorecard.user.full_name
        .links= link_to "View", business_interview_scorecard_path(scorecard), remote: true
        .links= link_to "Edit", edit_business_interview_scorecard_path(scorecard), remote: true
    .pending-scorecards
      .pending Pending Interview Scorecard
      - action.interview.pending_scorecards.each do |user|
        .user-tag= user.full_name

  - else
    .links
      .dropdown
        .dropdown-button
          Schedule Interview
        .dropdown-content#action-container-dropdown
          = link_to new_business_interview_path(s_action: action, application: @application), remote: true, id: 'client-action' do
            %i.fa.fa-calendar
            .action Schedule Interview
          = link_to new_business_interview_invitation_path(s_action: action), remote: true, id: 'client-action' do 
            %i.fa.fa-paper-plane-o
            .action Send Invitation



    

    