.action-container{id: "stage_action_#{action.id}"}
  .top-row
    %i.fa.fa-calendar  
    .kind Interview:
    .title= action.name
    
  - if action.interview.present? && action.interview.start_time > Time.now && action.interview.candidate == @application.candidate
    .scheduled
      Scheduled
      = link_to "(View Details)",  business_interview_path(action.interview), remote: true
    .links 
      = link_to "Interview Kit", new_business_interview_scorecard_path(interview: action.interview), remote: true
  - elsif action.interview.present? && action.interview.start_time < Time.now && action.interview.candidate == @application.candidate
    .completed-scorecards
      Completed Scorecards
      - action.interview.interview_scorecards.each do |scorecard|
        .user-completed
          .circle= user_avatar(scorecard.user)
          .name= scorecard.user.full_name

          .links= link_to "View", business_interview_scorecard_path(scorecard), remote: true
          
          .links= link_to "Edit", edit_business_interview_scorecard_path(scorecard), remote: true

    .completed-scorecards      
      Pending Interview Scorecard
      - action.interview.pending_scorecards.each do |user|
        .user-completed
          .user= user_avatar(user)
          .name= user.full_name
          - if user == current_user
            .links
              .name= link_to "Finish Scorecard", new_business_interview_scorecard_path(interview: action.interview, application: @application), remote: true
          - else
            .links
              .name
                Pending
                = link_to "(Send Reminder)", new_business_interview_scorecard_path(interview: action.interview), remote: true

  - elsif action.interview_invitation.present? && action.interview_invitation.candidates.include?(@application.candidate)
    .links 
      Invitation Sent (Pending)  

  - else
    .links
      .dropdown
        .dropdown-button
          Schedule Interview
        .dropdown-content#action-container-dropdown
          = link_to new_business_interview_path(s_action: action, application: @application), remote: true, id: 'client-action' do
            %i.fa.fa-calendar
            .action Schedule Interview
          = link_to new_business_interview_invitation_path(s_action: action, candidate_id: @application.candidate.id), remote: true, id: 'client-action' do 
            %i.fa.fa-paper-plane-o
            .action Send Invitation




    

    