.applicant-filters
  .filter-container
    .filter-header
      %h4 Activity Type
      .glyphicon.glyphicon-minus
      .glyphicon.glyphicon-plus
    .filter-body
      %ul
        %li 
          = check_box_tag "", false, false, class: 'filter'
          .filter-title Comments
        %li
          = check_box_tag "", false, false, class: 'filter'
          .filter-title Scorecards
        %li
          = check_box_tag "", false, false, class: 'filter'
          .filter-title Messages
        %li
          = check_box_tag "", false, false, class: 'filter'
          .filter-title Moved Stages
        %li
          = check_box_tag "", false, false, class: 'filter'
          .filter-title Scheduled Interview
  .filter-container
    .filter-header
      %h4 Job Activity
      .glyphicon.glyphicon-minus
      .glyphicon.glyphicon-plus
    .filter-body 
      %ul
        - current_company.company_jobs.each do |job| 
          %li
            = check_box_tag "job", false, false, class: 'filter'
            .filter-title #{job}