.applicants
  .header
    = render "business/comments/add_comment"
    = render "business/messages/send_message"
    .no-action-buttons
      .btn.border-button Add Note
      .btn.border-button Send E-mail
    .applicant-action-buttons
      = link_to 'Add Note', '#', class: "btn active-application-button", id: "move-applicants", :data => {:toggle => "modal", :target => "#add_commentModal"}
      = link_to 'Send E-mail', '#', class: "btn active-application-button", id: "move-applicants", :data => {:toggle => "modal", :target => "#send_messageModal"}
  .applicant-table-body
    %table.table
      %thead
        %tr
          %th(width="1%")
            #select_all= check_box_tag 'Select All', class: 'select_all_applicants'
          %th(width="10%")
          %th(width="25%") Name 
          %th(width="20%") Job Title
          %th(width="20%") Stage 
          %th(width="25%") Rating
        %tbody
          .all_applicants_data
            - @candidates.each do |candidate|
              - if candidate.applications.first.stage.present?
                - stage = candidate.applications.first.stage.name
              - elsif candidate.applications.first.rejected == true
                - stage = "Rejected"
              - elsif 
                - stage = "Applied"

              %tr
                %td
                  .applicant-checkbox{:data => {:id => candidate.id}}
                    = check_box_tag "applicant_ids[]", candidate.id
                %td
                  - if candidate.manually_created == true 
                    .circle-img
                      %img(src="/tmp/little-man.png") 
                  - else
                    - if candidate.user.user_avatar.present? 
                      .circle
                        = image_tag candidate.user.user_avatar.image.small_image, :size => "50x50" 
                    - else
                      .circle-img
                        %img(src="/tmp/little-man.png") 
                %td.names
                  - if candidate.manually_created == true 
                    .name
                      = link_to "#{candidate.full_name}", business_candidate_path(candidate.id), remote: true
                      - if candidate.current_jobs.present?
                        .current-position= "#{candidate.current_jobs.first.title} - #{candidate.current_jobs.first.company_name}"
                  - else
                    .name{:data => {:id =>  "#{candidate.user.full_name}"}}
                      = link_to "#{candidate.user.full_name}", business_candidate_path(candidate.id), remote: true
                    - if candidate.user.current_jobs.present?
                      .current-position= "#{candidate.user.current_jobs.first.title} - #{candidate.user.current_jobs.first.company_name} "
                

                  %td
                    .position= candidate.applications.first.apps.title
                    .date-applied= candidate.applications.first.apps.location
                  %td
                    .stage= stage
                    .date-applied= "#{time_ago_in_words(candidate.created_at)} ago"
                  %td
                    = render 'business/ratings/form', application: candidate.applications.first
.modal#applicant-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
      .modal-body