.applicants
  .applicant-table-body
    %table.table
      %thead
        %tr
          %th(width="1%")
            #select_all= check_box_tag 'Select All', class: 'select_all_applicants'
          %th(width="10%")
          %th(width="25%") Name 
          %th(width="30%") Applied To
          %th(width="20%") Stage 
          %th(width="15%") Rating
        %tbody
          .spinner
          .all_applicants_data
            - @candidates.each do |candidate|
              - if candidate.applications.present? 
                - if candidate.applications.first.stage.present?
                  - stage = candidate.applications.first.stage.name
                - elsif candidate.applications.first.rejected == true
                  - stage = "Rejected"
                - else 
                  - stage = "Applied"
              - else 
                - stage = "No Job Apps"

              %tr
                %td
                  .applicant-checkbox{:data => {:id => candidate.id}}
                    = check_box_tag "applicant_ids[]", candidate.id, false, class: "checkbox"
                %td
                  = candidate_user_avatar(candidate)
                %td.names
                  - if candidate.manually_created == true 
                    .name{:data => {:id =>  "#{candidate.full_name} "}}
                      = link_to "#{candidate.full_name}", business_candidate_path(candidate.id), remote: true
                    - if candidate.current_jobs.present?
                      .current-position= "#{candidate.current_jobs.first.title} - #{candidate.current_jobs.first.company_name}"
                    - else
                      .current-position No Experience Listed
                  - else
                    .name{:data => {:id =>  "#{candidate.user.full_name}"}}
                      = link_to "#{candidate.user.full_name}", business_candidate_path(candidate.id), remote: true
                    - if candidate.user.current_jobs.present?
                      .current-position= "#{candidate.user.current_jobs.first.title} - #{candidate.user.current_jobs.first.company_name} "
                    - else
                      .current-position No Experience Listed
                      
                  - if candidate.applications.present?
                    %td
                      .position= candidate.applications.first.job.title
                      .date-applied= candidate.applications.first.job.location
                    %td
                      .position= stage
                      .date-applied= "#{time_ago_in_words(candidate.created_at)} ago"
                    %td
                      = render 'business/ratings/form', application: candidate.applications.first
                  - else
                    %td
                      .no-application No Job Applications
                    %td
                      .no-application No Job Applications
                    %td
                      .no-application No Rating





.modal#applicant-modal
  .modal-dialog
    .modal-content
      .modal-body