%h4#filter-header Filters
/ .filter
/   .filter-header
/     %h4 Location
/     .glyphicon.glyphicon-minus
/     .glyphicon.glyphicon-plus
/   .filter-body
/     #geocomplete= text_field_tag :city, "", id: "geocomplete", placeholder: "Enter a City"
.applicant-filters
  .filter
    .filter-header
      %h4 Rating
      .glyphicon.glyphicon-minus
      .glyphicon.glyphicon-plus
    .filter-body 
      = render 'business/ratings/rating_filter'
  .filter
    .filter-header
      %h4 Tags
      .glyphicon.glyphicon-minus
      .glyphicon.glyphicon-plus
    .filter-body
      %ul
        - @tags.each do |tag| 
          %li
            .applicant-filter-checkbox{:data => {:id => "#{tag.name}", :filter => 'Tags'}}
              = check_box_tag "", false, false, class: 'filter-checkbox'
              .filter-title #{tag.name.capitalize}
  .filter
    .filter-header
      %h4 Job Status
      .glyphicon.glyphicon-minus
      .glyphicon.glyphicon-plus
    .filter-body
      %ul
        %li 
          = sortable "Open", job_status: "open"
        %li 
          = sortable "Closed", job_status: "closed"
        %li 
          = sortable "Archived", job_status: "archived"

      / %ul
      /   %li 
      /     .applicant-filter-checkbox{:data => {:id => "open", :filter => 'JobStatus'}}
      /       = check_box_tag "", false, false, class: 'filter-checkbox'
      /       .filter-title Active
      /   %li.activity
      /     .applicant-filter-checkbox{:data => {:id => "closed", :filter => 'JobStatus'}}
      /       = check_box_tag "", false, false, class: 'filter-checkbox'
      /       .filter-title Closed
      /   %li.activity  
      /     .applicant-filter-checkbox{:data => {:id => "archived", :filter => 'JobStatus'}}
      /       = check_box_tag "", false, false, class: 'filter-checkbox'
      /       .filter-title Archived 

  .filter
    .filter-header
      %h4 Job Applied To:
      .glyphicon.glyphicon-minus
      .glyphicon.glyphicon-plus
    .filter-body 
      %ul
        - current_company.company_jobs.each do |job| 
          %li.open-job
            = sortable "#{job}", job: "#{job}"
            / .applicant-filter-checkbox{:data => {:id => "#{job}", :filter => 'JobAppliedTo'}}
            /   = check_box_tag "", false, false, class: 'filter-checkbox'
            /   .filter-title #{job}
  .filter
    .filter-header
      %h4 Location Applied To
      .glyphicon.glyphicon-minus
      .glyphicon.glyphicon-plus
    .filter-body 
      %ul
        - current_company.company_locations.each do |location| 
          %li
            = sortable "#{location}", kind: "Schedule Interview"
            / .applicant-filter-checkbox{:data => {:id => "#{location}", :filter => 'LocationAppliedTo'}}
            /   = check_box_tag "", false, false, class: 'filter-checkbox'
            /   .filter-title #{location}

  .filter 
    .filter-header
      %h4 Date Applied
      .glyphicon.glyphicon-minus
      .glyphicon.glyphicon-plus
    .filter-body
      %ul
        %li 
          .applicant-filter-checkbox{:data => {:id => "all_applied", :filter => 'DateApplied'}}
            = check_box_tag "", false, false, class: 'filter-checkbox'
            .filter-title All 
        %li
          .applicant-filter-checkbox{:data => {:id => "2_weeks", :filter => 'DateApplied'}}
            = check_box_tag "", false, false, class: 'filter-checkbox'
            .filter-titleLast 2 weeks
        %li 
          .applicant-filter-checkbox{:data => {:id => "last_month", :filter => 'DateApplied'}}
            = check_box_tag "", false, false, class: 'filter-checkbox'
            .filter-title Last Month
        %li
          .applicant-filter-checkbox{:data => {:id => "3_months", :filter => 'DateApplied'}}
            = check_box_tag "", false, false, class: 'filter-checkbox'
            .filter-title Last 3 Months
        %li 
          .applicant-filter-checkbox{:data => {:id => "last_year", :filter => 'DateApplied'}}
            = check_box_tag "", false, false, class: 'filter-checkbox'
            .filter-title Last Year