#features-nav
  %ul
    %li= link_to 'Plan Hiring Process', features_plan_hiring_process_path 
    %li= link_to 'Source Candidates', features_source_applicants_path     
    %li= link_to 'Manage Candidates', features_screen_applicants_path 
    %li= link_to 'Evaluate Candidates', features_manage_evaluate_path
    / %li= link_to 'Company Management', features_company_management_path

#feature-section-left
  .description
    %h2 Customize Your Hiring Pipeline
    %p We allow you to customize the recruitment process for each job to allow you to easily manage and track candidates through the hiring process. Add as many stages as you want to a job and simply drag and drop them to arrange them in any order you see fit. Candidates can be moved from stage to stage as they progress through the recruitment process.

  .image
    %img(src="/tmp/customize-stages.png")

#feature-section-right
  .description
    %h2 Build a Hiring Team
    %p Hiring is more effective when it is performed as a team. Hiring often requires multiple perspectives to effectively assess a potential candidate. Add as many people as you want to the hiring team for a job. If they are not a part of the system, you can simply invite them directly from the job, and they will be added to the job upon signing up.
  .image
    %img(src="/tmp/build-hiring-team.png")

#feature-section-left
  .description
    %h2 Custom Application Form 
    %p Gain more insight into an applicants fit for a job. Build a completely customizable application form, using multiple choice, yes/no and text questions. Candidates complete the form before their application is submitted to a job. 

  .image
    %img(src="/tmp/application-form.png")

#feature-section-right
  .description
    %h2 Create a Candidate Scorecard
    %p Knowing what skills, traits, and experience a candidate has is essential to hiring a candidate that is the right fit for the job. Build a scorecard for hiring members to use to evaluate candidates. Hiring members can see what others have rated and said about a candidates fit for a specific criteria. 
  .image
    %img(src="/tmp/applicant-scorecard.png")


.mid-container
  %h1 Transform your hiring process today
  = link_to "Try it Today", new_user_path, class: "white-border-button"

= render 'shared/bottom_header'