- if @job_board.job_board_header.background_image.present? 
  .portal-header{:style => "background: url(#{@job_board.job_board_header.background_image.file.large.url}) no-repeat center center fixed; background-size: cover "}
    .header-overlay{:style => "background: rgba(0,0,0,0.4)"}
      .intro-message
        .header= @job.title
        .sub-header= @job.location
- else
  .portal-header{:style => "background: url(/tmp/background_career_portal.jpeg)"}
    .header-overlay{:style => "background: rgba(0,0,0,0.5)"}
      .intro-message
        .header= @job.title
        .sub-header= @job.location

.main-row-container
  .inner-container
    .career-portal-job-container
      .application-form
        .job-header
          %h2= @job.title
        .application-header
          %h4 Application Form
          %p Please finish the following questions to apply to this job.
        .application-body
          = render 'form'
