.activity{:id => activity.action, :class => "#{activity.trackable_type} job_#{activity.job_id}"}      
  .icon
    .glyphicon.glyphicon-share-alt
  .activity-body
    .activity-body-header
      .details
        .content
          = "#{activity.user.full_name} added #{activity.trackable.candidate.full_name}  to #{activity.trackable.job.title} job opening"
          %br
          .time= "#{time_ago_in_words(activity.created_at)} ago" 