.activity{:id => activity.action, :class => "#{activity.trackable_type} job_#{activity.job_id}"}      
  .icon
    .glyphicon.glyphicon-share-alt
  
  .activity-body
    .activity-body-header
      - if activity.trackable.applicant.user_avatar.present? 
        = image_tag activity.trackable.applicant.user_avatar.image.small_image, :class => 'circle', :size => "50x50" 
      - else 
        .circle-img= activity.trackable.applicant.first_name.first.capitalize

      = link_to "#{activity.trackable.applicant.first_name} #{activity.trackable.applicant.last_name}", business_job_application_path(Job.where(id: activity.trackable.job_id).first.id, Application.where(user_id: activity.trackable.user_id, job_id: activity.trackable.job_id).first.id) 
      was moved to the 
      %span= "#{activity.trackable.stage.name}"
      stage.
    for the
    = link_to "#{activity.trackable.apps.title}", business_job_path(activity.trackable.apps)
    position by 
    = "#{activity.user.first_name} #{activity.user.last_name}"