.activity{:id => activity.action, :class => "#{activity.trackable_type} job_#{activity.job_id}"}      
  .icon
    .glyphicon.glyphicon-share-alt
  .activity-body
    .activity-body-header
      .details
        .content
          = activity.trackable.candidate.user.full_name  
          = "was rejected for #{activity.trackable.job.title} by #{activity.user.full_name} because "
          %br
          .time= "#{time_ago_in_words(activity.created_at)} ago" 