= form_for [:business, @order] do |f|
  #premium-boards
    - @job_feeds.each do |board| 
      .job-feed-container
        .header
          = image_tag board.logo.small_image if board.logo.present? 
          / = "#{board.posting_durations.first.duration}"
        .body 
          .form-row-no-border
            - if board.posting_durations.count > 1
              - board.posting_durations.each do |duration|
                .contain-50
                  .duration-name= duration.name
                  = link_to_add_to_cart "$ #{duration.price} ", f, :order_items, board.id, duration.id
            - else
              - board.posting_durations.each do |duration|
                = link_to_add_to_cart "$ #{duration.price} ", f, :order_items, board.id, duration.id
        .footer
          .form-row-no-border
            Details

  #cart 
    .header My Cart
    .body
    .footer
      #cart-total 
        .total Total
        .amount= "0"
      = f.hidden_field :total
      = f.hidden_field :job_id, value: @job.id
      = f.hidden_field :company_id, value: current_company.id
      - if current_company.customer.present? 
        = f.submit "Checkout", class: 'btn submit-button' 
      - else
        = link_to "Checkout", business_customers_path, class: 'btn submit-button' 