= form_for [:business, @order], remote: true do |f|
  #premium-boards
    - @job_feeds.each do |board| 
      .job-feed-container
        .header
          = image_tag board.logo.small_image if board.logo.present?
        .premium-body 
          .form-row-no-border
            Details
          .form-row-no-border
            - if board.posting_durations.count > 1 
              - if @job.ziprecruiter_premium_feed.present? 
                .posted 
                  %i.fa.fa-check-circle
                  .title Posted 
              - else
                - board.posting_durations.each do |duration|
                  .contain-50
                    .duration-name= duration.name
                    = link_to_add_to_cart "#{duration.price}", "#{duration.duration}", f, :order_items, board.id, duration.id
                
                
         
            - else
              - board.posting_durations.each do |duration|
                .duration-name= duration.name
                = link_to_add_to_cart "$ #{duration.price} ", "#{duration.duration}", f, :order_items, board.id, duration.id
               
                  
  #cart 
    .header My Cart
    .body
    .footer
      #sub-total
        .total Sub-total
        .amount
      #tax-total
        .total Tax
        .amount
      #cart-total 
        .total Total
        .amount= "0"
      = f.hidden_field :total
      = f.hidden_field :job_id, value: @job.id
      = f.hidden_field :company_id, value: current_company.id
      - if current_company.customer.present? 
        = f.submit "Checkout", class: 'btn submit-button' 
      - else
        = link_to "Checkout", new_business_customer_path, class: 'btn border-button', remote: true