!!! 5
%html
  %head
    %title Talentwiz
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "https://js.stripe.com/v2/", "https://js.stripe.com/v3/"
    

    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyABHyEmDvxwvbiHWIYaEDBFwxHmUjRiKic&libraries=places"></script>
    

    = tag :meta, name: "stripe-public-key", content: ENV['STRIPE_PUBLISHABLE_KEY']
    
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'/>
    = render 'business/shared/modals/smallModal'
    = render 'business/shared/modals/mediumModal'
    = render 'business/shared/modals/largeModal'
    = render 'business/shared/modals/sideModal'
    = render 'shared/modals/destroy_modal'
  %body
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2655934.js"></script>
    %header
      = render "/shared/business_header"   
    %section
      = render "/shared/messages"
      = yield 
   
  %footer
