= form_for [:business, current_user, @user_avatar], remote: true do |f| 
  .modal-body
    .crop-image
      - %w[x y w h].each do |attribute| 
        = f.hidden_field "crop_#{attribute}"     
      = image_tag user_avatar.image.url, class: "blah", id: 'cropbox'
    
    #img-preview-area
      .img-preview
        = image_tag @user_avatar.image.url, :id => "preview"
  .modal-footer
    = link_to business_user_user_avatar_path(current_user, @user_avatar), remote: true, :method => :delete, data:{:confirm => "Are You Sure? You can not undo this action."} do
      .glyphicon.glyphicon-trash
    = f.hidden_field :user_id, value: current_user.id
    = f.submit 'Crop and Save', class: "btn submit-button"
    .btn.border-button2{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel


