/ .modal#cropProfilePictureModal
/   .modal-dialog
/     .modal-content
/       .modal-header
/         %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times
/         %h4.modal-title Edit Profile Picture
= form_for [:business, current_user, @avatar], remote: true do |f| 
  .modal-body
    .crop-image
      - %w[x y w h].each do |attribute| 
        = f.hidden_field "crop_#{attribute}"     
      = image_tag user_avatar.image.url, class: "blah", id: 'cropbox'
    
    #img-preview-area
      .img-preview
        = image_tag user_avatar.image.url, :id => "preview"

  .modal-footer
    = f.hidden_field :user_id, value: current_user.id
    = f.submit 'Upload Image', class: "btn submit-button"
    .btn.border-button2{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel