#main-container
  #messages-container
    #messages-side-container
      - if @conversations.present? 
        - @conversations.each do |conversation| 
          = link_to business_conversation_path(conversation.id), remote: true do 
            .conversation-container{:id => "convo_#{conversation.id}"}
              = candidate_user_avatar(conversation.candidate)
              .details
                .header
                  .name= conversation.candidate.full_name
                .body
                  .mess= simple_format(conversation.messages.last.body)
      - else
        .not-present-container 
          %p There are currently no conversations
    #messages-main-container
      
